openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_guarantor.subpackage_guarantor/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_guarantor.subpackage_guarantor/v1
paths:
  /api/guarantors/v1/{encounter_id}:
    post:
      operationId: create
      summary: Create guarantor
      description: Creates a new guarantor and returns the newly created Guarantor object.
      tags:
      - subpackage_guarantor.subpackage_guarantor/v1
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guarantor/v1:Guarantor'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EncounterHasExistingGuarantorError
                  content:
                    $ref: '#/components/schemas/type_guarantor/v1:EncounterHasExistingGuarantorErrorType'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons:RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_guarantor/v1:GuarantorCreate'
  /api/guarantors/v1/{guarantor_id}:
    get:
      operationId: get
      summary: Get guarantor
      description: Retrieves a guarantor by its `guarantor_id`.
      tags:
      - subpackage_guarantor.subpackage_guarantor/v1
      parameters:
      - name: guarantor_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_guarantor/v1:GuarantorId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guarantor/v1:Guarantor'
    patch:
      operationId: update
      summary: Update guarantor
      description: Updates a guarantor by its `guarantor_id`.
      tags:
      - subpackage_guarantor.subpackage_guarantor/v1
      parameters:
      - name: guarantor_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_guarantor/v1:GuarantorId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_guarantor/v1:Guarantor'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_guarantor/v1:GuarantorUpdate'
components:
  schemas:
    type_commons:EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_commons:RequestValidationError:
      type: object
      properties:
        fieldName:
          type: string
        humanReadableMessage:
          type: string
      required:
      - fieldName
      title: RequestValidationError
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
