openapi: 3.2.0
info:
  title: Reference Fee Schedules API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: Fee Schedules
paths:
  /api/fee-schedules/v3/service-line/{service_line_id}/match:
    get:
      operationId: get_match
      summary: Get Match
      description: Gets the rate that matches a service line. No result means no rate exists matching the service line's dimensions.
      tags:
      - Fee Schedules
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_MatchResult'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - FailedToBuildServiceLineDimensions
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/service-line/{service_line_id}/match/{rate_id}:
    get:
      operationId: test_match
      summary: Test Match
      description: Tests a service line against a rate to see if it matches.
      tags:
      - Fee Schedules
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_RateId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_MatchTestResult'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - FailedToBuildServiceLineDimensions
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3:
    get:
      operationId: get_multi
      summary: Get Multi
      description: Gets a list of dimensions with their rates. The rates returned will always be the most recent versions of those rates.
      tags:
      - Fee Schedules
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of dimensions returned. Defaults to 100. Max is 100.
        required: false
        schema:
          type: integer
      - name: active_date
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: payer_uuid
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: organization_billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: states
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_State'
      - name: zip_codes
        in: query
        required: false
        schema:
          type: string
      - name: license_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
      - name: facility_type_codes
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
      - name: network_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_NetworkType'
      - name: payer_plan_group_ids
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
      - name: cpt_code
        in: query
        required: false
        schema:
          type: string
      - name: modifiers
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ProcedureModifier'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_RatesPage'
    post:
      operationId: upload_fee_schedule
      summary: Upload a fee schedule (a collection of rates)
      description: 'Uploads a new fee schedule.


        Each rate may either be totally new as qualified by its dimensions or a new version for an existing rate.


        If adding a new version to an existing rate, the rate must be posted with the next version number (previous version + 1) or a EntityConflictError will

        be returned.


        Use the dry run flag to discover already existing rates and to run validations. If validations for any rate fail, no rates will

        be saved to the system.'
      tags:
      - Fee Schedules
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_fee-schedules_v3_Rate'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - FeeScheduleValidationHttpError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_fee-schedules_v3_RateUploadWithPossibleErrors'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                rates:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_fee-schedules_v3_RateUpload'
              required:
              - dry_run
              - rates
  /api/fee-schedules/v3/unique-dimension-values:
    get:
      operationId: get_unique_values_for_dimension
      summary: Get Unique Values For Dimension
      description: Gets unique values for a dimension based on other selection criteria. The response is a list of dimensions with your criteria and the unique values populated. This API is useful for driving pivots on dimension values.
      tags:
      - Fee Schedules
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of values returned. Defaults to 1000. Max is 1000.
        required: false
        schema:
          type: integer
      - name: pivot_dimension
        in: query
        description: The name of the dimension to fetch unique values for.
        required: true
        schema:
          $ref: '#/components/schemas/type_fee-schedules_v3_DimensionName'
      - name: payer_uuid
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: organization_billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: states
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_State'
      - name: zip_codes
        in: query
        required: false
        schema:
          type: string
      - name: license_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
      - name: facility_type_codes
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
      - name: network_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_NetworkType'
      - name: payer_plan_group_ids
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
      - name: cpt_code
        in: query
        required: false
        schema:
          type: string
      - name: modifiers
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ProcedureModifier'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_DimensionsPage'
  /api/fee-schedules/v3/{rate_id}/history:
    get:
      operationId: get_rate_history
      summary: Get Rate History
      description: Gets every version of a rate.
      tags:
      - Fee Schedules
      parameters:
      - name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_RateId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_fee-schedules_v3_Rate'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/{rate_id}/{version}:
    delete:
      operationId: delete_rate
      summary: Delete a rate
      description: Soft deletes a rate from the system. Only the most recent version of a rate can be deleted.
      tags:
      - Fee Schedules
      parameters:
      - name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_RateId'
      - name: version
        in: path
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/payer-threshold/default:
    get:
      operationId: get_payer_thresholds_default
      summary: Get Payer Thresholds Default
      description: Gets the default payer threshold
      tags:
      - Fee Schedules
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
  /api/fee-schedules/v3/payer-threshold:
    get:
      operationId: get_payer_thresholds
      summary: Get Payer Thresholds
      description: Gets a list of payers and thresholds by their uuids
      tags:
      - Fee Schedules
      parameters:
      - name: payer_uuids
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_PayerThresholdsPage'
  /api/fee-schedules/v3/payer-threshold/{payer_uuid}:
    put:
      operationId: set_payer_threshold
      summary: Set Payer Threshold
      description: Sets the threshold information for a payer
      tags:
      - Fee Schedules
      parameters:
      - name: payer_uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
  /api/fee-schedules/v3/hard-delete:
    post:
      operationId: hard_delete_rates
      summary: Hard delete rates
      description: Hard deletes rates from the system that match the provided dimensions. This is a destructive operation and cannot be undone. If an empty dimensions object is provided, all rates will be hard deleted. The maximum number of rates this API will delete at a time is 10000. Returns the number of rates deleted and if that number is the maximum, the caller should call this API again to continue deleting rates.
      tags:
      - Fee Schedules
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_fee-schedules_v3_OptionalDimensions'
  /api/fee-schedules/v3/hard-delete-by-ids:
    post:
      operationId: hard_delete_rates_by_ids
      summary: Hard delete rates by IDs
      description: Hard deletes specific rates from the system by their IDs. This is a destructive operation and cannot be undone. Limited to 100 rate IDs maximum per request. For bulk deletion of more than 100 rates, use the hard_delete_rates endpoint with dimension filters. Returns the number of rates deleted.
      tags:
      - Fee Schedules
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_commons_RateId'
              required:
              - rate_ids
components:
  schemas:
    type_commons_PageToken:
      type: string
      title: PageToken
    type_fee-schedules_v3_MatchPayer:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - value
      - match
      - explanation
      description: Match information for a payer
      title: MatchPayer
    type_fee-schedules_v3_RateUpload:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - new_rate
            description: 'Discriminator value: new_rate'
          dimensions:
            $ref: '#/components/schemas/type_fee-schedules_v3_Dimensions'
          entries:
            type: array
            items:
              $ref: '#/components/schemas/type_fee-schedules_v3_RateEntry'
        required:
        - type
        - dimensions
        - entries
      - type: object
        properties:
          type:
            type: string
            enum:
            - new_version
            description: 'Discriminator value: new_version'
          rate_id:
            $ref: '#/components/schemas/type_commons_RateId'
          previous_version:
            type: integer
            description: New versions of rates must indicate the exact version they modify. When the system attempts to save this new version, if the latest version in the system does not equal this previous_version, the request will be rejected with a EntityConflictError.
          entries:
            type: array
            items:
              $ref: '#/components/schemas/type_fee-schedules_v3_RateEntry'
        required:
        - type
        - rate_id
        - previous_version
        - entries
      discriminator:
        propertyName: type
      title: RateUpload
    type_fee-schedules_v3_MatchDate:
      type: object
      properties:
        value:
          type: string
          format: date
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for date of service
      title: MatchDate
    type_fee-schedules_v3_MatchLicenseType:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for rendering provider license type
      title: MatchLicenseType
    type_fee-schedules_v3_MatchResult:
      type: object
      properties:
        threshold:
          $ref: '#/components/schemas/type_fee-schedules_v3_ThresholdMatch'
        rate_id:
          $ref: '#/components/schemas/type_commons_RateId'
      required:
      - threshold
      - rate_id
      title: MatchResult
    type_organization-providers_v2_LicenseType:
      type: string
      enum:
      - MD
      - NP
      - PA
      - LMFT
      - LCPC
      - LCSW
      - PMHNP
      - FNP
      - LPCC
      - DO
      - RD
      - SLP
      - APRN
      - LPC
      - PHD
      - PSYD
      - LMSW
      - LMHC
      - OTHER_MASTERS
      - BCBA
      - UNKNOWN
      - RPH
      - PHT
      - LAC
      - LMT
      - DC
      - ND
      - MA
      - PT
      - IBCLC
      - RN
      - DPT
      - LCMHC
      - CNM
      - RNFA
      - ACSW
      - APC
      - BCABA
      - BHA
      - OD
      - DPM
      - DA
      - DDS
      - DEH
      - DMD
      - PTA
      - LCADC
      - LCAT
      - LCMHCS
      - LCMHCA
      - LCSWA
      - LICSW
      - LISW
      - LMFTS
      - LMFTA
      - LPCI
      - LSCSW
      - MHCA
      - MHT
      - RBT
      - RCSWI
      - RHMCI
      - LPN
      - OTD
      - OMS
      - MFTA
      - APCC
      - DNP
      - AGNPBC
      - ANP
      - FNPPP
      - LCSWR
      - ALC
      - RMFTI
      - LAMFT
      - LPCA
      - LSWI
      - CSW
      - CPC
      - LGMFT
      - LLPC
      - PLPC
      - PLMFT
      - LMHCA
      - CIT
      - CT
      - MFT
      - LSW
      - PLMHP
      - PCMSW
      - LMHP
      - OTR/L
      - RPA
      - COTA
      - CRNP
      - SLP-CF
      - NP-C
      - PA-C
      - AMFT
      - CDN
      - CGC
      - CNS
      - MDPHD
      - AuD
      - ATC
      - LAT
      - OTA
      - LSSP
      - SLPA
      title: LicenseType
    type_commons_NetworkType:
      type: string
      enum:
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - AM
      - CH
      - DS
      - HM
      - LM
      - MA
      - MB
      - MC
      - OF
      - TV
      - VA
      - WC
      - ZZ
      - CI
      - BL
      title: NetworkType
    type_fee-schedules_v3_MatchNetworkTypes:
      type: object
      properties:
        value:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_NetworkType'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - value
      - match
      - explanation
      description: Match information for network types
      title: MatchNetworkTypes
    type_fee-schedules_v3_MatchFacilityTypeCode:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for facility type code
      title: MatchFacilityTypeCode
    type_fee-schedules_v3_MatchPayerPlanGroups:
      type: object
      properties:
        value:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - value
      - match
      - explanation
      description: Match information for a payer plan
      title: MatchPayerPlanGroups
    type_fee-schedules_v3_PayerThresholdsPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        payer_thresholds:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
      required:
      - payer_thresholds
      title: PayerThresholdsPage
    type_commons_EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_fee-schedules_v3_ThresholdMatch:
      type: object
      properties:
        threshold:
          $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
        rate_cents:
          type: integer
        match:
          type: boolean
        explanation:
          type: string
      required:
      - threshold
      - rate_cents
      - match
      - explanation
      description: Threshold and dollar amount matching for a service line
      title: ThresholdMatch
    type_fee-schedules_v3_RateEntry:
      type: object
      properties:
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        rate_cents:
          type: integer
        is_deactivated:
          type: boolean
      required:
      - start_date
      - rate_cents
      - is_deactivated
      description: A rate value in cents for a specific time range.  Rate entries can be deactivated, which is set by using the delete_rate endpoint.  Deactivated rate entries are not considered when matching against service lines.
      title: RateEntry
    type_commons_ProcedureModifier:
      type: string
      enum:
      - AV
      - AU
      - AW
      - AY
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '32'
      - '33'
      - '47'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '59'
      - '62'
      - '63'
      - '66'
      - '73'
      - '74'
      - '76'
      - '77'
      - '78'
      - '79'
      - '80'
      - '81'
      - '82'
      - '90'
      - '91'
      - '92'
      - '93'
      - '95'
      - '96'
      - '97'
      - '99'
      - A1
      - A2
      - A3
      - A4
      - A5
      - A6
      - A7
      - A8
      - A9
      - AA
      - AB
      - AD
      - AE
      - AF
      - AG
      - AH
      - AI
      - AJ
      - AK
      - AM
      - AO
      - AP
      - AQ
      - AR
      - AS
      - AT
      - AZ
      - BA
      - BL
      - BO
      - BP
      - BR
      - BU
      - CA
      - CB
      - CC
      - CD
      - CE
      - CF
      - CG
      - CH
      - CI
      - CJ
      - CK
      - CL
      - CM
      - CN
      - CR
      - CS
      - CT
      - CO
      - CQ
      - DA
      - E1
      - E2
      - E3
      - E4
      - EA
      - EB
      - EC
      - ED
      - EE
      - EJ
      - EM
      - EP
      - ER
      - ET
      - EV
      - EX
      - EY
      - F1
      - F2
      - F3
      - F4
      - F5
      - F6
      - F7
      - F8
      - F9
      - FA
      - FB
      - FC
      - FP
      - FQ
      - FR
      - FS
      - FT
      - FX
      - FY
      - G0
      - G1
      - G2
      - G3
      - G4
      - G5
      - G6
      - G7
      - G8
      - G9
      - GA
      - GB
      - GC
      - GE
      - GF
      - GG
      - GH
      - GJ
      - GK
      - GL
      - GM
      - GN
      - GO
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GV
      - GW
      - GX
      - GY
      - GZ
      - HA
      - HB
      - HC
      - HD
      - HE
      - HF
      - HG
      - HH
      - HI
      - HJ
      - HK
      - HL
      - HM
      - HN
      - HO
      - HP
      - HQ
      - HR
      - HS
      - HT
      - HU
      - HV
      - HW
      - HX
      - HY
      - HZ
      - J1
      - J2
      - J3
      - J4
      - J5
      - JA
      - JB
      - JC
      - JD
      - JE
      - JG
      - JW
      - JZ
      - K0
      - K1
      - K2
      - K3
      - K4
      - KA
      - KB
      - KC
      - KD
      - KE
      - KF
      - KG
      - KH
      - KI
      - KJ
      - KK
      - KL
      - KM
      - KN
      - KO
      - KP
      - KQ
      - KR
      - KS
      - KT
      - KU
      - KV
      - KW
      - KX
      - KY
      - KZ
      - LC
      - LD
      - LL
      - LM
      - LR
      - LS
      - LT
      - LU
      - M2
      - MA
      - MB
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MS
      - N1
      - N2
      - N3
      - NB
      - NR
      - NU
      - P1
      - P2
      - P3
      - P4
      - P5
      - P6
      - PA
      - PB
      - PC
      - PD
      - PI
      - PL
      - PM
      - PN
      - PO
      - PS
      - PT
      - Q0
      - Q1
      - Q2
      - Q3
      - Q4
      - Q5
      - Q6
      - Q7
      - Q8
      - Q9
      - QA
      - QB
      - QC
      - QD
      - QE
      - QF
      - QG
      - QH
      - QJ
      - QK
      - QL
      - QM
      - QN
      - QP
      - QQ
      - QR
      - QS
      - QT
      - QW
      - QX
      - QY
      - QZ
      - RA
      - RB
      - RC
      - RD
      - RE
      - RI
      - RR
      - RT
      - SA
      - SB
      - SC
      - SD
      - SE
      - SF
      - SG
      - SH
      - SJ
      - SL
      - SM
      - SN
      - SQ
      - SS
      - ST
      - SU
      - SV
      - SW
      - SY
      - T1
      - T2
      - T3
      - T4
      - T5
      - T6
      - T7
      - T8
      - T9
      - TA
      - TB
      - TC
      - TD
      - TE
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TP
      - TQ
      - TR
      - TS
      - TT
      - TU
      - TV
      - TW
      - U1
      - U2
      - U3
      - U4
      - U5
      - U6
      - U7
      - U8
      - U9
      - UA
      - UB
      - UC
      - UD
      - UE
      - UF
      - UG
      - UH
      - UJ
      - UK
      - UN
      - UP
      - UQ
      - UR
      - US
      - V1
      - V2
      - V3
      - W1
      - W2
      - W3
      - X4
      - XE
      - XP
      - XS
      - XU
      - XY
      - ZZ
      title: ProcedureModifier
    type_fee-schedules_v3_DimensionMatch:
      type: object
      properties:
        payer:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchPayer'
        geography:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchGeo'
        organization_billing_provider:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchProvider'
        date_of_service:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchDate'
        cpt_code:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchCptCode'
        modifiers:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchModifiers'
        license_type:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchLicenseType'
        facility_type_code:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchFacilityTypeCode'
        network_types:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchNetworkTypes'
        payer_plan_groups:
          $ref: '#/components/schemas/type_fee-schedules_v3_MatchPayerPlanGroups'
      required:
      - payer
      - geography
      - organization_billing_provider
      - date_of_service
      - cpt_code
      - modifiers
      - license_type
      - facility_type_code
      - network_types
      - payer_plan_groups
      description: Dimension matching for a service line
      title: DimensionMatch
    type_commons_UserId:
      type: string
      format: uuid
      title: UserId
    type_commons_ErrorMessage:
      type: string
      title: ErrorMessage
    type_organization-providers_v2_OrganizationProviderId:
      type: string
      format: uuid
      title: OrganizationProviderId
    type_fee-schedules_v3_MatchProvider:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for a billing provider
      title: MatchProvider
    type_commons_PayerPlanGroupId:
      type: string
      format: uuid
      title: PayerPlanGroupId
    type_fee-schedules_v3_RatesPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        rates:
          type: array
          items:
            $ref: '#/components/schemas/type_fee-schedules_v3_Rate'
      required:
      - rates
      title: RatesPage
    type_fee-schedules_v3_DimensionsPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        dimensions:
          type: array
          items:
            $ref: '#/components/schemas/type_fee-schedules_v3_OptionalDimensions'
      required:
      - dimensions
      title: DimensionsPage
    type_fee-schedules_v3_Dimensions:
      type: object
      properties:
        payer_uuid:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
        organization_billing_provider_id:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
        states:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_State'
        zip_codes:
          type: array
          uniqueItems: true
          items:
            type: string
        license_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
        facility_type_codes:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_FacilityTypeCode'
        network_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_NetworkType'
        payer_plan_group_ids:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
        cpt_code:
          type: string
        modifiers:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
      required:
      - payer_uuid
      - organization_billing_provider_id
      - states
      - zip_codes
      - license_types
      - facility_type_codes
      - network_types
      - payer_plan_group_ids
      - cpt_code
      - modifiers
      description: Dimension values that qualify a rate. For the optional dimensions, a null value signifies "all apply". For set-type dimensions, an empty set signifies "all apply". Only one of, but not both, of `network_types` and `payer_plan_group_id` may be populated.
      title: Dimensions
    type_fee-schedules_v3_MatchCptCode:
      type: object
      properties:
        value:
          type: string
        match:
          type: boolean
        explanation:
          type: string
      required:
      - value
      - match
      - explanation
      description: Match information for a CPT code
      title: MatchCptCode
    type_commons_State:
      type: string
      enum:
      - AA
      - AE
      - AP
      - AL
      - AK
      - AS
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - FM
      - GA
      - GU
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MH
      - MI
      - MN
      - MP
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - PR
      - PW
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VI
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: State
    type_fee-schedules_v3_MatchModifiers:
      type: object
      properties:
        value:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - value
      - match
      - explanation
      description: Match information for procedure modifiers
      title: MatchModifiers
    type_fee-schedules_v3_RateUploadWithPossibleErrors:
      type: object
      properties:
        rate_upload:
          $ref: '#/components/schemas/type_fee-schedules_v3_RateUpload'
        existing_rate:
          $ref: '#/components/schemas/type_fee-schedules_v3_Rate'
        possible_errors:
          type: array
          items:
            $ref: '#/components/schemas/type_fee-schedules_v3_ValidationError'
      required:
      - rate_upload
      - possible_errors
      title: RateUploadWithPossibleErrors
    type_commons_EntityConflictErrorMessage:
      type: object
      properties:
        entity_name:
          type: string
      required:
      - entity_name
      title: EntityConflictErrorMessage
    type_commons_ServiceLineId:
      type: string
      format: uuid
      title: ServiceLineId
    type_fee-schedules_v3_DimensionName:
      type: string
      enum:
      - payer_uuid
      - organization_billing_provider_id
      - cpt_code
      description: The name of a dimension.
      title: DimensionName
    type_commons_FacilityTypeCode:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '31'
      - '32'
      - '33'
      - '34'
      - '41'
      - '42'
      - '49'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '60'
      - '61'
      - '62'
      - '65'
      - '71'
      - '72'
      - '81'
      - '99'
      description: 'Box 24B on the CMS-1500 claim form. Line-level place of service is not currently supported.

        02 for telemedicine, 11 for in-person. Full list here:

        https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set'
      title: FacilityTypeCode
    type_fee-schedules_v3_OptionalDimensions:
      type: object
      properties:
        payer_uuid:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
        organization_billing_provider_id:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
        states:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_State'
        zip_codes:
          type: array
          uniqueItems: true
          items:
            type: string
        license_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
        facility_type_codes:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_FacilityTypeCode'
        network_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_NetworkType'
        payer_plan_group_ids:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
        cpt_code:
          type: string
        modifiers:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
      required:
      - states
      - zip_codes
      - license_types
      - facility_type_codes
      - network_types
      - payer_plan_group_ids
      - modifiers
      description: A dimensions object where all properties are optional.
      title: OptionalDimensions
    type_fee-schedules_v3_MatchTestResult:
      type: object
      properties:
        dimensions:
          $ref: '#/components/schemas/type_fee-schedules_v3_DimensionMatch'
        threshold:
          $ref: '#/components/schemas/type_fee-schedules_v3_ThresholdMatch'
      required:
      - dimensions
      - threshold
      title: MatchTestResult
    type_payers_v3_PayerUuid:
      type: string
      format: uuid
      title: PayerUuid
    type_fee-schedules_v3_PayerThreshold:
      type: object
      properties:
        upper_threshold_cents:
          type: integer
        lower_threshold_cents:
          type: integer
        disable_paid_incorrectly:
          type: boolean
      required:
      - disable_paid_incorrectly
      description: 'Rate thresholds that determine fee schedule rate matching behavior.  When a service line is adjudicated by a payer Candid determines if the payer''s

        allowed amount "matches" the rate value.  If the allowed amount doesn''t equal the rate value, Candid moves the claim to a PAID_INCORRECTLY state.  These

        optional thresholds allow a user to set wiggle room to avoid claims moving to PAID_INCORRECTLY and instead have them move directly to FINALIZED_PAID

        when the payer''s allowed amount is greater than [rate_cents - lower_threshold_cents] and less than [rate_cents + upper_threshold_cents].


        Additionally, a client can set disable_paid_incorrectly to avoid the PAID_INCORRECTLY claim status entirely.'
      title: PayerThreshold
    type_fee-schedules_v3_Rate:
      type: object
      properties:
        rate_id:
          $ref: '#/components/schemas/type_commons_RateId'
        dimensions:
          $ref: '#/components/schemas/type_fee-schedules_v3_Dimensions'
          description: The dimension values that distinguish this rate from others.
        version:
          type: integer
          description: The version of this rate in the system.
        updated_at:
          type: string
          format: date
        updated_by:
          $ref: '#/components/schemas/type_commons_UserId'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/type_fee-schedules_v3_RateEntry'
      required:
      - rate_id
      - dimensions
      - version
      - updated_at
      - updated_by
      - entries
      description: A comprehensive rate including the current rate value and all values for historic time ranges. The time ranges specified by each RateEntry are disjoint.  A rate must always have at least one entry.
      title: Rate
    type_fee-schedules_v3_ValidationError:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - overlapping_rate_entries
            description: 'Discriminator value: overlapping_rate_entries'
          message:
            type: string
          rate_a:
            $ref: '#/components/schemas/type_fee-schedules_v3_RateEntry'
          rate_b:
            $ref: '#/components/schemas/type_fee-schedules_v3_RateEntry'
        required:
        - type
        - message
        - rate_a
        - rate_b
      - type: object
        properties:
          type:
            type: string
            enum:
            - version_conflict
            description: 'Discriminator value: version_conflict'
          entity_name:
            type: string
        required:
        - type
        - entity_name
      - type: object
        properties:
          type:
            type: string
            enum:
            - organization_provider_not_found
            description: 'Discriminator value: organization_provider_not_found'
          id:
            type: string
        required:
        - type
        - id
      - type: object
        properties:
          type:
            type: string
            enum:
            - duplicate_rate
            description: 'Discriminator value: duplicate_rate'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - empty_entries
            description: 'Discriminator value: empty_entries'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - payer_plan_group_not_found
            description: 'Discriminator value: payer_plan_group_not_found'
          id:
            type: string
        required:
        - type
        - id
      - type: object
        properties:
          type:
            type: string
            enum:
            - payer_plan_group_does_not_match_rate_payer
            description: 'Discriminator value: payer_plan_group_does_not_match_rate_payer'
          rate_payer_uuid:
            $ref: '#/components/schemas/type_payers_v3_PayerUuid'
          payer_plan_group_payer_uuid:
            $ref: '#/components/schemas/type_payers_v3_PayerUuid'
        required:
        - type
        - rate_payer_uuid
        - payer_plan_group_payer_uuid
      - type: object
        properties:
          type:
            type: string
            enum:
            - payer_plan_group_network_type_mutual_exclusion
            description: 'Discriminator value: payer_plan_group_network_type_mutual_exclusion'
          entity_name:
            type: string
        required:
        - type
        - entity_name
      discriminator:
        propertyName: type
      title: ValidationError
    type_fee-schedules_v3_MatchGeo:
      type: object
      properties:
        zip_code:
          type: string
        state:
          $ref: '#/components/schemas/type_commons_State'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for state or zip code
      title: MatchGeo
    type_commons_RateId:
      type: string
      format: uuid
      title: RateId
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
