openapi: 3.0.1
info:
  title: Candid Health Auth Insurance Adjudications API
  description: REST API for Candid Health, an autonomous medical-billing and revenue-cycle management platform. Submit encounters and claims, run eligibility checks, capture charges, look up payers and fee schedules, retrieve insurance adjudications (ERAs / remits), and scan billing lifecycle events. All requests are authenticated with an OAuth bearer token obtained from the auth token endpoint.
  termsOfService: https://www.joincandidhealth.com
  contact:
    name: Candid Health Support
    url: https://docs.joincandidhealth.com/additional-resources/support
  version: '1.0'
servers:
- url: https://api.joincandidhealth.com/api
  description: Candid Health production API
security:
- bearerAuth: []
tags:
- name: Insurance Adjudications
  description: Retrieve ERA / 835 remittance adjudication detail.
paths:
  /insurance_adjudications/v1/{insurance_adjudication_id}:
    get:
      operationId: getInsuranceAdjudication
      tags:
      - Insurance Adjudications
      summary: Get an insurance adjudication (ERA / remit).
      description: Returns the insurance adjudication, i.e. the 835 electronic remittance advice detail for a claim including payments and adjustments.
      parameters:
      - name: insurance_adjudication_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The requested insurance adjudication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceAdjudication'
components:
  schemas:
    InsuranceAdjudication:
      type: object
      description: 835 electronic remittance advice (ERA) detail.
      properties:
        insurance_adjudication_id:
          type: string
          format: uuid
        payer:
          $ref: '#/components/schemas/Payer'
        claims:
          type: array
          items:
            type: object
            properties:
              claim_id:
                type: string
                format: uuid
              paid_amount_cents:
                type: integer
              adjustments:
                type: array
                items:
                  type: object
                  properties:
                    group_code:
                      type: string
                    reason_code:
                      type: string
                    amount_cents:
                      type: integer
        check_number:
          type: string
        paid_date:
          type: string
          format: date
    Payer:
      type: object
      properties:
        payer_uuid:
          type: string
          format: uuid
        payer_id:
          type: string
          description: External payer / CPID identifier.
        payer_name:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth bearer token obtained from POST /auth/v2/token. Send as `Authorization: Bearer <access_token>`.'
