openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_encounter-supplemental-information.subpackage_encounter-supplemental-information/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_encounter-supplemental-information.subpackage_encounter-supplemental-information/v1
paths:
  /api/encounter-supplemental-information/v1/{encounter_id}:
    get:
      operationId: get
      summary: Get Encounter Supplemental Information
      tags:
      - subpackage_encounter-supplemental-information.subpackage_encounter-supplemental-information/v1
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_encounter-supplemental-information/v1:SupplementalInformation'
    put:
      operationId: create
      summary: Create Encounter Supplemental Information
      tags:
      - subpackage_encounter-supplemental-information.subpackage_encounter-supplemental-information/v1
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-supplemental-information/v1:SupplementalInformation'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-supplemental-information/v1:CreateSupplementalInformationRequest'
  /api/encounter-supplemental-information/v1/{encounter_id}/{supplemental_information_id}:
    patch:
      operationId: update
      summary: Update Encounter Supplemental Information
      tags:
      - subpackage_encounter-supplemental-information.subpackage_encounter-supplemental-information/v1
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:EncounterId'
      - name: supplemental_information_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_encounter-supplemental-information/v1:SupplementalInformationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-supplemental-information/v1:SupplementalInformation'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-supplemental-information/v1:UpdateSupplementalInformationRequest'
    delete:
      operationId: delete
      summary: Delete Encounter Supplemental Information
      tags:
      - subpackage_encounter-supplemental-information.subpackage_encounter-supplemental-information/v1
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:EncounterId'
      - name: supplemental_information_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_encounter-supplemental-information/v1:SupplementalInformationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons:EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_commons:EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
