openapi: 3.2.0
info:
  title: Reference External Payment Account Config API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: External Payment Account Config
paths:
  /api/external-payment-account-config/v1:
    get:
      operationId: get_multi
      summary: Get Multi
      tags:
      - External Payment Account Config
      parameters:
      - name: limit
        in: query
        description: Defaults to 100
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_external-payment-account-config_v1_ExternalPaymentAccountConfigPage'
components:
  schemas:
    type_external-payment-account-config_v1_ExternalPaymentAccountConfigPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_external-payment-account-config_v1_ExternalPaymentAccountConfig'
      required:
      - items
      title: ExternalPaymentAccountConfigPage
    type_payment-account-configs_PaymentAccountConfigId:
      type: string
      format: uuid
      title: PaymentAccountConfigId
    type_external-payment-account-config_v1_ExternalPaymentAccountConfig:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_payment-account-configs_PaymentAccountConfigId'
        account_name:
          type: string
      required:
      - id
      - account_name
      title: ExternalPaymentAccountConfig
    type_commons_PageToken:
      type: string
      title: PageToken
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
