openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
paths:
  /eligibility-checks/v1:
    post:
      operationId: post
      summary: Post
      description: Sends real-time eligibility checks to payers through Stedi.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityRequest'
  /eligibility-checks/v1/batch:
    post:
      operationId: batch
      summary: Batch
      description: Sends a batch of eligibility checks to payers through Stedi.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:BatchEligibilityResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityRequest'
  /eligibility-checks/v1/batch/{batch_id}:
    get:
      operationId: poll-batch
      summary: Poll Batch
      description: Polls the status of a batch eligibility check.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityCheckPage'
  /eligibility-checks/v1/payer/search:
    get:
      operationId: payer-search
      summary: Payer Search
      description: Searches for payers that match the query parameters.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:PageToken'
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:PayerSearchResponse'
  /eligibility-checks/v1/recommendation:
    get:
      operationId: recommendation
      summary: Recommendation
      description: "Gets recommendation for eligibility checks based on filters. This endpoint will retrieve all the latest eligibility recommendations for each \neligibility recommendation type for the given filters. If you want to get a specific recommendation type, you can use the `type` query parameter."
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:FilterQueryString'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityRecommendation'
    post:
      operationId: create-recommendation
      summary: Create Recommendation
      description: Create an eligibiilty recommendation based on the request.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityRecommendation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:PostEligibilityRecommendationRequest'
  /eligibility-checks/v1/recommendation/{recommendation_id}/{version}/vote:
    put:
      operationId: vote-recommendation
      summary: Vote Recommendation
      description: Submit user feedback on an eligibility recommendation. The path must contain the next version number to prevent race conditions. For example, if the current version of the recommendation is n, you will need to send a request to this endpoint with `/{recommendation_id}/{n+1}/vote` to update the vote.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: recommendation_id
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityRecommendation'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter/common:ErrorBase4xx'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - VersionConflictError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter/common:VersionConflictErrorBody'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:Vote'
  /eligibility-checks/v1/get-multi/:
    get:
      operationId: get-multi
      summary: Get Multi
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/eligibilityChecks.subpackage_pre-encounter/eligibilityChecks/v1
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:PageToken'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: subscriber_member_id
        in: query
        required: false
        schema:
          type: string
      - name: payer_id
        in: query
        required: false
        schema:
          type: string
      - name: provider_npi
        in: query
        required: false
        schema:
          type: string
      - name: date_of_service
        in: query
        required: false
        schema:
          type: string
      - name: initiated_at_min
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: initiated_at_max
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/eligibilityChecks/v1:EligibilityCheckPage'
components:
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
