openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_credentialing.subpackage_credentialing/v2 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_credentialing.subpackage_credentialing/v2
paths:
  /api/provider-credentialing-span/v2/facility:
    post:
      operationId: create-facility
      summary: Create facility credentialing span
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons:RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_facility_id:
                  type: string
                  format: uuid
                  description: The ID of the service facility covered by the credentialing span.
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the service facility is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer covered by the credentialing span.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - service_facility_id
              - contracting_provider_id
              - payer_uuid
    get:
      operationId: get-all-facilities
      summary: Get all facility credentialing spans
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PageToken'
      - name: payer_uuid
        in: query
        description: Filter by payer.
        required: false
        schema:
          type: string
          format: uuid
      - name: contracting_provider_id
        in: query
        description: Filter to a particular contracting provider.
        required: false
        schema:
          type: string
          format: uuid
      - name: service_facility_id
        in: query
        description: Filter to a particular service facility.
        required: false
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpanPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons:UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/provider-credentialing-span/v2/facility/{facility_credentialing_id}:
    get:
      operationId: get-facility
      summary: Get facility credentialing span
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: delete-facility
      summary: Delete facility credentialing span
      description: Soft deletes a credentialing span rate from the system.
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update-facility
      summary: Update facility credentialing span
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons:UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the service facility is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer doing the credentialing.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - contracting_provider_id
  /api/provider-credentialing-span/v2:
    post:
      operationId: create
      summary: Create provider credentialing span
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons:RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rendering_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the rendering provider covered by the credentialing span.
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the service facility is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer covered by the credentialing span.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                regions:
                  $ref: '#/components/schemas/type_commons:Regions'
                  description: The states covered by the credentialing span. A span may be national and cover all states.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - rendering_provider_id
              - contracting_provider_id
              - payer_uuid
              - regions
    get:
      operationId: get-all
      summary: Get all provider credentialing spans
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PageToken'
      - name: payer_uuid
        in: query
        description: Filter by payer.
        required: false
        schema:
          type: string
          format: uuid
      - name: provider_id
        in: query
        description: Filter to a particular provider. Use in conjunction as_rendering_provider and as_contracting_provider.
        required: false
        schema:
          type: string
          format: uuid
      - name: as_rendering_provider
        in: query
        description: Filter to credentialing spans where the provider is a rendering provider. To use this filter provider_id is required.
        required: false
        schema:
          type: boolean
      - name: as_contracting_provider
        in: query
        description: Filter to credentialing spans where the provider is a contracting provider. To use this filter provider_id is required.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:ProviderCredentialingSpanPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons:UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/provider-credentialing-span/v2/{provider_credentialing_id}:
    get:
      operationId: get
      summary: Get provider credentialing span
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: delete
      summary: Delete provider credentialing span
      description: Soft deletes a credentialing span rate from the system.
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update provider credentialing span
      tags:
      - subpackage_credentialing.subpackage_credentialing/v2
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing/v2:ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons:UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the service facility is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer doing the credentialing.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                regions:
                  $ref: '#/components/schemas/type_commons:Regions'
                  description: The states covered by the credentialing span. A span may be national and cover all states.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
components:
  schemas:
    type_commons:State:
      type: string
      enum:
      - AA
      - AE
      - AP
      - AL
      - AK
      - AS
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - FM
      - GA
      - GU
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MH
      - MI
      - MN
      - MP
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - PR
      - PW
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VI
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: State
    type_commons:EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons:PageToken:
      type: string
      title: PageToken
    type_commons:Regions:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - states
            description: 'Discriminator value: states'
          states:
            type: array
            items:
              $ref: '#/components/schemas/type_commons:State'
        required:
        - type
        - states
      - type: object
        properties:
          type:
            type: string
            enum:
            - national
            description: 'Discriminator value: national'
        required:
        - type
      discriminator:
        propertyName: type
      title: Regions
    type_commons:ProviderCredentialingSpanId:
      type: string
      format: uuid
      title: ProviderCredentialingSpanId
    type_commons:UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_commons:RequestValidationError:
      type: object
      properties:
        fieldName:
          type: string
        humanReadableMessage:
          type: string
      required:
      - fieldName
      title: RequestValidationError
    type_commons:UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
