openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_events.subpackage_events/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_events.subpackage_events/v1
paths:
  /api/events/v1/:
    get:
      operationId: scan
      summary: Scan
      description: Scans the last 30 days of events. All results are sorted by created date, descending.
      tags:
      - subpackage_events.subpackage_events/v1
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PageToken'
      - name: limit
        in: query
        description: Number of events to return. Minimum value is 1, maximum is 100. Defaults to 10.
        required: false
        schema:
          type: integer
      - name: event_types
        in: query
        description: 'Event types to filter on. Defaults to showing all event types.


          | Event Type | Description |

          |------------|-------------|

          | `CandidApi.Encounter.Created` | When a new claim is created |

          | `CandidApi.Encounter.StatusUpdated` | When a claim''s status has been updated |

          | `PreEncounter.Patient.Created` | When a new patient has been created |

          | `PreEncounter.Patient.Updated` | When a patient''s information has been updated |

          | `PreEncounter.Coverage.Created` | When a new coverage has been created for a patient |

          | `PreEncounter.Coverage.Updated` | When a patient''s coverage has been updated |

          | `PreEncounter.Tag.Created` | When a new tag has been created for a patient |

          | `PreEncounter.Tag.Updated` | When a patient''s tag has been updated |'
        required: false
        schema:
          type: string
      - name: created_before
        in: query
        description: Filters for only events created before this time (inclusive).
        required: false
        schema:
          type: string
          format: date-time
      - name: created_after
        in: query
        description: Filters for only events created after this time (inclusive).
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_events/v1:EventScanPage'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - BadRequestError
                  content:
                    $ref: '#/components/schemas/type_commons:BadRequestErrorMessage'
                required:
                - errorName
                - content
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - InternalError
                  content:
                    $ref: '#/components/schemas/type_commons:InternalErrorMessage'
                required:
                - errorName
                - content
  /api/events/v1/{event_id}:
    get:
      operationId: get
      summary: Get
      tags:
      - subpackage_events.subpackage_events/v1
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_events/v1:EventId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_events/v1:Event'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - BadRequestError
                  content:
                    $ref: '#/components/schemas/type_commons:BadRequestErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - InternalError
                  content:
                    $ref: '#/components/schemas/type_commons:InternalErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons:InternalErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: InternalErrorMessage
    type_commons:BadRequestErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: BadRequestErrorMessage
    type_commons:EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons:PageToken:
      type: string
      title: PageToken
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
