openapi: 3.2.0
info:
  title: Reference Provider Credentialing Span API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: Provider Credentialing Span
paths:
  /api/provider-credentialing-span/v2/facility:
    post:
      operationId: createFacility
      summary: Create facility credentialing span
      tags:
      - Provider Credentialing Span
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_facility_id:
                  type: string
                  format: uuid
                  description: The ID of the service facility covered by the credentialing span.
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer covered by the credentialing span.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - service_facility_id
              - contracting_provider_id
              - payer_uuid
    get:
      operationId: getAllFacilities
      summary: Get all facility credentialing spans
      tags:
      - Provider Credentialing Span
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: payer_uuid
        in: query
        description: Filter by payer.
        required: false
        schema:
          type: string
          format: uuid
      - name: contracting_provider_id
        in: query
        description: Filter to a particular contracting provider.
        required: false
        schema:
          type: string
          format: uuid
      - name: service_facility_id
        in: query
        description: Filter to a particular service facility.
        required: false
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/provider-credentialing-span/v2/facility/{facility_credentialing_id}:
    get:
      operationId: getFacility
      summary: Get facility credentialing span
      tags:
      - Provider Credentialing Span
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: deleteFacility
      summary: Delete facility credentialing span
      description: Soft deletes a credentialing span rate from the system.
      tags:
      - Provider Credentialing Span
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: updateFacility
      summary: Update facility credentialing span
      tags:
      - Provider Credentialing Span
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer doing the credentialing.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - contracting_provider_id
  /api/provider-credentialing-span/v2:
    post:
      operationId: create
      summary: Create provider credentialing span
      tags:
      - Provider Credentialing Span
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rendering_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the rendering provider covered by the credentialing span.
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer covered by the credentialing span.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                regions:
                  $ref: '#/components/schemas/type_commons_Regions'
                  description: The states covered by the credentialing span. A span may be national and cover all states.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - rendering_provider_id
              - contracting_provider_id
              - payer_uuid
              - regions
    get:
      operationId: getAll
      summary: Get all provider credentialing spans
      tags:
      - Provider Credentialing Span
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: payer_uuid
        in: query
        description: Filter by payer.
        required: false
        schema:
          type: string
          format: uuid
      - name: provider_id
        in: query
        description: Filter to a particular provider. Use in conjunction as_rendering_provider and as_contracting_provider.
        required: false
        schema:
          type: string
          format: uuid
      - name: as_rendering_provider
        in: query
        description: Filter to credentialing spans where the provider is a rendering provider. To use this filter provider_id is required.
        required: false
        schema:
          type: boolean
      - name: as_contracting_provider
        in: query
        description: Filter to credentialing spans where the provider is a contracting provider. To use this filter provider_id is required.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpanPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/provider-credentialing-span/v2/{provider_credentialing_id}:
    get:
      operationId: get
      summary: Get provider credentialing span
      tags:
      - Provider Credentialing Span
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: delete
      summary: Delete provider credentialing span
      description: Soft deletes a credentialing span rate from the system.
      tags:
      - Provider Credentialing Span
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update provider credentialing span
      tags:
      - Provider Credentialing Span
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer doing the credentialing.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                regions:
                  $ref: '#/components/schemas/type_commons_Regions'
                  description: The states covered by the credentialing span. A span may be national and cover all states.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
components:
  schemas:
    type_organization-providers_v3_OrganizationProviderV2:
      type: object
      properties:
        npi:
          type: string
          description: The NPI of the provider. This must be all digits [0-9] and exactly 10 characters long.
        is_rendering:
          type: boolean
          description: Whether the provider can be used to render services.
        is_billing:
          type: boolean
          description: Whether the provider can be used to bill services.
        first_name:
          type: string
          description: The first name of the provider, if the provider is an individual.
        last_name:
          type: string
          description: The last name of the provider, if the provider is an individual.
        organization_name:
          type: string
          description: The name of the provider, if the provider is an organization.
        provider_type:
          $ref: '#/components/schemas/type_organization-providers_v2_ProviderType'
          description: Whether the provider is an individual (NPPES Type 1) or organization (NPPES Type 2) provider.
        tax_id:
          type: string
          description: If the provider has a contract with insurance, this must be the same tax ID given to the payer on an IRS W-9 form completed during contracting.
        taxonomy_code:
          type: string
          description: A code designating classification and specialization.
        license_type:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
          description: The type of license that the provider holds.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderAddress'
          description: The addresses associated with this provider.
        employment_start_date:
          type: string
          format: date
          description: The employment start date for the provider.
        employment_termination_date:
          type: string
          format: date
          description: The employment termination date for the provider.
        organization_provider_id:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
          description: Auto-generated ID set on creation.
        qualifications:
          type: array
          items:
            $ref: '#/components/schemas/type_identifiers_Identifier'
          description: Qualification given to a provider (PTAN, Medicaid Provider Id etc.).
      required:
      - npi
      - is_rendering
      - is_billing
      - provider_type
      - license_type
      - organization_provider_id
      - qualifications
      title: OrganizationProviderV2
    type_commons_Date:
      type: string
      description: ISO 8601 date; formatted YYYY-MM-DD (i.e. 2012-02-01)
      title: Date
    type_payers_v3_PayerUuid:
      type: string
      format: uuid
      title: PayerUuid
    type_organization-providers_v2_OrganizationProviderId:
      type: string
      format: uuid
      title: OrganizationProviderId
    type_commons_State:
      type: string
      enum:
      - AA
      - AE
      - AP
      - AL
      - AK
      - AS
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - FM
      - GA
      - GU
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MH
      - MI
      - MN
      - MP
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - PR
      - PW
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VI
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: State
    type_organization-service-facilities_v2_ServiceFacilityPhysicalType:
      type: string
      enum:
      - si
      - bu
      - wi
      - wa
      - lvl
      - co
      - ro
      - bd
      - ve
      - ho
      - ca
      - rd
      - area
      - jdn
      title: ServiceFacilityPhysicalType
    type_identifiers_IdentifierId:
      type: string
      format: uuid
      title: IdentifierId
    type_organization-providers_v2_ProviderType:
      type: string
      enum:
      - INDIVIDUAL
      - ORGANIZATION
      title: ProviderType
    type_credentialing_v2_CredentialingSpanStatus:
      type: string
      enum:
      - work_in_progress
      - pending
      - effective
      - expired
      description: Stage of a credentialing span in the credentialing workflow.
      title: CredentialingSpanStatus
    type_commons_StreetAddressLongZip:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          $ref: '#/components/schemas/type_commons_State'
        zip_code:
          type: string
          description: 5-digit zip code
        zip_plus_four_code:
          type: string
          description: 4-digit zip add-on code https://en.wikipedia.org/wiki/ZIP_Code#ZIP+4
      required:
      - address1
      - city
      - state
      - zip_code
      - zip_plus_four_code
      title: StreetAddressLongZip
    type_identifiers_IdentifierValue:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - medicare_provider_identifier
            description: 'Discriminator value: medicare_provider_identifier'
          state:
            $ref: '#/components/schemas/type_commons_State'
          provider_number:
            type: string
          organization_service_facility_id:
            $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
            description: When set, this identifier applies only to the given service facility.
        required:
        - type
        - state
        - provider_number
      - type: object
        properties:
          type:
            type: string
            enum:
            - medicaid_provider_identifier
            description: 'Discriminator value: medicaid_provider_identifier'
          state:
            $ref: '#/components/schemas/type_commons_State'
          provider_number:
            type: string
          organization_service_facility_id:
            $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
            description: When set, this identifier applies only to the given service facility.
        required:
        - type
        - state
        - provider_number
      discriminator:
        propertyName: type
      title: IdentifierValue
    type_credentialing_v2_ProviderCredentialingSpan:
      type: object
      properties:
        contracting_provider:
          $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
          description: The practice location at which the rendering provider is covered by the credentialing span.
        payer:
          $ref: '#/components/schemas/type_payers_v3_Payer'
          description: The payer doing the credentialing.
        start_date:
          type: string
          format: date
          description: Start date of the credentialing span.
        end_date:
          type: string
          format: date
          description: End date of the credentialing span.
        submitted_date:
          type: string
          format: date
          description: Date that the credential paperwork was submitted.
        credentialing_status:
          $ref: '#/components/schemas/type_credentialing_v2_CredentialingSpanStatus'
          description: Status of the credentialing span.
        payer_loaded_date:
          type: string
          format: date
          description: Date that the payer loaded the credentialing span into their system.
        is_enabled:
          type: boolean
          description: Is the credentialing span enabled?
        provider_credentialing_span_id:
          $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpanId'
        rendering_provider:
          $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
          description: The rendering provider covered by the credentialing span.
        regions:
          $ref: '#/components/schemas/type_commons_Regions'
          description: The states covered by the credentialing span. A span may be national and cover all states.
        medallion_payer_enrollment_id:
          type: string
          format: uuid
          description: Provider ID for the related medallion payer enrollment.
        source:
          type: string
          description: Source of the credentialing span.
      required:
      - contracting_provider
      - payer
      - credentialing_status
      - is_enabled
      - provider_credentialing_span_id
      - rendering_provider
      - regions
      - source
      title: ProviderCredentialingSpan
    type_commons_ProviderCredentialingSpanId:
      type: string
      format: uuid
      title: ProviderCredentialingSpanId
    type_organization-service-facilities_v2_ServiceFacilityType:
      type: string
      enum:
      - DX
      - CVDX
      - CATH
      - ECHO
      - GIDX
      - ENDOS
      - RADDX
      - RADO
      - RNEU
      - HOSP
      - CHR
      - GACH
      - MHSP
      - PSYCHF
      - RH
      - RHAT
      - RHII
      - RHMAD
      - RHPI
      - RHPIH
      - RHPIMS
      - RHPIVS
      - RHYAD
      - HU
      - BMTU
      - CCU
      - CHEST
      - EPIL
      - ER
      - ETU
      - HD
      - HLAB
      - INLAB
      - OUTLAB
      - HRAD
      - HUSCS
      - ICU
      - PEDICU
      - PEDNICU
      - INPHARM
      - MBL
      - NCCS
      - NS
      - OUTPHARM
      - PEDU
      - PHU
      - RHU
      - SLEEP
      - NCCF
      - SNF
      - OF
      - ALL
      - AMPUT
      - BMTC
      - BREAST
      - CANC
      - CAPC
      - CARD
      - PEDCARD
      - COAG
      - CRS
      - DERM
      - ENDO
      - PEDE
      - ENT
      - FMC
      - GI
      - PEDGI
      - GIM
      - GYN
      - HEM
      - PEDHEM
      - HTN
      - IEC
      - INFD
      - PEDID
      - INV
      - LYMPH
      - MGEN
      - NEPH
      - PEDNEPH
      - NEUR
      - OB
      - OMS
      - ONCL
      - PEDHO
      - OPH
      - OPTC
      - ORTHO
      - HAND
      - PAINCL
      - PC
      - PEDC
      - PEDRHEUM
      - POD
      - PREV
      - PROCTO
      - PROFF
      - PROS
      - PSI
      - PSY
      - RHEUM
      - SPMED
      - SU
      - PLS
      - URO
      - TR
      - TRAVEL
      - WND
      - RTF
      - PRC
      - SURF
      - DADDR
      - MOBL
      - AMB
      - PHARM
      - ACC
      - COMM
      - CSC
      - PTRES
      - SCHOOL
      - UPC
      - WORK
      title: ServiceFacilityType
    type_organization-providers_v2_OrganizationProviderAddress:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
          description: The address of the provider
        address_type:
          $ref: '#/components/schemas/type_organization-providers_v2_AddressType'
          description: The address type of the provider
      required:
      - address
      - address_type
      title: OrganizationProviderAddress
    type_organization-service-facilities_v2_OrganizationServiceFacilityId:
      type: string
      format: uuid
      title: OrganizationServiceFacilityId
    type_commons_PageToken:
      type: string
      title: PageToken
    type_payers_v3_Payer:
      type: object
      properties:
        payer_uuid:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
          description: Auto-generated ID set on creation.
        payer_id:
          type: string
          description: The primary national payer ID of the payer.
        payer_name:
          type: string
          description: The primary display name of the payer.
        availity_payer_name:
          type: string
          description: The name of the payer as it appears in Availity.
        availity_claims_payer_id:
          type: string
          description: The ID of the payer as it appears in Availity.
        availity_eligibility_id:
          type: string
          description: The eligibility ID of the payer as it appears in Availity.
        availity_remittance_payer_id:
          type: string
          description: The remittance ID of the payer as it appears in Availity.
        street_address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
      required:
      - payer_uuid
      - payer_id
      - payer_name
      title: Payer
    type_organization-providers_v2_LicenseType:
      type: string
      enum:
      - MD
      - NP
      - PA
      - LMFT
      - LCPC
      - LCSW
      - PMHNP
      - FNP
      - LPCC
      - DO
      - RD
      - SLP
      - APRN
      - LPC
      - PHD
      - PSYD
      - LMSW
      - LMHC
      - OTHER_MASTERS
      - BCBA
      - UNKNOWN
      - RPH
      - PHT
      - LAC
      - LMT
      - DC
      - ND
      - MA
      - PT
      - IBCLC
      - RN
      - DPT
      - LCMHC
      - CNM
      - RNFA
      - ACSW
      - APC
      - BCABA
      - BHA
      - OD
      - DPM
      - DA
      - DDS
      - DEH
      - DMD
      - PTA
      - LCADC
      - LCAT
      - LCMHCS
      - LCMHCA
      - LCSWA
      - LICSW
      - LISW
      - LMFTS
      - LMFTA
      - LPCI
      - LSCSW
      - MHCA
      - MHT
      - RBT
      - RCSWI
      - RHMCI
      - LPN
      - OTD
      - OMS
      - MFTA
      - APCC
      - DNP
      - AGNPBC
      - ANP
      - FNPPP
      - LCSWR
      - ALC
      - RMFTI
      - LAMFT
      - LPCA
      - LSWI
      - CSW
      - CPC
      - LGMFT
      - LLPC
      - PLPC
      - PLMFT
      - LMHCA
      - CIT
      - CT
      - MFT
      - LSW
      - PLMHP
      - PCMSW
      - LMHP
      - OTR/L
      - RPA
      - COTA
      - CRNP
      - SLP-CF
      - NP-C
      - PA-C
      - AMFT
      - CDN
      - CGC
      - CNS
      - MDPHD
      - AuD
      - ATC
      - LAT
      - OTA
      - LSSP
      - SLPA
      title: LicenseType
    type_commons_DateRangeOptionalEnd:
      type: object
      properties:
        start_date:
          $ref: '#/components/schemas/type_commons_Date'
        end_date:
          $ref: '#/components/schemas/type_commons_Date'
      required:
      - start_date
      title: DateRangeOptionalEnd
    type_organization-providers_v2_AddressType:
      type: string
      enum:
      - DEFAULT
      title: AddressType
    type_organization-service-facilities_v2_OrganizationServiceFacility:
      type: object
      properties:
        organization_service_facility_id:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
        name:
          type: string
          description: The name of the service facility.
        aliases:
          type: array
          items:
            type: string
          description: A list of alternate names for the service facility.
        description:
          type: string
          description: A description of the service facility.
        external_id:
          type: string
          description: An ID for this service facility used in an external system (e.g. your EMR). Service facilities can be queried by this field.
        npi:
          type: string
          description: 'An NPI specific to the service facility if applicable, i.e. if it has one and is not under the billing provider''s NPI.

            Box 32 section (a) of the CMS-1500 claim form.'
        place_of_service_code:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
          description: The Place of Service (POS) code for this service facility.
        clia_number:
          type: string
          description: The associated CLIA number with this service facility. Can be used to populate CLIA numbers on encounters.
        mammography_certification_number:
          type: string
          description: The associated mammography certification number for this service facility. This is a 6 digit code assigned by the FDA.
        status:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_ServiceFacilityStatus'
          description: The status of the service facility.
        operational_status:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_ServiceFacilityOperationalStatus'
          description: The operational status of the service facility.
        mode:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_ServiceFacilityMode'
          description: The mode of the service facility.
        type:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_ServiceFacilityType'
          description: The type of the service facility.
        physical_type:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_ServiceFacilityPhysicalType'
          description: The physical type of the service facility.
        telecoms:
          type: array
          items:
            type: string
          description: A list of contact methods for the service facility.
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
          description: The address of the service facility.
      required:
      - organization_service_facility_id
      - name
      - aliases
      - telecoms
      - address
      title: OrganizationServiceFacility
    type_credentialing_v2_FacilityCredentialingSpanId:
      type: string
      format: uuid
      title: FacilityCredentialingSpanId
    type_organization-service-facilities_v2_ServiceFacilityOperationalStatus:
      type: string
      enum:
      - C
      - H
      - I
      - K
      - O
      - U
      title: ServiceFacilityOperationalStatus
    type_credentialing_v2_FacilityCredentialingSpanPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
      required:
      - items
      title: FacilityCredentialingSpanPage
    type_identifiers_Identifier:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/type_commons_DateRangeOptionalEnd'
        identifier_code:
          $ref: '#/components/schemas/type_identifiers_IdentifierCode'
        identifier_value:
          $ref: '#/components/schemas/type_identifiers_IdentifierValue'
        identifier_id:
          $ref: '#/components/schemas/type_identifiers_IdentifierId'
      required:
      - identifier_code
      - identifier_value
      - identifier_id
      title: Identifier
    type_commons_RequestValidationError:
      type: object
      properties:
        fieldName:
          type: string
        humanReadableMessage:
          type: string
      required:
      - fieldName
      title: RequestValidationError
    type_credentialing_v2_ProviderCredentialingSpanId:
      type: string
      format: uuid
      title: ProviderCredentialingSpanId
    type_commons_EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons_FacilityTypeCode:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '31'
      - '32'
      - '33'
      - '34'
      - '41'
      - '42'
      - '49'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '60'
      - '61'
      - '62'
      - '65'
      - '71'
      - '72'
      - '81'
      - '99'
      description: 'Box 24B on the CMS-1500 claim form. Line-level place of service is not currently supported.

        02 for telemedicine, 11 for in-person. Full list here:

        https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set'
      title: FacilityTypeCode
    type_commons_UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_credentialing_v2_ProviderCredentialingSpanPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
      required:
      - items
      title: ProviderCredentialingSpanPage
    type_organization-service-facilities_v2_ServiceFacilityMode:
      type: string
      enum:
      - instance
      - kind
      title: ServiceFacilityMode
    type_commons_Regions:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - states
            description: 'Discriminator value: states'
          states:
            type: array
            items:
              $ref: '#/components/schemas/type_commons_State'
        required:
        - type
        - states
      - type: object
        properties:
          type:
            type: string
            enum:
            - national
            description: 'Discriminator value: national'
        required:
        - type
      discriminator:
        propertyName: type
      title: Regions
    type_commons_UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
    type_organization-service-facilities_v2_ServiceFacilityStatus:
      type: string
      enum:
      - active
      - inactive
      - suspended
      title: ServiceFacilityStatus
    type_credentialing_v2_FacilityCredentialingSpan:
      type: object
      properties:
        contracting_provider:
          $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
          description: The practice location at which the rendering provider is covered by the credentialing span.
        payer:
          $ref: '#/components/schemas/type_payers_v3_Payer'
          description: The payer doing the credentialing.
        start_date:
          type: string
          format: date
          description: Start date of the credentialing span.
        end_date:
          type: string
          format: date
          description: End date of the credentialing span.
        submitted_date:
          type: string
          format: date
          description: Date that the credential paperwork was submitted.
        credentialing_status:
          $ref: '#/components/schemas/type_credentialing_v2_CredentialingSpanStatus'
          description: Status of the credentialing span.
        payer_loaded_date:
          type: string
          format: date
          description: Date that the payer loaded the credentialing span into their system.
        is_enabled:
          type: boolean
          description: Is the credentialing span enabled?
        facility_credentialing_span_id:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
        service_facility:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacility'
          description: The service facility covered by the credentialing span.
      required:
      - contracting_provider
      - payer
      - credentialing_status
      - is_enabled
      - facility_credentialing_span_id
      - service_facility
      title: FacilityCredentialingSpan
    type_identifiers_IdentifierCode:
      type: string
      enum:
      - MCR
      - MCD
      title: IdentifierCode
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
