openapi: 3.0.1
info:
  title: Candid Health Auth Payers API
  description: REST API for Candid Health, an autonomous medical-billing and revenue-cycle management platform. Submit encounters and claims, run eligibility checks, capture charges, look up payers and fee schedules, retrieve insurance adjudications (ERAs / remits), and scan billing lifecycle events. All requests are authenticated with an OAuth bearer token obtained from the auth token endpoint.
  termsOfService: https://www.joincandidhealth.com
  contact:
    name: Candid Health Support
    url: https://docs.joincandidhealth.com/additional-resources/support
  version: '1.0'
servers:
- url: https://api.joincandidhealth.com/api
  description: Candid Health production API
security:
- bearerAuth: []
tags:
- name: Payers
  description: Look up insurance payers.
paths:
  /payers/v3:
    get:
      operationId: getAllPayers
      tags:
      - Payers
      summary: Get all payers.
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
      - name: search_term
        in: query
        schema:
          type: string
      - name: page_token
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A page of payers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerPage'
  /payers/v3/{payer_uuid}:
    get:
      operationId: getPayer
      tags:
      - Payers
      summary: Get a payer.
      parameters:
      - name: payer_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The requested payer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payer'
components:
  schemas:
    Payer:
      type: object
      properties:
        payer_uuid:
          type: string
          format: uuid
        payer_id:
          type: string
          description: External payer / CPID identifier.
        payer_name:
          type: string
    PayerPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Payer'
        page_token:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth bearer token obtained from POST /auth/v2/token. Send as `Authorization: Bearer <access_token>`.'
