openapi: 3.2.0
info:
  title: Reference Insurance Adjudications API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: Insurance Adjudications
paths:
  /api/insurance-adjudications/v1/{insurance_adjudication_id}:
    get:
      operationId: get
      summary: Get insurance adjudication
      description: Retrieves a previously created insurance adjudication by its `insurance_adjudication_id`.
      tags:
      - Insurance Adjudications
      parameters:
      - name: insurance_adjudication_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_insurance-adjudications_v1_InsuranceAdjudicationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_insurance-adjudications_v1_InsuranceAdjudication'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_x12_v1_RemittanceAdviceRemarkCode:
      type: object
      properties:
        reason_code:
          $ref: '#/components/schemas/type_x12_v1_Rarc'
      required:
      - reason_code
      title: RemittanceAdviceRemarkCode
    type_x12_v1_ClaimAdjustmentReasonCode:
      type: object
      properties:
        group_code:
          $ref: '#/components/schemas/type_commons_ClaimAdjustmentGroupCodes'
        reason_code:
          $ref: '#/components/schemas/type_x12_v1_Carc'
        amount_cents:
          type: integer
      required:
      - group_code
      - reason_code
      - amount_cents
      title: ClaimAdjustmentReasonCode
    type_insurance-adjudications_v1_ServiceLineAdjudicationId:
      type: string
      format: uuid
      title: ServiceLineAdjudicationId
    type_commons_ClaimId:
      type: string
      format: uuid
      title: ClaimId
    type_commons_ClaimAdjustmentGroupCodes:
      type: string
      enum:
      - CO
      - CR
      - DE
      - MA
      - OA
      - PI
      - PR
      - RR
      - NC
      - UNKNOWN
      title: ClaimAdjustmentGroupCodes
    type_insurance-adjudications_v1_InsuranceAdjudicationId:
      type: string
      format: uuid
      title: InsuranceAdjudicationId
    type_x12_v1_Carc:
      type: string
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '16'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '26'
      - '27'
      - '29'
      - '31'
      - '32'
      - '33'
      - '34'
      - '35'
      - '39'
      - '40'
      - '44'
      - '45'
      - '49'
      - '50'
      - '51'
      - '53'
      - '54'
      - '55'
      - '56'
      - '58'
      - '59'
      - '60'
      - '61'
      - '66'
      - '69'
      - '70'
      - '74'
      - '75'
      - '76'
      - '78'
      - '85'
      - '89'
      - '90'
      - '91'
      - '94'
      - '95'
      - '96'
      - '97'
      - '100'
      - '101'
      - '102'
      - '103'
      - '104'
      - '105'
      - '106'
      - '107'
      - '108'
      - '109'
      - '110'
      - '111'
      - '112'
      - '114'
      - '115'
      - '116'
      - '117'
      - '118'
      - '119'
      - '121'
      - '122'
      - '125'
      - '128'
      - '129'
      - '130'
      - '131'
      - '132'
      - '133'
      - '134'
      - '135'
      - '136'
      - '137'
      - '139'
      - '140'
      - '142'
      - '143'
      - '144'
      - '146'
      - '147'
      - '148'
      - '149'
      - '150'
      - '151'
      - '152'
      - '153'
      - '154'
      - '155'
      - '157'
      - '158'
      - '159'
      - '160'
      - '161'
      - '163'
      - '164'
      - '166'
      - '167'
      - '169'
      - '170'
      - '171'
      - '172'
      - '173'
      - '174'
      - '175'
      - '176'
      - '177'
      - '178'
      - '179'
      - '180'
      - '181'
      - '182'
      - '183'
      - '184'
      - '185'
      - '186'
      - '187'
      - '188'
      - '189'
      - '190'
      - '192'
      - '193'
      - '194'
      - '195'
      - '197'
      - '198'
      - '199'
      - '200'
      - '201'
      - '202'
      - '203'
      - '204'
      - '205'
      - '206'
      - '207'
      - '208'
      - '209'
      - '210'
      - '211'
      - '212'
      - '213'
      - '215'
      - '216'
      - '219'
      - '222'
      - '223'
      - '224'
      - '225'
      - '226'
      - '227'
      - '228'
      - '229'
      - '231'
      - '232'
      - '233'
      - '234'
      - '235'
      - '236'
      - '237'
      - '238'
      - '239'
      - '240'
      - '241'
      - '242'
      - '243'
      - '245'
      - '246'
      - '247'
      - '248'
      - '249'
      - '250'
      - '251'
      - '252'
      - '253'
      - '254'
      - '256'
      - '257'
      - '258'
      - '259'
      - '260'
      - '261'
      - '262'
      - '263'
      - '264'
      - '265'
      - '266'
      - '267'
      - '268'
      - '269'
      - '270'
      - '271'
      - '272'
      - '273'
      - '274'
      - '275'
      - '276'
      - '277'
      - '278'
      - '279'
      - '280'
      - '281'
      - '282'
      - '283'
      - '284'
      - '285'
      - '286'
      - '287'
      - '288'
      - '289'
      - '290'
      - '291'
      - '292'
      - '293'
      - '294'
      - '295'
      - '296'
      - '297'
      - '298'
      - '299'
      - '300'
      - '301'
      - '302'
      - '303'
      - '304'
      - '305'
      - A0
      - A1
      - A5
      - A6
      - A8
      - B1
      - B4
      - B7
      - B8
      - B9
      - B10
      - B11
      - B12
      - B13
      - B14
      - B15
      - B16
      - B20
      - B22
      - B23
      - P1
      - P2
      - P3
      - P4
      - P5
      - P6
      - P7
      - P8
      - P9
      - P10
      - P11
      - P12
      - P13
      - P14
      - P15
      - P16
      - P17
      - P18
      - P19
      - P20
      - P21
      - P22
      - P23
      - P24
      - P25
      - P26
      - P27
      - P28
      - P29
      - P30
      - P31
      - P32
      - '15'
      - '17'
      - '25'
      - '28'
      - '30'
      - '36'
      - '37'
      - '38'
      - '41'
      - '42'
      - '43'
      - '46'
      - '47'
      - '48'
      - '52'
      - '57'
      - '62'
      - '63'
      - '64'
      - '65'
      - '67'
      - '68'
      - '71'
      - '72'
      - '73'
      - '77'
      - '79'
      - '80'
      - '81'
      - '82'
      - '83'
      - '84'
      - '86'
      - '87'
      - '88'
      - '92'
      - '93'
      - '98'
      - '99'
      - '113'
      - '120'
      - '123'
      - '124'
      - '126'
      - '127'
      - '138'
      - '141'
      - '145'
      - '156'
      - '162'
      - '165'
      - '168'
      - '191'
      - '196'
      - '214'
      - '217'
      - '218'
      - '220'
      - '221'
      - '230'
      - '244'
      - '255'
      - A2
      - A3
      - A4
      - A7
      - B2
      - B3
      - B5
      - B6
      - B17
      - B18
      - B19
      - B21
      - D1
      - D2
      - D3
      - D4
      - D5
      - D6
      - D7
      - D8
      - D9
      - D10
      - D11
      - D12
      - D14
      - D15
      - D16
      - D17
      - D18
      - D19
      - D20
      - D21
      - D22
      - D23
      - W1
      - W2
      - W3
      - W4
      - W5
      - W6
      - W7
      - W8
      - W9
      - Y1
      - Y2
      - Y3
      - UNKNOWN
      title: Carc
    type_payers_v3_PayerUuid:
      type: string
      format: uuid
      title: PayerUuid
    type_x12_v1_Rarc:
      type: string
      enum:
      - M1
      - M2
      - M3
      - M4
      - M5
      - M6
      - M7
      - M8
      - M9
      - M10
      - M11
      - M12
      - M13
      - M14
      - M15
      - M16
      - M17
      - M18
      - M19
      - M20
      - M21
      - M22
      - M23
      - M24
      - M25
      - M26
      - M27
      - M28
      - M29
      - M30
      - M31
      - M32
      - M33
      - M34
      - M35
      - M36
      - M37
      - M38
      - M39
      - M40
      - M41
      - M42
      - M43
      - M44
      - M45
      - M46
      - M47
      - M48
      - M49
      - M50
      - M51
      - M52
      - M53
      - M54
      - M55
      - M56
      - M57
      - M58
      - M59
      - M60
      - M61
      - M62
      - M63
      - M64
      - M65
      - M66
      - M67
      - M68
      - M69
      - M70
      - M71
      - M72
      - M73
      - M74
      - M75
      - M76
      - M77
      - M78
      - M79
      - M80
      - M81
      - M82
      - M83
      - M84
      - M85
      - M86
      - M87
      - M88
      - M89
      - M90
      - M91
      - M92
      - M93
      - M94
      - M95
      - M96
      - M97
      - M98
      - M99
      - M100
      - M101
      - M102
      - M103
      - M104
      - M105
      - M106
      - M107
      - M108
      - M109
      - M110
      - M111
      - M112
      - M113
      - M114
      - M115
      - M116
      - M117
      - M118
      - M119
      - M120
      - M121
      - M122
      - M123
      - M124
      - M125
      - M126
      - M127
      - M128
      - M129
      - M130
      - M131
      - M132
      - M133
      - M134
      - M135
      - M136
      - M137
      - M138
      - M139
      - M140
      - M141
      - M142
      - M143
      - M144
      - MA01
      - MA02
      - MA03
      - MA04
      - MA05
      - MA06
      - MA07
      - MA08
      - MA09
      - MA10
      - MA11
      - MA12
      - MA13
      - MA14
      - MA15
      - MA16
      - MA17
      - MA18
      - MA19
      - MA20
      - MA21
      - MA22
      - MA23
      - MA24
      - MA25
      - MA26
      - MA27
      - MA28
      - MA29
      - MA30
      - MA31
      - MA32
      - MA33
      - MA34
      - MA35
      - MA36
      - MA37
      - MA38
      - MA39
      - MA40
      - MA41
      - MA42
      - MA43
      - MA44
      - MA45
      - MA46
      - MA47
      - MA48
      - MA49
      - MA50
      - MA51
      - MA52
      - MA53
      - MA54
      - MA55
      - MA56
      - MA57
      - MA58
      - MA59
      - MA60
      - MA61
      - MA62
      - MA63
      - MA64
      - MA65
      - MA66
      - MA67
      - MA68
      - MA69
      - MA70
      - MA71
      - MA72
      - MA73
      - MA74
      - MA75
      - MA76
      - MA77
      - MA78
      - MA79
      - MA80
      - MA81
      - MA82
      - MA83
      - MA84
      - MA85
      - MA86
      - MA87
      - MA88
      - MA89
      - MA90
      - MA91
      - MA92
      - MA93
      - MA94
      - MA95
      - MA96
      - MA97
      - MA98
      - MA99
      - MA100
      - MA101
      - MA102
      - MA103
      - MA104
      - MA105
      - MA106
      - MA107
      - MA108
      - MA109
      - MA110
      - MA111
      - MA112
      - MA113
      - MA114
      - MA115
      - MA116
      - MA117
      - MA118
      - MA119
      - MA120
      - MA121
      - MA122
      - MA123
      - MA124
      - MA125
      - MA126
      - MA127
      - MA128
      - MA129
      - MA130
      - MA131
      - MA132
      - MA133
      - MA134
      - N1
      - N2
      - N3
      - N4
      - N5
      - N6
      - N7
      - N8
      - N9
      - N10
      - N11
      - N12
      - N13
      - N14
      - N15
      - N16
      - N17
      - N18
      - N19
      - N20
      - N21
      - N22
      - N23
      - N24
      - N25
      - N26
      - N27
      - N28
      - N29
      - N30
      - N31
      - N32
      - N33
      - N34
      - N35
      - N36
      - N37
      - N38
      - N39
      - N40
      - N41
      - N42
      - N43
      - N44
      - N45
      - N46
      - N47
      - N48
      - N49
      - N50
      - N51
      - N52
      - N53
      - N54
      - N55
      - N56
      - N57
      - N58
      - N59
      - N60
      - N61
      - N62
      - N63
      - N64
      - N65
      - N66
      - N67
      - N68
      - N69
      - N70
      - N71
      - N72
      - N73
      - N74
      - N75
      - N76
      - N77
      - N78
      - N79
      - N80
      - N81
      - N82
      - N83
      - N84
      - N85
      - N86
      - N87
      - N88
      - N89
      - N90
      - N91
      - N92
      - N93
      - N94
      - N95
      - N96
      - N97
      - N98
      - N99
      - N100
      - N101
      - N102
      - N103
      - N104
      - N105
      - N106
      - N107
      - N108
      - N109
      - N110
      - N111
      - N112
      - N113
      - N114
      - N115
      - N116
      - N117
      - N118
      - N119
      - N120
      - N121
      - N122
      - N123
      - N124
      - N125
      - N126
      - N127
      - N128
      - N129
      - N130
      - N131
      - N132
      - N133
      - N134
      - N135
      - N136
      - N137
      - N138
      - N139
      - N140
      - N141
      - N142
      - N143
      - N144
      - N145
      - N146
      - N147
      - N148
      - N149
      - N150
      - N151
      - N152
      - N153
      - N154
      - N155
      - N156
      - N157
      - N158
      - N159
      - N160
      - N161
      - N162
      - N163
      - N164
      - N165
      - N166
      - N167
      - N168
      - N169
      - N170
      - N171
      - N172
      - N173
      - N174
      - N175
      - N176
      - N177
      - N178
      - N179
      - N180
      - N181
      - N182
      - N183
      - N184
      - N185
      - N186
      - N187
      - N188
      - N189
      - N190
      - N191
      - N192
      - N193
      - N194
      - N195
      - N196
      - N197
      - N198
      - N199
      - N200
      - N201
      - N202
      - N203
      - N204
      - N205
      - N206
      - N207
      - N208
      - N209
      - N210
      - N211
      - N212
      - N213
      - N214
      - N215
      - N216
      - N217
      - N218
      - N219
      - N220
      - N221
      - N222
      - N223
      - N224
      - N225
      - N226
      - N227
      - N228
      - N229
      - N230
      - N231
      - N232
      - N233
      - N234
      - N235
      - N236
      - N237
      - N238
      - N239
      - N240
      - N241
      - N242
      - N243
      - N244
      - N245
      - N246
      - N247
      - N248
      - N249
      - N250
      - N251
      - N252
      - N253
      - N254
      - N255
      - N256
      - N257
      - N258
      - N259
      - N260
      - N261
      - N262
      - N263
      - N264
      - N265
      - N266
      - N267
      - N268
      - N269
      - N270
      - N271
      - N272
      - N273
      - N274
      - N275
      - N276
      - N277
      - N278
      - N279
      - N280
      - N281
      - N282
      - N283
      - N284
      - N285
      - N286
      - N287
      - N288
      - N289
      - N290
      - N291
      - N292
      - N293
      - N294
      - N295
      - N296
      - N297
      - N298
      - N299
      - N300
      - N301
      - N302
      - N303
      - N304
      - N305
      - N306
      - N307
      - N308
      - N309
      - N310
      - N311
      - N312
      - N313
      - N314
      - N315
      - N316
      - N317
      - N318
      - N319
      - N320
      - N321
      - N322
      - N323
      - N324
      - N325
      - N326
      - N327
      - N328
      - N329
      - N330
      - N331
      - N332
      - N333
      - N334
      - N335
      - N336
      - N337
      - N338
      - N339
      - N340
      - N341
      - N342
      - N343
      - N344
      - N345
      - N346
      - N347
      - N348
      - N349
      - N350
      - N351
      - N352
      - N353
      - N354
      - N355
      - N356
      - N357
      - N358
      - N359
      - N360
      - N361
      - N362
      - N363
      - N364
      - N365
      - N366
      - N367
      - N368
      - N369
      - N370
      - N371
      - N372
      - N373
      - N374
      - N375
      - N376
      - N377
      - N378
      - N379
      - N380
      - N381
      - N382
      - N383
      - N384
      - N385
      - N386
      - N387
      - N388
      - N389
      - N390
      - N391
      - N392
      - N393
      - N394
      - N395
      - N396
      - N397
      - N398
      - N399
      - N400
      - N401
      - N402
      - N403
      - N404
      - N405
      - N406
      - N407
      - N408
      - N409
      - N410
      - N411
      - N412
      - N413
      - N414
      - N415
      - N416
      - N417
      - N418
      - N419
      - N420
      - N421
      - N422
      - N423
      - N424
      - N425
      - N426
      - N427
      - N428
      - N429
      - N430
      - N431
      - N432
      - N433
      - N434
      - N435
      - N436
      - N437
      - N438
      - N439
      - N440
      - N441
      - N442
      - N443
      - N444
      - N445
      - N446
      - N447
      - N448
      - N449
      - N450
      - N451
      - N452
      - N453
      - N454
      - N455
      - N456
      - N457
      - N458
      - N459
      - N460
      - N461
      - N462
      - N463
      - N464
      - N465
      - N466
      - N467
      - N468
      - N469
      - N470
      - N471
      - N472
      - N473
      - N474
      - N475
      - N476
      - N477
      - N478
      - N479
      - N480
      - N481
      - N482
      - N483
      - N484
      - N485
      - N486
      - N487
      - N488
      - N489
      - N490
      - N491
      - N492
      - N493
      - N494
      - N495
      - N496
      - N497
      - N498
      - N499
      - N500
      - N501
      - N502
      - N503
      - N504
      - N505
      - N506
      - N507
      - N508
      - N509
      - N510
      - N511
      - N512
      - N513
      - N514
      - N515
      - N516
      - N517
      - N518
      - N519
      - N520
      - N521
      - N522
      - N523
      - N524
      - N525
      - N526
      - N527
      - N528
      - N529
      - N530
      - N531
      - N532
      - N533
      - N534
      - N535
      - N536
      - N537
      - N538
      - N539
      - N540
      - N541
      - N542
      - N543
      - N544
      - N545
      - N546
      - N547
      - N548
      - N549
      - N550
      - N551
      - N552
      - N553
      - N554
      - N555
      - N556
      - N557
      - N558
      - N559
      - N560
      - N561
      - N562
      - N563
      - N564
      - N565
      - N566
      - N567
      - N568
      - N569
      - N570
      - N571
      - N572
      - N573
      - N574
      - N575
      - N576
      - N577
      - N578
      - N579
      - N580
      - N581
      - N582
      - N583
      - N584
      - N585
      - N586
      - N587
      - N588
      - N589
      - N590
      - N591
      - N592
      - N593
      - N594
      - N595
      - N596
      - N597
      - N598
      - N599
      - N600
      - N601
      - N602
      - N603
      - N604
      - N605
      - N606
      - N607
      - N608
      - N609
      - N610
      - N611
      - N612
      - N613
      - N614
      - N615
      - N616
      - N617
      - N618
      - N619
      - N620
      - N621
      - N622
      - N623
      - N624
      - N625
      - N626
      - N627
      - N628
      - N629
      - N630
      - N631
      - N632
      - N633
      - N634
      - N635
      - N636
      - N637
      - N638
      - N639
      - N640
      - N641
      - N642
      - N643
      - N644
      - N645
      - N646
      - N647
      - N648
      - N649
      - N650
      - N651
      - N652
      - N653
      - N654
      - N655
      - N656
      - N657
      - N658
      - N659
      - N660
      - N661
      - N662
      - N663
      - N664
      - N665
      - N666
      - N667
      - N668
      - N669
      - N670
      - N671
      - N672
      - N673
      - N674
      - N675
      - N676
      - N677
      - N678
      - N679
      - N680
      - N681
      - N682
      - N683
      - N684
      - N685
      - N686
      - N687
      - N688
      - N689
      - N690
      - N691
      - N692
      - N693
      - N694
      - N695
      - N696
      - N697
      - N698
      - N699
      - N700
      - N701
      - N702
      - N703
      - N704
      - N705
      - N706
      - N707
      - N708
      - N709
      - N710
      - N711
      - N712
      - N713
      - N714
      - N715
      - N716
      - N717
      - N718
      - N719
      - N720
      - N721
      - N722
      - N723
      - N724
      - N725
      - N726
      - N727
      - N728
      - N729
      - N730
      - N731
      - N732
      - N733
      - N734
      - N735
      - N736
      - N737
      - N738
      - N739
      - N740
      - N741
      - N742
      - N743
      - N744
      - N745
      - N746
      - N747
      - N748
      - N749
      - N750
      - N751
      - N752
      - N753
      - N754
      - N755
      - N756
      - N757
      - N758
      - N759
      - N760
      - N761
      - N762
      - N763
      - N764
      - N765
      - N766
      - N767
      - N768
      - N769
      - N770
      - N771
      - N772
      - N773
      - N774
      - N775
      - N776
      - N777
      - N778
      - N779
      - N780
      - N781
      - N782
      - N783
      - N784
      - N785
      - N786
      - N787
      - N788
      - N789
      - N790
      - N791
      - N792
      - N793
      - N794
      - N795
      - N796
      - N797
      - N798
      - N799
      - N800
      - N801
      - N802
      - N803
      - N804
      - N805
      - N806
      - N807
      - N808
      - N809
      - N810
      - N811
      - N812
      - N815
      - N816
      - N817
      - N818
      - N819
      - N820
      - N821
      - N822
      - N823
      - N824
      - N825
      - N826
      - N827
      - N828
      - N829
      - N830
      - N831
      - N832
      - N833
      - N834
      - N835
      - N836
      - N837
      - N838
      - N839
      - N840
      - N841
      - N842
      - N843
      - N844
      - N845
      - N846
      - N847
      - N848
      - N849
      - N850
      - N851
      - N852
      - N853
      - N854
      - N855
      - N856
      - N857
      - N858
      - N859
      - N860
      - N861
      - N862
      - N863
      - N864
      - N865
      - N866
      - N867
      - N868
      - N869
      - N870
      - N871
      - N872
      - N873
      - N874
      - N875
      - N876
      - N877
      - N878
      - N879
      - N880
      - N881
      - N882
      - N883
      - N884
      - N885
      - N886
      - N887
      - N888
      - N889
      - N890
      - N891
      - N892
      - N893
      - N894
      - N895
      - N896
      - N897
      - N898
      - N899
      - N900
      - N901
      - N902
      - N903
      - N904
      - N905
      - N906
      - N907
      - N908
      - N909
      - N910
      - N911
      - UNKNOWN
      title: Rarc
    type_commons_UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
    type_insurance-adjudications_v1_ServiceLineAdjudication:
      type: object
      properties:
        service_line_adjudication_id:
          $ref: '#/components/schemas/type_insurance-adjudications_v1_ServiceLineAdjudicationId'
        denial_reason:
          $ref: '#/components/schemas/type_service-lines_v2_DenialReasonContent'
          description: Will be treated as a denial if present
        insurance_allowed_amount_cents:
          type: integer
        insurance_paid_amount_cents:
          type: integer
        deductible_amount_cents:
          type: integer
        coinsurance_amount_cents:
          type: integer
        copay_amount_cents:
          type: integer
        carcs:
          type: array
          items:
            $ref: '#/components/schemas/type_x12_v1_ClaimAdjustmentReasonCode'
        rarcs:
          type: array
          items:
            $ref: '#/components/schemas/type_x12_v1_RemittanceAdviceRemarkCode'
      required:
      - service_line_adjudication_id
      - carcs
      - rarcs
      title: ServiceLineAdjudication
    type_insurance-adjudications_v1_ClaimAdjudication:
      type: object
      properties:
        claim_id:
          $ref: '#/components/schemas/type_commons_ClaimId'
        insurance_allowed_amount_cents:
          type: integer
        insurance_paid_amount_cents:
          type: integer
        charge_amount_cents:
          type: integer
        service_lines:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/type_insurance-adjudications_v1_ServiceLineAdjudication'
        payer_claim_number:
          type: string
        carcs:
          type: array
          items:
            $ref: '#/components/schemas/type_x12_v1_ClaimAdjustmentReasonCode'
      required:
      - claim_id
      - service_lines
      - carcs
      title: ClaimAdjudication
    type_service-lines_v2_DenialReasonContent:
      type: string
      enum:
      - Authorization Required
      - Referral Required
      - Medical Records Requested
      - Timely Filing
      - Duplicate Claim
      - Full Contractual Adjustment
      - Incorrect Place of Service
      - Incorrect Patient Gender
      - Incorrect Patient Info
      - Bundled
      - Exceeded Billable Time
      - Invalid Provider Information
      - Invalid Diagnosis Code
      - Incorrect Procedure Code
      - Invalid Modifier
      - Missing NDC Code
      - Invalid Insurance Data
      - No Active Coverage
      - Coordination of Benefits
      - Incorrect Payer
      - Credentialing
      - No Effective Contract
      - Missing W-9
      - Missing Contract Linkage
      - Non-Covered Benefit
      - Experimental Procedure
      - Not Medically Necessary
      - Info Requested from Provider
      - Info Requested from Patient
      - Billing Error
      - Unknown
      - Max Benefit Reached
      title: DenialReasonContent
    type_insurance-adjudications_v1_InsuranceAdjudication:
      type: object
      properties:
        insurance_adjudication_id:
          $ref: '#/components/schemas/type_insurance-adjudications_v1_InsuranceAdjudicationId'
        payer_uuid:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
        post_date:
          type: string
          format: date
        check_number:
          type: string
        check_date:
          type: string
          format: date
        note:
          type: string
        claims:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/type_insurance-adjudications_v1_ClaimAdjudication'
      required:
      - insurance_adjudication_id
      - payer_uuid
      - check_date
      - claims
      title: InsuranceAdjudication
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
