openapi: 3.2.0
info:
  title: Reference Patients API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: Patients
paths:
  /patients/v1:
    post:
      operationId: create
      summary: Create
      description: Adds a patient. VersionConflictError is returned when the patient's external ID is already in use.
      tags:
      - Patients
      parameters:
      - name: skip_duplicate_check
        in: query
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - VersionConflictError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_VersionConflictErrorBody'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter_patients_v1_MutablePatient'
    get:
      operationId: search
      summary: Search
      description: Returns a list of Patients based on the search criteria.
      tags:
      - Patients
      parameters:
      - name: mrn
        in: query
        required: false
        schema:
          type: string
      - name: similar_name_ordering
        in: query
        description: A string that is used to order similar names in search results.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
  /patients/v1/with_mrn:
    post:
      operationId: create_with_mrn
      summary: Create With Mrn
      description: Adds a patient and hydrates their MRN with a pre-existing MRN. Once this patient is created their MRN will not be editable. BadRequestError is returned when the MRN is greater than 20 characters. VersionConflictError is returned when the patient's external ID is already in use.
      tags:
      - Patients
      parameters:
      - name: skip_duplicate_check
        in: query
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - BadRequestError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - VersionConflictError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_VersionConflictErrorBody'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter_patients_v1_MutablePatientWithMrn'
  /patients/v1/get_multi:
    get:
      operationId: get_multi
      summary: Get Multi
      description: Searches for patients that match the query parameters.
      tags:
      - Patients
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: mrn
        in: query
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PageToken'
      - name: sort_field
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_PatientSortField'
      - name: sort_direction
        in: query
        description: Defaults to ascending.
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_SortDirection'
      - name: redirect_to_primary
        in: query
        description: If true, then only return the primary version of any patients requested
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_PatientPage'
  /patients/v1/search_providers:
    get:
      operationId: search_providers
      summary: Search Providers
      description: Searches for referring providers that match the query parameters. The search is case-insensitive, supports fuzzy matching, and matches against provider name and NPI. The search criteria must be an alphanumeric string, and the search is limited to the first 20 results.
      tags:
      - Patients
      parameters:
      - name: search_criteria
        in: query
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_pre-encounter_common_ExternalProvider'
  /patients/v1/{id}:
    get:
      operationId: get
      summary: Get
      description: Gets a patient.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
  /patients/v1/mrn/{mrn}:
    get:
      operationId: get_by_mrn
      summary: Get By Mrn
      description: Gets a patient by mrn.
      tags:
      - Patients
      parameters:
      - name: mrn
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
  /patients/v1/{id}/history:
    get:
      operationId: get_history
      summary: Get History
      description: Gets a patient along with it's full history. The return list is ordered by version ascending.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
  /patients/v1/{id}/snapshot:
    get:
      operationId: get_coverage_snapshot
      summary: Get Coverage Snapshot
      description: Gets a patient along with their coverages at a specific point in time. Note that the date passed in is only used to determine what the filing order was for that patient during that time. The actual data returned will always be the latest version of the patient and coverages.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_PatientCoverageSnapshot'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
  /patients/v1/{id}/eligibility-timeline:
    get:
      operationId: get_eligibility_timeline
      summary: Get Eligibility Timeline
      description: Gets a patient's eligibility audit timeline, newest-first. Org-scoped and keyset-paginated.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: event_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_EligibilityAuditEventType'
      - name: coverage_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_CoverageId'
      - name: appointment_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_AppointmentId'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PageToken'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_EligibilityTimelinePage'
  /patients/v1/{id}/{version}:
    put:
      operationId: update
      summary: Update
      description: Updates a patient. The path must contain the next version number to prevent race conditions. For example, if the current version of the patient is n, you will need to send a request to this endpoint with `/{id}/n+1` to update the patient. Updating historic versions is not supported.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - VersionConflictError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_VersionConflictErrorBody'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter_patients_v1_MutablePatient'
    delete:
      operationId: deactivate
      summary: Deactivate
      description: Sets a patient as deactivated. The path must contain the most recent version plus 1 to prevent race conditions. Deactivating historic versions is not supported.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - VersionConflictError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_VersionConflictErrorBody'
                required:
                - errorName
                - content
    patch:
      operationId: reactivate
      summary: Reactivate
      description: Removes the deactivated flag for a patient. The path must contain the most recent version plus 1 to prevent race conditions. Reactivating historic versions is not supported.
      tags:
      - Patients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - NotFoundError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_ErrorBase4xx'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - VersionConflictError
                  content:
                    $ref: '#/components/schemas/type_pre-encounter_common_VersionConflictErrorBody'
                required:
                - errorName
                - content
  /patients/v1/updates/scan:
    get:
      operationId: scan
      summary: Scan
      description: 'Scans up to 1000 patient updates. The since query parameter is inclusive, and the result list is ordered by updatedAt ascending.


        **Polling Pattern:**

        To continuously poll for updates without gaps:

        1. Make your initial request with a `since` timestamp (e.g., `since=2020-01-01T13:00:00.000Z`)

        2. The API returns 100 by default and up to 1000 patient records, sorted by `updated_at` ascending

        3. Find the `updated_at` value from the last record in the response

        4. Use that `updated_at` value as the `since` parameter in your next request

        5. Repeat steps 2-4 to ingest updates until you receive an empty list


        **Important Notes:**

        - The `since` parameter is inclusive, so you may receive the last record from the previous batch again (you can deduplicate by ID and version)

        - All patient records include `updated_at`, `id`, `version`, `deactivated`, and `updating_user` fields for tracking changes

        - Timestamps have millisecond resolution for precise ordering'
      tags:
      - Patients
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: maxResults
        in: query
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
components:
  schemas:
    type_pre-encounter_common_Period:
      type: object
      properties:
        start:
          type: string
          format: date
        end:
          type: string
          format: date
      title: Period
    type_pre-encounter_common_PayerId:
      type: string
      description: The unique identifier for a Payer in the database
      title: PayerId
    type_pre-encounter_patients_v1_ElectronicCommunicationConsent:
      type: object
      properties:
        text_communication_consent:
          type: boolean
          description: Consent for text/SMS communication.
        email_communication_consent:
          type: boolean
          description: Consent for email communication.
      description: Granular consent for electronic communication channels.
      title: ElectronicCommunicationConsent
    type_pre-encounter_patients_v1_Patient:
      type: object
      properties:
        organization_id:
          $ref: '#/components/schemas/type_pre-encounter_common_OrganizationId'
          description: The organization that owns this object.
        deactivated:
          type: boolean
          description: True if the object is deactivated.  Deactivated objects are not returned in search results but are returned in all other endpoints including scan.
        version:
          type: integer
          description: The version of the object. Any update to any property of an object object will create a new version.
        updated_at:
          type: string
          format: date-time
        updating_user_id:
          $ref: '#/components/schemas/type_pre-encounter_common_UserId'
          description: The user ID of the user who last updated the object.
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        other_names:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
          description: Other names for the patient.
        other_identifiers:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ExternalIdentifier'
          description: Other identifiers for the patient.
        gender:
          $ref: '#/components/schemas/type_pre-encounter_common_Gender'
        birth_date:
          type: string
          format: date
        social_security_number:
          type: string
        biological_sex:
          $ref: '#/components/schemas/type_pre-encounter_common_Sex'
          description: The biological sex of the patient. This corresponds to the HL7 AdministrativeGender https://www.hl7.org/fhir/valueset-administrative-gender.html
        sexual_orientation:
          $ref: '#/components/schemas/type_pre-encounter_common_SexualOrientation'
          description: The sexual orientation of the patient.
        pronouns:
          type: array
          items:
            type: string
          description: The pronouns of the patient.
        race:
          $ref: '#/components/schemas/type_pre-encounter_common_Race'
        ethnicity:
          $ref: '#/components/schemas/type_pre-encounter_common_Ethnicity'
        disability_status:
          $ref: '#/components/schemas/type_pre-encounter_common_DisabilityStatus'
        marital_status:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_MaritalStatus'
        deceased:
          type: string
          format: date-time
          description: Time of death for the patient.  Leave unset if the patient is not deceased.
        multiple_birth:
          type: integer
          description: The number of siblings the patient was born with.  Leave unset if the patient was not part of a multiple birth.
        primary_address:
          $ref: '#/components/schemas/type_pre-encounter_common_Address'
          description: The primary address for the patient.
        other_addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_Address'
          description: Other addresses for the patient.
        primary_telecom:
          $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
          description: The primary phone number for the patient.
        other_telecoms:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
          description: Other phone numbers for the patient.
        email:
          type: string
        electronic_communication_opt_in:
          type: boolean
          description: Use electronic_communication_consent for granular channel-level consent. This field is kept in sync automatically but should not be used for new integrations.
        electronic_communication_consent:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ElectronicCommunicationConsent'
          description: Granular consent for electronic communication channels.
        photo:
          type: string
        language:
          type: string
        external_provenance:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ExternalProvenance'
          description: Information about the upstream system that owns this patient data.  Leave unset if Candid owns patient data.
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Contact'
          description: Contacts for the patient.
        general_practitioners:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ExternalProvider'
        filing_order:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_FilingOrder'
        coverages_for_related_causes:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_CoveragesForRelatedCauses'
        non_insurance_payers:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerId'
        non_insurance_payer_associations:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerAssociation'
        guarantor:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_Guarantor'
        self_pay:
          type: boolean
        authorizations:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Authorization'
        referrals:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Referral'
        primary_service_facility_id:
          type: string
        service_facilities:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_PatientServiceFacility'
          description: Associated service facilities for this patient.
        do_not_invoice_reason:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_DoNotInvoiceReason'
          description: If this value is defined, the customer will not be invoiced.
        note_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_NoteId'
        tag_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_TagId'
        origination_detail:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_OriginationDetail'
          description: Information about the patient source, if applicable.
        inferred_patient_metadata:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_InferredPatientMetadata'
          description: Metadata for the patient used for patient inference from encounters.
        orcon:
          type: boolean
          description: ORCON (Originator Controlled) - When set to true, the Candid system will hide this patient from downstream integrations. Updates made in the Candid UI will unset this flag. Defaults to false.
        advanced_directives:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_AdvancedDirective'
        hipaa_code:
          type: string
        id:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
          description: The unique UUID identifier for a Patient.  Patient ID is used in machine contexts.
        mrn:
          type: string
          description: The medical record number for the patient.  Human-friendly Candid generated MRNs are of the form "YYMMDDXXXX", where "YYMMDD" is the date of patient creation and "XXXX" is a zero-padded incrementing integer.
      required:
      - organization_id
      - deactivated
      - version
      - updated_at
      - updating_user_id
      - name
      - other_names
      - birth_date
      - biological_sex
      - primary_address
      - other_addresses
      - other_telecoms
      - contacts
      - general_practitioners
      - filing_order
      - id
      - mrn
      description: A patient object with immutable server-owned properties.
      title: Patient
    type_pre-encounter_common_Relationship:
      type: string
      enum:
      - SELF
      - SPOUSE
      - CHILD
      - COMMON_LAW_SPOUSE
      - OTHER
      title: Relationship
    type_pre-encounter_patients_v1_CoveragesForRelatedCauses:
      type: object
      properties:
        coverages:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CoverageId'
      required:
      - coverages
      description: Additional coverages for the patient applicable to related causes such as Auto or Workers Comp
      title: CoveragesForRelatedCauses
    type_pre-encounter_common_HumanName:
      type: object
      properties:
        family:
          type: string
        given:
          type: array
          items:
            type: string
        use:
          $ref: '#/components/schemas/type_pre-encounter_common_NameUse'
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        suffix:
          type: string
      required:
      - family
      - given
      - use
      title: HumanName
    type_pre-encounter_patients_v1_EligibilityTimelineEvent:
      type: object
      properties:
        id:
          type: string
        event_type:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_EligibilityAuditEventType'
        patient_id:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
        coverage_id:
          $ref: '#/components/schemas/type_pre-encounter_common_CoverageId'
        appointment_id:
          $ref: '#/components/schemas/type_pre-encounter_common_AppointmentId'
        timestamp:
          type: string
          format: date-time
        user_id:
          type: string
        user_name:
          type: string
          description: Actor display name; "Candid Health" for automated writes.
        payload:
          type: object
          additionalProperties:
            description: Any type
          description: Event-type-specific payload.
      required:
      - id
      - event_type
      - patient_id
      - timestamp
      - user_id
      - user_name
      - payload
      description: A single eligibility audit event.
      title: EligibilityTimelineEvent
    type_pre-encounter_eligibilityChecks_v1_EligibilityCheckErrorDetails:
      type: object
      properties:
        field?:
          type: string
        description?:
          type: string
        location?:
          type: string
        possibleResolutions?:
          type: string
        code?:
          type: string
        followupAction?:
          type: string
      description: This object is our fern representation of Stedi's EligbilityCheckError object from their API.
      title: EligibilityCheckErrorDetails
    type_pre-encounter_common_Gender:
      type: string
      enum:
      - MAN
      - WOMAN
      - NON_BINARY
      - TWO_SPIRIT
      - FEMALE_TO_MALE
      - MALE_TO_FEMALE
      - OTHER
      - UNKNOWN
      - REFUSED
      title: Gender
    type_pre-encounter_coverages_v1_InsurancePlan:
      type: object
      properties:
        member_id:
          type: string
        payer_id:
          $ref: '#/components/schemas/type_pre-encounter_common_PayerId'
        payer_name:
          type: string
        additional_payer_information:
          $ref: '#/components/schemas/type_pre-encounter_common_AdditionalPayerInformation'
        group_number:
          type: string
        name:
          type: string
        plan_type:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_NetworkType'
        type:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_InsuranceTypeCode'
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        insurance_card_image_locator:
          type: string
        address:
          $ref: '#/components/schemas/type_pre-encounter_common_Address'
        payer_plan_group_id:
          $ref: '#/components/schemas/type_pre-encounter_common_PayerPlanGroupId'
          description: The ID of the Candid configured payer plan group associated with this coverage
        carve_outs:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageCarveOut'
      required:
      - member_id
      - payer_id
      - payer_name
      title: InsurancePlan
    type_pre-encounter_patients_v1_AuthorizationUnit:
      type: string
      enum:
      - VISIT
      - UNIT
      title: AuthorizationUnit
    type_pre-encounter_common_AppointmentId:
      type: string
      description: The unique identifier for an Appointment.
      title: AppointmentId
    type_pre-encounter_coverages_v1_NonCoveredDetail:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_BenefitType'
        coverageLevel:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageLevel'
        unit:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValueUnit'
        value:
          type: number
          format: double
        additional_notes:
          type: string
        service_type_codes:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceTypeCode'
      required:
      - type
      - coverageLevel
      - unit
      - value
      title: NonCoveredDetail
    type_pre-encounter_patients_v1_MutablePatientWithMrn:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        other_names:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
          description: Other names for the patient.
        other_identifiers:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ExternalIdentifier'
          description: Other identifiers for the patient.
        gender:
          $ref: '#/components/schemas/type_pre-encounter_common_Gender'
        birth_date:
          type: string
          format: date
        social_security_number:
          type: string
        biological_sex:
          $ref: '#/components/schemas/type_pre-encounter_common_Sex'
          description: The biological sex of the patient. This corresponds to the HL7 AdministrativeGender https://www.hl7.org/fhir/valueset-administrative-gender.html
        sexual_orientation:
          $ref: '#/components/schemas/type_pre-encounter_common_SexualOrientation'
          description: The sexual orientation of the patient.
        pronouns:
          type: array
          items:
            type: string
          description: The pronouns of the patient.
        race:
          $ref: '#/components/schemas/type_pre-encounter_common_Race'
        ethnicity:
          $ref: '#/components/schemas/type_pre-encounter_common_Ethnicity'
        disability_status:
          $ref: '#/components/schemas/type_pre-encounter_common_DisabilityStatus'
        marital_status:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_MaritalStatus'
        deceased:
          type: string
          format: date-time
          description: Time of death for the patient.  Leave unset if the patient is not deceased.
        multiple_birth:
          type: integer
          description: The number of siblings the patient was born with.  Leave unset if the patient was not part of a multiple birth.
        primary_address:
          $ref: '#/components/schemas/type_pre-encounter_common_Address'
          description: The primary address for the patient.
        other_addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_Address'
          description: Other addresses for the patient.
        primary_telecom:
          $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
          description: The primary phone number for the patient.
        other_telecoms:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
          description: Other phone numbers for the patient.
        email:
          type: string
        electronic_communication_opt_in:
          type: boolean
          description: Use electronic_communication_consent for granular channel-level consent. This field is kept in sync automatically but should not be used for new integrations.
        electronic_communication_consent:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ElectronicCommunicationConsent'
          description: Granular consent for electronic communication channels.
        photo:
          type: string
        language:
          type: string
        external_provenance:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ExternalProvenance'
          description: Information about the upstream system that owns this patient data.  Leave unset if Candid owns patient data.
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Contact'
          description: Contacts for the patient.
        general_practitioners:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ExternalProvider'
        filing_order:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_FilingOrder'
        coverages_for_related_causes:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_CoveragesForRelatedCauses'
        non_insurance_payers:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerId'
        non_insurance_payer_associations:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerAssociation'
        guarantor:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_Guarantor'
        self_pay:
          type: boolean
        authorizations:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Authorization'
        referrals:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Referral'
        primary_service_facility_id:
          type: string
        service_facilities:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_PatientServiceFacility'
          description: Associated service facilities for this patient.
        do_not_invoice_reason:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_DoNotInvoiceReason'
          description: If this value is defined, the customer will not be invoiced.
        note_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_NoteId'
        tag_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_TagId'
        origination_detail:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_OriginationDetail'
          description: Information about the patient source, if applicable.
        inferred_patient_metadata:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_InferredPatientMetadata'
          description: Metadata for the patient used for patient inference from encounters.
        orcon:
          type: boolean
          description: ORCON (Originator Controlled) - When set to true, the Candid system will hide this patient from downstream integrations. Updates made in the Candid UI will unset this flag. Defaults to false.
        advanced_directives:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_AdvancedDirective'
        hipaa_code:
          type: string
        mrn:
          type: string
          description: The medical record number for the patient.
      required:
      - name
      - other_names
      - birth_date
      - biological_sex
      - primary_address
      - other_addresses
      - other_telecoms
      - contacts
      - general_practitioners
      - filing_order
      - mrn
      title: MutablePatientWithMrn
    type_pre-encounter_coverages_v1_ServiceCoverage:
      type: object
      properties:
        service_code:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceTypeCode'
        in_network:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceCoverageDetails'
        in_network_flat:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageDetails'
        out_of_network:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceCoverageDetails'
        out_of_network_flat:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageDetails'
      required:
      - service_code
      title: ServiceCoverage
    type_pre-encounter_patients_v1_ExternalProvenance:
      type: object
      properties:
        external_id:
          type: string
        system_name:
          type: string
      required:
      - external_id
      - system_name
      description: Information about the upstream system that owns this patient data.
      title: ExternalProvenance
    type_pre-encounter_coverages_v1_ServiceTypeCode:
      type: string
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '30'
      - '32'
      - '33'
      - '34'
      - '35'
      - '36'
      - '37'
      - '38'
      - '39'
      - '40'
      - '41'
      - '42'
      - '43'
      - '44'
      - '45'
      - '46'
      - '47'
      - '48'
      - '49'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '59'
      - '60'
      - '61'
      - '62'
      - '63'
      - '64'
      - '65'
      - '66'
      - '67'
      - '68'
      - '69'
      - '70'
      - '71'
      - '72'
      - '73'
      - '74'
      - '75'
      - '76'
      - '77'
      - '78'
      - '79'
      - '80'
      - '81'
      - '82'
      - '83'
      - '84'
      - '85'
      - '86'
      - '87'
      - '88'
      - '89'
      - '90'
      - '91'
      - '92'
      - '93'
      - '94'
      - '95'
      - '96'
      - '97'
      - '98'
      - '99'
      - A0
      - A1
      - A2
      - A3
      - A4
      - A5
      - A6
      - A7
      - A8
      - A9
      - AA
      - AB
      - AC
      - AD
      - AE
      - AF
      - AG
      - AH
      - AI
      - AJ
      - AK
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - B1
      - B2
      - B3
      - BA
      - BB
      - BC
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BK
      - BL
      - BM
      - BN
      - BP
      - BQ
      - BR
      - BS
      - BT
      - BU
      - BV
      - BW
      - BX
      - BY
      - BZ
      - C1
      - CA
      - CB
      - CC
      - CD
      - CE
      - CF
      - CG
      - CH
      - CI
      - CJ
      - CK
      - CL
      - CM
      - CN
      - CO
      - CP
      - CQ
      - DG
      - DM
      - DS
      - GF
      - GN
      - GY
      - IC
      - MH
      - NI
      - 'ON'
      - PT
      - PU
      - RN
      - RT
      - TC
      - TN
      - UC
      description: Code identifying the type of service or benefit within a specific insurance policy (X12 008010 Element 1365)
      title: ServiceTypeCode
    type_pre-encounter_patients_v1_Contact:
      type: object
      properties:
        relationship:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_Relationship'
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        telecoms:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_Address'
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        hipaa_authorization:
          type: boolean
      required:
      - relationship
      - name
      - telecoms
      - addresses
      title: Contact
    type_pre-encounter_common_PayerPlanGroupId:
      type: string
      format: uuid
      description: The unique identifier for a PayerPlanGroup in the database
      title: PayerPlanGroupId
    type_pre-encounter_patients_v1_MutablePatient:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        other_names:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
          description: Other names for the patient.
        other_identifiers:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ExternalIdentifier'
          description: Other identifiers for the patient.
        gender:
          $ref: '#/components/schemas/type_pre-encounter_common_Gender'
        birth_date:
          type: string
          format: date
        social_security_number:
          type: string
        biological_sex:
          $ref: '#/components/schemas/type_pre-encounter_common_Sex'
          description: The biological sex of the patient. This corresponds to the HL7 AdministrativeGender https://www.hl7.org/fhir/valueset-administrative-gender.html
        sexual_orientation:
          $ref: '#/components/schemas/type_pre-encounter_common_SexualOrientation'
          description: The sexual orientation of the patient.
        pronouns:
          type: array
          items:
            type: string
          description: The pronouns of the patient.
        race:
          $ref: '#/components/schemas/type_pre-encounter_common_Race'
        ethnicity:
          $ref: '#/components/schemas/type_pre-encounter_common_Ethnicity'
        disability_status:
          $ref: '#/components/schemas/type_pre-encounter_common_DisabilityStatus'
        marital_status:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_MaritalStatus'
        deceased:
          type: string
          format: date-time
          description: Time of death for the patient.  Leave unset if the patient is not deceased.
        multiple_birth:
          type: integer
          description: The number of siblings the patient was born with.  Leave unset if the patient was not part of a multiple birth.
        primary_address:
          $ref: '#/components/schemas/type_pre-encounter_common_Address'
          description: The primary address for the patient.
        other_addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_Address'
          description: Other addresses for the patient.
        primary_telecom:
          $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
          description: The primary phone number for the patient.
        other_telecoms:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
          description: Other phone numbers for the patient.
        email:
          type: string
        electronic_communication_opt_in:
          type: boolean
          description: Use electronic_communication_consent for granular channel-level consent. This field is kept in sync automatically but should not be used for new integrations.
        electronic_communication_consent:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ElectronicCommunicationConsent'
          description: Granular consent for electronic communication channels.
        photo:
          type: string
        language:
          type: string
        external_provenance:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ExternalProvenance'
          description: Information about the upstream system that owns this patient data.  Leave unset if Candid owns patient data.
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Contact'
          description: Contacts for the patient.
        general_practitioners:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ExternalProvider'
        filing_order:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_FilingOrder'
        coverages_for_related_causes:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_CoveragesForRelatedCauses'
        non_insurance_payers:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerId'
        non_insurance_payer_associations:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerAssociation'
        guarantor:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_Guarantor'
        self_pay:
          type: boolean
        authorizations:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Authorization'
        referrals:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Referral'
        primary_service_facility_id:
          type: string
        service_facilities:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_PatientServiceFacility'
          description: Associated service facilities for this patient.
        do_not_invoice_reason:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_DoNotInvoiceReason'
          description: If this value is defined, the customer will not be invoiced.
        note_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_NoteId'
        tag_ids:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_TagId'
        origination_detail:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_OriginationDetail'
          description: Information about the patient source, if applicable.
        inferred_patient_metadata:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_InferredPatientMetadata'
          description: Metadata for the patient used for patient inference from encounters.
        orcon:
          type: boolean
          description: ORCON (Originator Controlled) - When set to true, the Candid system will hide this patient from downstream integrations. Updates made in the Candid UI will unset this flag. Defaults to false.
        advanced_directives:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_AdvancedDirective'
        hipaa_code:
          type: string
      required:
      - name
      - other_names
      - birth_date
      - biological_sex
      - primary_address
      - other_addresses
      - other_telecoms
      - contacts
      - general_practitioners
      - filing_order
      description: An object representing patient demographics information.
      title: MutablePatient
    type_pre-encounter_patients_v1_InferredPatientMetadata:
      type: object
      properties:
        inferred_encounter_id:
          type: string
        inferred_encounter_latest_date_of_service:
          type: string
          format: date
      required:
      - inferred_encounter_id
      - inferred_encounter_latest_date_of_service
      title: InferredPatientMetadata
    type_pre-encounter_patients_v1_OriginationDetail:
      type: object
      properties:
        referral_source:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ReferralSource'
        referring_provider:
          $ref: '#/components/schemas/type_pre-encounter_common_ExternalProvider'
        specialization_categories:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_SpecializationCategory'
        referral_type:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ReferralType'
      required:
      - referral_source
      title: OriginationDetail
    type_pre-encounter_coverages_v1_Subscriber:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        date_of_birth:
          type: string
          format: date
        biological_sex:
          $ref: '#/components/schemas/type_pre-encounter_common_Sex'
        address:
          $ref: '#/components/schemas/type_pre-encounter_common_Address'
        employer_name:
          type: string
      required:
      - name
      - biological_sex
      title: Subscriber
    type_pre-encounter_common_Sex:
      type: string
      enum:
      - FEMALE
      - MALE
      - UNKNOWN
      - REFUSED
      title: Sex
    type_pre-encounter_patients_v1_AdvancedDirective:
      type: string
      enum:
      - NONE
      - DURABLE_POWER_OF_ATTORNEY
      - LIVING_WILL
      - DO_NOT_RESUSCITATE
      - STANDARD_PRECAUTIONS
      - FALL_RISK
      title: AdvancedDirective
    type_pre-encounter_common_CanonicalNonInsurancePayerAssociation:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_pre-encounter_common_CanonicalNonInsurancePayerId'
        member_id:
          type: string
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        clinical_trial_info:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CanonicalClinicalTrialAssociation'
          description: A patient cannot be associated with a given trial more than once
      required:
      - id
      title: CanonicalNonInsurancePayerAssociation
    type_pre-encounter_patients_v1_PatientPage:
      type: object
      properties:
        next_page_token:
          $ref: '#/components/schemas/type_pre-encounter_common_PageToken'
        prev_page_token:
          $ref: '#/components/schemas/type_pre-encounter_common_PageToken'
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
      required:
      - total
      - items
      title: PatientPage
    type_pre-encounter_coverages_v1_Coverage:
      type: object
      properties:
        organization_id:
          $ref: '#/components/schemas/type_pre-encounter_common_OrganizationId'
          description: The organization that owns this object.
        deactivated:
          type: boolean
          description: True if the object is deactivated.  Deactivated objects are not returned in search results but are returned in all other endpoints including scan.
        version:
          type: integer
          description: The version of the object. Any update to any property of an object object will create a new version.
        updated_at:
          type: string
          format: date-time
        updating_user_id:
          $ref: '#/components/schemas/type_pre-encounter_common_UserId'
          description: The user ID of the user who last updated the object.
        status:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageStatus'
          description: The status indiciating if the coverage is active or not.
        subscriber:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_Subscriber'
          description: The party who has signed-up for or 'owns' the contractual relationship to the policy or to whom the benefit of the policy for services rendered to them or their family is due.
        relationship:
          $ref: '#/components/schemas/type_pre-encounter_common_Relationship'
          description: The relationship of beneficiary (patient) to the subscriber. https://hl7.org/fhir/valueset-relationship.html
        patient:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientId'
          description: The canonical Candid patient UUID corresponding with the patient who benefits from the insurance coverage
        insurance_plan:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_InsurancePlan'
        verified:
          type: boolean
          description: A boolean indicating if the coverage has been verified by a user.
        eligibility_checks:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_eligibilityChecks_v1_EligibilityCheckMetadata'
          description: A list of eligibility check metadata that have been initiated on this coverage.
        latest_eligibility_check:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_LatestEligibilityCheck'
          description: The latest eligibility check metadata that has been initiated on this coverage.
        benefits:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageBenefits'
          description: The eligibility of the patient for the coverage, manually verified by users.
        orcon:
          type: boolean
          description: ORCON (Originator Controlled) - When set to true, the Candid system will hide this coverage from downstream integrations. Updates made in the Candid UI will unset this flag. Defaults to false.
        auto_update_enabled:
          type: boolean
          description: Default to true. When set to true, the Candid system will automatically update this coverage with the latest eligibility check benefits information. Auto update behavior is also set at the eligibilityConfig org level configuration.
        previous_appointment_copays:
          type: object
          additionalProperties:
            type: integer
          description: A map of UniversalServiceIdentifier (MD_Visit, Treatment, Tests, Activity) to copay values in cents. This is used to track copay values for each service type to handle OOP max resets correctly.
        id:
          $ref: '#/components/schemas/type_pre-encounter_common_CoverageId'
      required:
      - organization_id
      - deactivated
      - version
      - updated_at
      - updating_user_id
      - status
      - subscriber
      - relationship
      - patient
      - insurance_plan
      - verified
      - id
      description: A coverage object with immutable server-owned properties.
      title: Coverage
    type_pre-encounter_coverages_v1_CoverageStatus:
      type: string
      enum:
      - ACTIVE
      - CANCELLED
      - DRAFT
      - ENTERED_IN_ERROR
      description: enum to represent the statuses defined at https://build.fhir.org/valueset-fm-status.html
      title: CoverageStatus
    type_pre-encounter_coverages_v1_LatestEligibilityCheck:
      type: object
      properties:
        check_id:
          type: string
        status:
          $ref: '#/components/schemas/type_pre-encounter_eligibilityChecks_v1_EligibilityStatus'
        initiated_at:
          type: string
          format: date-time
        errors:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_eligibilityChecks_v1_EligibilityCheckErrorDetails'
      required:
      - check_id
      - status
      - initiated_at
      description: A type to represent the latest eligibility check status of a coverage.
      title: LatestEligibilityCheck
    type_pre-encounter_patients_v1_FilingOrder:
      type: object
      properties:
        coverages:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_CoverageId'
      required:
      - coverages
      description: The patient's active coverages, in order of primary, secondary, etc.
      title: FilingOrder
    type_pre-encounter_patients_v1_ReferralSource:
      type: string
      enum:
      - HOSPITAL
      - REFERRING_MD
      - SELF
      - OTHER
      title: ReferralSource
    type_pre-encounter_coverages_v1_CoverageBenefits:
      type: object
      properties:
        plan_coverage:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_PlanCoverage'
        service_specific_coverage:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceCoverage'
        benefits_related_entities:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_BenefitsRelatedEntity'
        non_covered_details:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_NonCoveredDetail'
        notes:
          type: string
        autoUpdatedEligibilityCheckId:
          type: string
      title: CoverageBenefits
    type_pre-encounter_eligibilityChecks_v1_EligibilityCheckMetadata:
      type: object
      properties:
        check_id:
          type: string
        service_code:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceTypeCode'
        status:
          $ref: '#/components/schemas/type_pre-encounter_eligibilityChecks_v1_EligibilityCheckStatus'
        initiated_by:
          $ref: '#/components/schemas/type_pre-encounter_common_UserId'
        initiated_at:
          type: string
          format: date-time
      required:
      - check_id
      - service_code
      - status
      - initiated_by
      - initiated_at
      title: EligibilityCheckMetadata
    type_pre-encounter_common_PageToken:
      type: string
      description: A token that can be used to retrieve the next or previous page of results
      title: PageToken
    type_pre-encounter_common_CanonicalProviderId:
      type: string
      description: The unique identifier for a provider configured in the Candid system
      title: CanonicalProviderId
    type_pre-encounter_coverages_v1_BenefitsRelatedEntity:
      type: object
      properties:
        entityIdentifier:
          type: string
        entityType:
          type: string
        entityName:
          type: string
        contactInformation:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_RelatedEntityContact'
        serviceTypeCodes:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_ServiceTypeCode'
      title: BenefitsRelatedEntity
    type_pre-encounter_patients_v1_EligibilityTimelinePage:
      type: object
      properties:
        next_page_token:
          $ref: '#/components/schemas/type_pre-encounter_common_PageToken'
        prev_page_token:
          $ref: '#/components/schemas/type_pre-encounter_common_PageToken'
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_patients_v1_EligibilityTimelineEvent'
      required:
      - total
      - items
      title: EligibilityTimelinePage
    type_pre-encounter_coverages_v1_BenefitType:
      type: string
      enum:
      - DEDUCTIBLE
      - DEDUCTIBLE_CONTRACT
      - DEDUCTIBLE_REMAINING
      - DEDUCTIBLE_YEAR_TO_DATE
      - OOP_MAX
      - OOP_MAX_CONTRACT
      - OOP_MAX_REMAINING
      - OOP_MAX_YEAR_TO_DATE
      - COPAY
      - COINSURANCE
      - NON_COVERED
      - LIMITATION
      title: BenefitType
    type_pre-encounter_common_CanonicalServiceFacilityId:
      type: string
      description: The unique identifier for a service facility configured in the Candid system
      title: CanonicalServiceFacilityId
    type_pre-encounter_common_ExternalProviderType:
      type: string
      enum:
      - PRIMARY
      - REFERRING
      - ATTENDING
      title: ExternalProviderType
    type_pre-encounter_common_NoteId:
      type: string
      description: The unique identifier for a Note.
      title: NoteId
    type_pre-encounter_common_ErrorBase4xx:
      type: object
      properties:
        message:
          type: string
        data:
          description: Any type
      required:
      - message
      title: ErrorBase4xx
    type_pre-encounter_patients_v1_Guarantor:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        telecom:
          $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
        email:
          type: string
        birth_date:
          type: string
          format: date
        address:
          $ref: '#/components/schemas/type_pre-encounter_common_Address'
      required:
      - name
      - address
      title: Guarantor
    type_pre-encounter_common_OrganizationId:
      type: string
      description: The unique identifier for an Organization in the database
      title: OrganizationId
    type_pre-encounter_common_Ethnicity:
      type: string
      enum:
      - HISPANIC_OR_LATINO
      - NOT_HISPANIC_OR_LATINO
      - UNKNOWN
      - REFUSED
      title: Ethnicity
    type_pre-encounter_common_PatientServiceFacility:
      type: object
      properties:
        service_facility_id:
          $ref: '#/components/schemas/type_pre-encounter_common_CanonicalServiceFacilityId'
      required:
      - service_facility_id
      description: Represents a canonical service facility attached to a patient or patient dependent object
      title: PatientServiceFacility
    type_pre-encounter_coverages_v1_CarveOutType:
      type: string
      enum:
      - BEHAVIORAL
      - MEDICAL
      - THERAPY
      title: CarveOutType
    type_pre-encounter_patients_v1_Authorization:
      type: object
      properties:
        payer_id:
          $ref: '#/components/schemas/type_pre-encounter_common_PayerId'
        payer_name:
          type: string
        additional_payer_information:
          $ref: '#/components/schemas/type_pre-encounter_common_AdditionalPayerInformation'
        authorization_number:
          type: string
        cpt_code:
          type: string
        apply_for_all_cpt_codes:
          type: boolean
          description: If true, then the authorization will apply for all claims for the payer that fall in range the `period`.
        no_prior_authorization_required:
          type: boolean
          description: If true, indicates that prior authorization is not required and prior authorization number will not be set on the claim for this authorization.
        units:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_AuthorizationUnit'
        quantity:
          type: integer
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        notes:
          type: string
        billing_provider_npi:
          type: string
          description: The NPI of the billing provider for which this authorization applies.
        service_facility:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientServiceFacility'
          description: When set, specifies the service facility for which this authorization applies.
        dx_codes:
          type: array
          items:
            type: string
          description: When set, the authorization will only apply when at least one of these diagnosis codes is found on the claim/service lines (in addition to other criteria).
      required:
      - payer_id
      - payer_name
      - authorization_number
      - cpt_code
      - units
      title: Authorization
    type_pre-encounter_common_ExternalIdentifier:
      type: object
      properties:
        value:
          type: string
        system:
          type: string
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
      required:
      - value
      - system
      description: An external identifier for a patient
      title: ExternalIdentifier
    type_pre-encounter_common_TagId:
      type: string
      description: The unique identifier for a Tag.
      title: TagId
    type_pre-encounter_common_SortDirection:
      type: string
      enum:
      - asc
      - desc
      title: SortDirection
    type_pre-encounter_patients_v1_DoNotInvoiceReason:
      type: string
      enum:
      - BANKRUPTCY
      - DECEASED
      - HARDSHIP
      - OTHER
      - COLLECTIONS
      - BAD_ADDRESS
      - PROFESSIONAL_COURTESY
      title: DoNotInvoiceReason
    type_pre-encounter_common_NameUse:
      type: string
      enum:
      - USUAL
      - OFFICIAL
      - TEMP
      - NICKNAME
      - ANONYMOUS
      - OLD
      - MAIDEN
      title: NameUse
    type_pre-encounter_patients_v1_ReferralType:
      type: string
      enum:
      - DIRECTED
      - ROTATION
      - OVERNIGHT
      title: ReferralType
    type_pre-encounter_patients_v1_Referral:
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/type_pre-encounter_common_ExternalProvider'
        referral_number:
          type: string
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        notes:
          type: string
        serviceFacility:
          $ref: '#/components/schemas/type_pre-encounter_common_PatientServiceFacility'
        units:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_ReferralUnit'
        quantity:
          type: integer
        cptCodes:
          type: array
          items:
            type: string
        applyForAllCptCodes:
          type: boolean
      required:
      - provider
      - referral_number
      title: Referral
    type_pre-encounter_common_ContactPoint:
      type: object
      properties:
        value:
          type: string
        use:
          $ref: '#/components/schemas/type_pre-encounter_common_ContactPointUse'
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
      required:
      - value
      - use
      title: ContactPoint
    type_pre-encounter_patients_v1_ReferralUnit:
      type: string
      enum:
      - VISIT
      - UNIT
      title: ReferralUnit
    type_pre-encounter_common_VersionConflictErrorBody:
      type: object
      properties:
        message:
          type: string
        data:
          description: Any type
        latest_version:
          type: integer
      required:
      - message
      title: VersionConflictErrorBody
    type_pre-encounter_common_CoverageId:
      type: string
      format: uuid
      description: The unique identifier for a Coverage in the database
      title: CoverageId
    type_pre-encounter_common_Address:
      type: object
      properties:
        use:
          $ref: '#/components/schemas/type_pre-encounter_common_AddressUse'
        line:
          type: array
          items:
            type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string
        county:
          type: string
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
      required:
      - use
      - line
      - city
      - state
      - postal_code
      - country
      title: Address
    type_pre-encounter_common_SexualOrientation:
      type: string
      enum:
      - HETEROSEXUAL
      - HOMOSEXUAL
      - BISEXUAL
      - TWO_SPIRIT
      - OTHER
      - UNKNOWN
      - REFUSED
      title: SexualOrientation
    type_pre-encounter_coverages_v1_CoverageDetails:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_BenefitType'
        coverageLevel:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageLevel'
        unit:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValueUnit'
        value:
          type: number
          format: double
        additional_notes:
          type: string
      required:
      - type
      - coverageLevel
      - unit
      - value
      title: CoverageDetails
    type_pre-encounter_eligibilityChecks_v1_EligibilityStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - UNKNOWN
      description: enum to represent the status of a patient's coverage
      title: EligibilityStatus
    type_pre-encounter_common_CanonicalClinicalTrialId:
      type: string
      description: The unique identifier for a clinical trial configured in the Candid system
      title: CanonicalClinicalTrialId
    type_pre-encounter_coverages_v1_ServiceCoverageDetails:
      type: object
      properties:
        copay:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        coinsurance:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        visits:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        visits_remaining:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        additional_notes:
          type: string
      title: ServiceCoverageDetails
    type_pre-encounter_patients_v1_MaritalStatus:
      type: string
      enum:
      - ANNULLED
      - DIVORCED
      - INTERLOCUTORY
      - SEPARATED
      - MARRIED
      - COMMON_LAW
      - POLYGAMOUS
      - DOMESTIC_PARTNER
      - UNMARRIED
      - NEVER_MARRIED
      - WIDOWED
      - UNKNOWN
      title: MaritalStatus
    type_pre-encounter_coverages_v1_CoverageValueUnit:
      type: string
      enum:
      - PERCENT
      - CURRENCY
      - COUNT
      title: CoverageValueUnit
    type_pre-encounter_coverages_v1_RelatedEntityContact:
      type: object
      properties:
        mode:
          type: string
        value:
          type: string
      title: RelatedEntityContact
    type_pre-encounter_common_ExternalProvider:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/type_pre-encounter_common_HumanName'
        type:
          $ref: '#/components/schemas/type_pre-encounter_common_ExternalProviderType'
          description: Defaults to ATTENDING.
        npi:
          type: string
        telecoms:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_Address'
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
        canonical_id:
          $ref: '#/components/schemas/type_pre-encounter_common_CanonicalProviderId'
        fax:
          type: string
        other_fax_numbers:
          type: array
          items:
            type: string
        emails:
          type: array
          items:
            type: string
        service_facilities:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_common_PatientServiceFacility'
          description: Associated service facilities for this provider.
      required:
      - name
      - telecoms
      title: ExternalProvider
    type_pre-encounter_common_ContactPointUse:
      type: string
      enum:
      - HOME
      - WORK
      - TEMP
      - OLD
      - MOBILE
      title: ContactPointUse
    type_pre-encounter_common_CanonicalClinicalTrialAssociation:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_pre-encounter_common_CanonicalClinicalTrialId'
        clinical_trial_arm:
          type: string
        period:
          $ref: '#/components/schemas/type_pre-encounter_common_Period'
      required:
      - id
      title: CanonicalClinicalTrialAssociation
    type_pre-encounter_coverages_v1_CoverageValue:
      type: object
      properties:
        family:
          type: number
          format: double
        individual:
          type: number
          format: double
        employeeAndSpouse:
          type: number
          format: double
        employeeAndChildren:
          type: number
          format: double
      title: CoverageValue
    type_pre-encounter_common_AddressUse:
      type: string
      enum:
      - HOME
      - WORK
      - TEMP
      - OLD
      - BILLING
      title: AddressUse
    type_pre-encounter_common_DisabilityStatus:
      type: string
      enum:
      - DISABLED
      - NON_DISABLED
      title: DisabilityStatus
    type_pre-encounter_eligibilityChecks_v1_EligibilityCheckStatus:
      type: string
      enum:
      - COMPLETED
      - FAILED
      - PENDING
      description: enum to represent the status of an eligibility checks
      title: EligibilityCheckStatus
    type_pre-encounter_coverages_v1_PlanCoverage:
      type: object
      properties:
        in_network:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_PlanCoverageDetails'
        in_network_flat:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageDetails'
        out_of_network:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_PlanCoverageDetails'
        out_of_network_flat:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageDetails'
      title: PlanCoverage
    type_pre-encounter_patients_v1_PatientSortField:
      type: string
      description: 'The field to order by.  Valid values are either keys on the patient object or a special ordering "similar_name:<search_string>" (Ex: similar_name:John).  Similar name ordering uses trigrams to fuzzy match patient names to the search criteria.'
      title: PatientSortField
    type_pre-encounter_coverages_v1_PlanCoverageDetails:
      type: object
      properties:
        deductible:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        deductible_contract:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        deductible_remaining:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        deductible_year_to_date:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        oop_max:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        oop_max_contract:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        oop_max_remaining:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        oop_max_year_to_date:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CoverageValue'
        additional_notes:
          type: string
      title: PlanCoverageDetails
    type_pre-encounter_common_Race:
      type: string
      enum:
      - AMERICAN_INDIAN_OR_ALASKA_NATIVE
      - WHITE
      - BLACK
      - ASIAN
      - NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER
      - MIDDLE_EASTERN_OR_NORTH_AFRICAN
      - OTHER
      - UNKNOWN
      - REFUSED
      title: Race
    type_pre-encounter_common_UserId:
      type: string
      description: The unique identifier for a User in the database
      title: UserId
    type_pre-encounter_coverages_v1_CoverageCarveOut:
      type: object
      properties:
        carve_out:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_CarveOutType'
        member_id:
          type: string
        payer_id:
          $ref: '#/components/schemas/type_pre-encounter_common_PayerId'
        payer_name:
          type: string
        group_number:
          type: string
        plan_type:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_NetworkType'
        type:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_InsuranceTypeCode'
        payer_plan_group_id:
          $ref: '#/components/schemas/type_pre-encounter_common_PayerPlanGroupId'
          description: The ID of the Candid configured payer plan group associated with this coverage
      required:
      - carve_out
      - member_id
      - payer_id
      - payer_name
      title: CoverageCarveOut
    type_pre-encounter_coverages_v1_InsuranceTypeCode:
      type: string
      enum:
      - '01'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - '18'
      - '19'
      - '41'
      - '42'
      - '43'
      - '47'
      - AP
      - C1
      - CO
      - CP
      - D
      - DB
      - E
      - EP
      - FF
      - GP
      - HA
      - HB
      - HD
      - HG
      - HM
      - HN
      - HP
      - HS
      - IN
      - IP
      - LC
      - LD
      - LI
      - LT
      - M
      - MA
      - MB
      - MC
      - MD
      - ME
      - MF
      - MH
      - MI
      - MJ
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MR
      - MT
      - MV
      - OA
      - OT
      - PE
      - PL
      - PP
      - PR
      - PS
      - QM
      - RP
      - SP
      - TF
      - U
      - WC
      - WU
      description: Code identifying the type of insurance policy within a specific insurance program (X12 008020 Element 1336)
      title: InsuranceTypeCode
    type_pre-encounter_coverages_v1_NetworkType:
      type: string
      enum:
      - 09
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - AM
      - BL
      - CH
      - CI
      - DS
      - FI
      - HM
      - LM
      - MA
      - MB
      - MC
      - OF
      - TV
      - VA
      - WC
      - ZZ
      title: NetworkType
    type_pre-encounter_patients_v1_EligibilityAuditEventType:
      type: string
      enum:
      - APPOINTMENT_STATUS_CHANGED
      - APPOINTMENT_WORK_QUEUE_CHANGED
      - APPOINTMENT_COPAY_UPDATED
      - COVERAGE_CREATED
      - COVERAGE_UPDATED
      - ELIG_CHECK_COMPLETED
      title: EligibilityAuditEventType
    type_pre-encounter_common_AdditionalPayerInformation:
      type: object
      properties:
        availity_eligibility_id:
          type: string
        availity_payer_id:
          type: string
        availity_payer_name:
          type: string
        availity_remittance_payer_id:
          type: string
      title: AdditionalPayerInformation
    type_pre-encounter_patients_v1_PatientCoverageSnapshot:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/type_pre-encounter_patients_v1_Patient'
        primary_coverage:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_Coverage'
        secondary_coverage:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_Coverage'
        tertiary_coverage:
          $ref: '#/components/schemas/type_pre-encounter_coverages_v1_Coverage'
        coverages_for_related_causes:
          type: array
          items:
            $ref: '#/components/schemas/type_pre-encounter_coverages_v1_Coverage'
      required:
      - patient
      - coverages_for_related_causes
      title: PatientCoverageSnapshot
    type_pre-encounter_common_CanonicalNonInsurancePayerId:
      type: string
      description: The unique identifier for a non-insurance payer configured in the Candid system
      title: CanonicalNonInsurancePayerId
    type_pre-encounter_patients_v1_SpecializationCategory:
      type: string
      enum:
      - BEHAVIORAL_HEALTH_THERAPY
      - CARDIOLOGY
      - DERMATOLOGY
      - ENDOCRINOLOGY
      - ENT
      - GASTROENTEROLOGY
      - GENERAL_SURGERY
      - GENETICS
      - HEMATOLOGY
      - INFECTIOUS_DISEASE
      - NEUROLOGY
      - NUTRITIONAL_THERAPY
      - OB_GYN
      - ONCOLOGY
      - OPHTHALMOLOGY
      - ORTHOPEDICS
      - PAIN_MANAGEMENT
      - PEDIATRICS
      - PHYSICAL_THERAPY
      - PODIATRY
      - PRIMARY_CARE
      - PSYCHIATRY
      - PULMONOLOGY
      - RADIOLOGY
      - RHEUMATOLOGY
      - SCREENING
      - UROLOGY
      - OTHER
      title: SpecializationCategory
    type_pre-encounter_common_PatientId:
      type: string
      description: The unique identifier for a Patient
      title: PatientId
    type_pre-encounter_coverages_v1_CoverageLevel:
      type: string
      enum:
      - EMPLOYEE_AND_CHILDREN
      - EMPLOYEE_ONLY
      - EMPLOYEE_AND_SPOUSE
      - FAMILY
      - INDIVIDUAL
      title: CoverageLevel
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
