openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_insurance-adjudications.subpackage_insurance-adjudications/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_insurance-adjudications.subpackage_insurance-adjudications/v1
paths:
  /api/insurance-adjudications/v1/{insurance_adjudication_id}:
    get:
      operationId: get
      summary: Get insurance adjudication
      description: Retrieves a previously created insurance adjudication by its `insurance_adjudication_id`.
      tags:
      - subpackage_insurance-adjudications.subpackage_insurance-adjudications/v1
      parameters:
      - name: insurance_adjudication_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_insurance-adjudications/v1:InsuranceAdjudicationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_insurance-adjudications/v1:InsuranceAdjudication'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons:UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
