openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_write-offs.subpackage_write-offs/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_write-offs.subpackage_write-offs/v1
paths:
  /api/write-offs/v1:
    get:
      operationId: get-multi
      summary: Get all write-offs
      description: Returns all write-offs satisfying the search criteria.
      tags:
      - subpackage_write-offs.subpackage_write-offs/v1
      parameters:
      - name: limit
        in: query
        description: Defaults to 100. The value must be greater than 0 and less than 1000.
        required: false
        schema:
          type: integer
      - name: patient_external_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PatientExternalId'
      - name: payer_uuid
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers/v3:PayerUuid'
      - name: service_line_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:ServiceLineId'
      - name: claim_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:ClaimId'
      - name: billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:ProviderId'
      - name: sort
        in: query
        description: Defaults to write_off_timestamp
        required: false
        schema:
          $ref: '#/components/schemas/type_write-offs/v1:WriteOffSortField'
      - name: sort_direction
        in: query
        description: Sort direction. Defaults to descending order if not provided.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:SortDirection'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PageToken'
      - name: account_types
        in: query
        description: Filters the returned values to include only the provided account types.
        required: false
        schema:
          $ref: '#/components/schemas/type_financials:AccountType'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_write-offs/v1:WriteOffsPage'
    post:
      operationId: create
      summary: Create write-off
      description: 'Creates one or many write-offs applied toward a specific service line,

        claim, or billing provider.'
      tags:
      - subpackage_write-offs.subpackage_write-offs/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_write-offs/v1:CreateWriteOffsResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                write_offs:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_write-offs/v1:WriteOffCreate'
              required:
              - write_offs
  /api/write-offs/v1/{write_off_id}:
    get:
      operationId: get
      summary: Get write-off
      description: Retrieves a previously created write off by its `write_off_id`.
      tags:
      - subpackage_write-offs.subpackage_write-offs/v1
      parameters:
      - name: write_off_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_write-offs/v1:WriteOffId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_write-offs/v1:WriteOff'
  /api/write-offs/v1/{write_off_id}/revert:
    post:
      operationId: revert
      summary: Revert write-off
      description: Reverts a write off given a `write_off_id`.
      tags:
      - subpackage_write-offs.subpackage_write-offs/v1
      parameters:
      - name: write_off_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_write-offs/v1:WriteOffId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_write-offs/v1:WriteOff'
  /api/write-offs/v1/{adjustment_id}/revert:
    post:
      operationId: revert-insurance-balance-adjustment
      summary: Revert Insurance Balance Adjustment
      description: Reverts an Insurance Balance Adjustment given an `adjustment_id`
      tags:
      - subpackage_write-offs.subpackage_write-offs/v1
      parameters:
      - name: adjustment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:AdjustmentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_write-offs/v1:WriteOff'
  /api/write-offs/v1/{adjustment_id}/revert-era-originated:
    post:
      operationId: revert-era-originated-insurance-balance-adjustment
      summary: Revert ERA-originated Insurance Balance Adjustment
      description: Reverts an ERA-originated Insurance Balance Adjustment given an `adjustment_id`
      tags:
      - subpackage_write-offs.subpackage_write-offs/v1
      parameters:
      - name: adjustment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:AdjustmentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_commons:AdjustmentId'
components:
  schemas:
    type_commons:PageToken:
      type: string
      title: PageToken
    type_commons:PatientExternalId:
      type: string
      title: PatientExternalId
    type_commons:ClaimId:
      type: string
      format: uuid
      title: ClaimId
    type_commons:ProviderId:
      type: string
      format: uuid
      title: ProviderId
    type_commons:SortDirection:
      type: string
      enum:
      - asc
      - desc
      title: SortDirection
    type_financials:AccountType:
      type: string
      enum:
      - PATIENT
      - INSURANCE
      - THIRD_PARTY_PAYER
      title: AccountType
    type_commons:ServiceLineId:
      type: string
      format: uuid
      title: ServiceLineId
    type_commons:AdjustmentId:
      type: string
      format: uuid
      title: AdjustmentId
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
