openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1
paths:
  /api/payer-plan-groups/v1:
    get:
      operationId: get-multi
      summary: Get payer plan groups
      description: Returns all payer plan groups matching filter criteria.
      tags:
      - subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1
      parameters:
      - name: plan_group_name
        in: query
        required: false
        schema:
          type: string
      - name: payer_uuid
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers/v3:PayerUuid'
      - name: payer_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers/v3:PayerId'
      - name: plan_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:SourceOfPaymentCode'
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - name: payer_plan_group_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PayerPlanGroupId'
      - name: limit
        in: query
        description: Defaults to 100. Cannot exc
        required: false
        schema:
          type: integer
      - name: sort_by_similarity
        in: query
        description: 'If this property is passed, the results will be ordered by those that contain a payer_id, payer_name, plan_group_name, or

          payer_address most similar to the value passed. This will take precedence over the sort and sort_direction properties. This

          will always sort in order of most similar to least similar.'
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Defaults to plan_group_name. If sort_by_similarity is passed, that sort will takes precedence over this property.
        required: false
        schema:
          $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroupSortField'
      - name: sort_direction
        in: query
        description: Sort direction. Defaults to ascending order if not provided.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:SortDirection'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PageToken'
      - name: organization_id
        in: query
        description: Filter to a specific organization's payer plan groups. If not provided, defaults to the requesting user's organization.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:OrganizationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroupPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons:UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: create
      summary: Create a payer plan group
      description: Create a payer plan group
      tags:
      - subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroup'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - PayerPlanGroupAlreadyExistsHttpError
                  content:
                    $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroupAlreadyExistsError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_payer-plan-groups/v1:MutablePayerPlanGroup'
  /api/payer-plan-groups/v1/{payer_plan_group_id}:
    get:
      operationId: get
      summary: Get payer plan group
      description: Return a plan group with a given ID.
      tags:
      - subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1
      parameters:
      - name: payer_plan_group_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:PayerPlanGroupId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroup'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    put:
      operationId: update
      summary: Update payer plan group
      description: Update any of the fields on a payer plan group
      tags:
      - subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1
      parameters:
      - name: payer_plan_group_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:PayerPlanGroupId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroup'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - PayerPlanGroupAlreadyExistsHttpError
                  content:
                    $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroupAlreadyExistsError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_payer-plan-groups/v1:MutablePayerPlanGroup'
    patch:
      operationId: deactivate
      summary: Delete payer plan group
      description: Marks the payer plan group as deactivated
      tags:
      - subpackage_payer-plan-groups.subpackage_payer-plan-groups/v1
      parameters:
      - name: payer_plan_group_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:PayerPlanGroupId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payer-plan-groups/v1:PayerPlanGroup'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons:OrganizationId:
      type: string
      format: uuid
      title: OrganizationId
    type_commons:EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons:PageToken:
      type: string
      title: PageToken
    type_commons:PayerPlanGroupId:
      type: string
      format: uuid
      title: PayerPlanGroupId
    type_commons:SourceOfPaymentCode:
      type: string
      enum:
      - 09
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - AM
      - BL
      - CH
      - CI
      - DS
      - FI
      - HM
      - LM
      - MA
      - MB
      - MC
      - OF
      - TV
      - VA
      - WC
      - ZZ
      title: SourceOfPaymentCode
    type_commons:UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_commons:SortDirection:
      type: string
      enum:
      - asc
      - desc
      title: SortDirection
    type_commons:UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
