openapi: 3.2.0
info:
  title: Reference V3 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: v3
paths:
  /api/contracts/v3/{contract_id}:
    get:
      operationId: get
      summary: Get contract
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractWithProvidersUnion'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: delete
      summary: Delete contract
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - ContractIsLinkedToFeeScheduleHttpError
                  content:
                    $ref: '#/components/schemas/type_contracts_v2_ContractIsLinkedToFeeScheduleError'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update contract
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractWithProvidersUnion'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - ContractInvalidExpirationDateHttpError
                  content:
                    $ref: '#/components/schemas/type_contracts_v2_ContractInvalidExpirationDateError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_contracts_v3_ContractUpdateUnion'
  /api/contracts/v3:
    get:
      operationId: get_multi
      summary: Get all contracts
      tags:
      - v3
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of contracts returned. Defaults to 1000. Max is 1000.
        required: false
        schema:
          type: integer
      - name: type
        in: query
        description: The type of contract
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractType'
      - name: contracting_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractingProviderId'
      - name: rendering_provider_ids
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v3_RenderingProviderid'
      - name: payer_names
        in: query
        description: Filter to contracts that include any of the included payer names.
        required: false
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_State'
      - name: contract_status
        in: query
        description: The status of the contract. Defaults to `pending`
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
      - name: sort
        in: query
        description: Potentially sort by a contract related attribute.  Defaults to created_at
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractSortField'
      - name: sort_direction
        in: query
        description: Direction of sort, defaulting to desc
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SortDirection'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractsPage'
    post:
      operationId: create
      summary: Create contract
      description: Creates a new contract within the user's current organization
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractWithProvidersUnion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_contracts_v3_ContractCreateUnion'
  /api/contracts/v3/{contract_id}/providers:
    get:
      operationId: get_contract_providers
      summary: Get contract providers
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of providers returned per page. Defaults to 100. Max is 1000.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractProvidersPage'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: add_contract_providers
      summary: Add providers to contract
      description: Appends a list of rendering provider IDs to the contract. Provider IDs already on the contract are silently ignored.
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_AddContractProvidersResponse'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rendering_provider_ids:
                  type: array
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/type_contracts_v3_RenderingProviderid'
                  description: Provider IDs to add to the contract. Max 100,000 per request.
              required:
              - rendering_provider_ids
    delete:
      operationId: remove_contract_providers
      summary: Remove providers from contract
      description: Removes the specified rendering provider IDs from the contract. Returns a 404 if any of the provided IDs are not currently in the contract.
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractProviderCount'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rendering_provider_ids:
                  type: array
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/type_contracts_v3_RenderingProviderid'
                  description: Provider IDs to remove from the contract. Max 100,000 per request.
              required:
              - rendering_provider_ids
  /api/contracts/v3/{contract_id}/providers/credentialing:
    get:
      operationId: get_contract_provider_credentialing_spans
      summary: Get contract provider credentialing spans
      description: Returns rendering providers linked to a contract with their credentialing spans, scoped to the contract's contracting provider and payer. Providers with no matching spans are included with an empty list.
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of providers returned per page. Defaults to 100. Max is 1000.
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractProviderCredentialingPage'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/contracts/v3/{contract_id}/service-facilities:
    post:
      operationId: create_contract_service_facility
      summary: Create contract service facility
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractServiceFacility'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_facility_id:
                  type: string
                  format: uuid
                  description: The UUID of the service facility
                provider_ids:
                  type: array
                  uniqueItems: true
                  items:
                    type: string
                    format: uuid
                  description: The providers who are authorized under the contract
              required:
              - service_facility_id
              - provider_ids
  /api/contracts/v3/{contract_id}/service-facilities/{contract_service_facility_id}:
    patch:
      operationId: update_contract_service_facility
      summary: Update contract service facility
      tags:
      - v3
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
      - name: contract_service_facility_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v3_ContractServiceFacilityId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v3_ContractServiceFacility'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_facility_id:
                  type: string
                  format: uuid
                  description: The UUID of the service facility
                provider_ids:
                  type: array
                  uniqueItems: true
                  items:
                    type: string
                    format: uuid
                  description: The providers who are authorized under the contract
  /api/exports/v3:
    get:
      operationId: get_exports
      summary: Get exports
      description: '<Warning>

        API-based exports are in the process of being deprecated in favor of Candid Data Share and are not being offered to new customers.

        Please see the [Candid Data Share docs](https://docs.joincandidhealth.com/introduction/candid-data-share) for more information.

        </Warning>


        Retrieve CSV-formatted reports on claim submissions and outcomes. This endpoint returns Export objects that contain an

        authenticated URL to a customer''s reports with a 2min TTL. The schema for the CSV export can be found [here](https://app.joincandidhealth.com/files/exports_schema.csv).


        **Schema changes:** Changing column order, removing columns, or changing the name of a column is considered a

        [Breaking Change](../../../api-principles/breaking-changes). Adding new columns to the end of the Exports file is not considered a

        Breaking Change and happens periodically. For this reason, it is important that any downstream automation or processes built on top

        of Candid Health''s export files be resilient to the addition of new columns at the end of the file.


        **SLA guarantees:** Files for a given date are guaranteed to be available after 3 business days. For example, Friday''s file will be

        available by Wednesday at the latest. If file generation is still in progress upon request before 3 business days have passed, the

        caller will receive a 422 response. If the file has already been generated, it will be served. Historic files should be available

        up to 90 days in the past by default. Please email our [Support team](mailto:support@joincandidhealth.com) with any data requests

        outside of these stated guarantees.'
      tags:
      - v3
      parameters:
      - name: start_date
        in: query
        description: 'Beginning date of claim versions returned in the export, ISO 8601 date e.g. 2019-08-24.

          Must be at least 1 calendar day in the past. Cannot be earlier than 2022-10-07.'
        required: true
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: 'Ending date of claim versions returned in the export, ISO 8601 date; e.g. 2019-08-24.

          Must be within 30 days of start_date.'
        required: true
        schema:
          type: string
          format: date
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_exports_v3_GetExportsResponse'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - ExportDisabledError
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnsupportedExportWindowError
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
        '503':
          description: Error response with status 503
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - MissingDailyIncrementalExportFileError
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/service-line/{service_line_id}/match:
    get:
      operationId: get_match
      summary: Get Match
      description: Gets the rate that matches a service line.  No result means no rate exists matching the service line's dimensions.
      tags:
      - v3
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_MatchResult'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - FailedToBuildServiceLineDimensions
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/service-line/{service_line_id}/match/{rate_id}:
    get:
      operationId: test_match
      summary: Test Match
      description: Tests a service line against a rate to see if it matches.
      tags:
      - v3
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_RateId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_MatchTestResult'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - FailedToBuildServiceLineDimensions
                  content:
                    $ref: '#/components/schemas/type_commons_ErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3:
    get:
      operationId: get_multi
      summary: Get Multi
      description: Gets a list of dimensions with their rates. The rates returned will always be the most recent versions of those rates.
      tags:
      - v3
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of dimensions returned. Defaults to 100. Max is 100.
        required: false
        schema:
          type: integer
      - name: active_date
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: payer_uuid
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: organization_billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: states
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_State'
      - name: zip_codes
        in: query
        required: false
        schema:
          type: string
      - name: license_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
      - name: facility_type_codes
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
      - name: network_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_NetworkType'
      - name: payer_plan_group_ids
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
      - name: cpt_code
        in: query
        required: false
        schema:
          type: string
      - name: modifiers
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ProcedureModifier'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_RatesPage'
    post:
      operationId: upload_fee_schedule
      summary: Upload a fee schedule (a collection of rates)
      description: 'Uploads a new fee schedule.


        Each rate may either be totally new as qualified by its dimensions or a new version for an existing rate.


        If adding a new version to an existing rate, the rate must be posted with the next version number (previous version + 1) or a EntityConflictError will

        be returned.


        Use the dry run flag to discover already existing rates and to run validations.  If validations for any rate fail, no rates will

        be saved to the system.'
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_fee-schedules_v3_Rate'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - FeeScheduleValidationHttpError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_fee-schedules_v3_RateUploadWithPossibleErrors'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                rates:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_fee-schedules_v3_RateUpload'
              required:
              - dry_run
              - rates
  /api/fee-schedules/v3/unique-dimension-values:
    get:
      operationId: get_unique_values_for_dimension
      summary: Get Unique Values For Dimension
      description: Gets unique values for a dimension based on other selection criteria. The response is a list of dimensions with your criteria and the unique values populated. This API is useful for driving pivots on dimension values.
      tags:
      - v3
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of values returned. Defaults to 1000. Max is 1000.
        required: false
        schema:
          type: integer
      - name: pivot_dimension
        in: query
        description: The name of the dimension to fetch unique values for.
        required: true
        schema:
          $ref: '#/components/schemas/type_fee-schedules_v3_DimensionName'
      - name: payer_uuid
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: organization_billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: states
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_State'
      - name: zip_codes
        in: query
        required: false
        schema:
          type: string
      - name: license_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
      - name: facility_type_codes
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
      - name: network_types
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_NetworkType'
      - name: payer_plan_group_ids
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
      - name: cpt_code
        in: query
        required: false
        schema:
          type: string
      - name: modifiers
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ProcedureModifier'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_DimensionsPage'
  /api/fee-schedules/v3/{rate_id}/history:
    get:
      operationId: get_rate_history
      summary: Get Rate History
      description: Gets every version of a rate.
      tags:
      - v3
      parameters:
      - name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_RateId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_fee-schedules_v3_Rate'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/{rate_id}/{version}:
    delete:
      operationId: delete_rate
      summary: Delete a rate
      description: Soft deletes a rate from the system.  Only the most recent version of a rate can be deleted.
      tags:
      - v3
      parameters:
      - name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_RateId'
      - name: version
        in: path
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
  /api/fee-schedules/v3/payer-threshold/default:
    get:
      operationId: get_payer_thresholds_default
      summary: Get Payer Thresholds Default
      description: Gets the default payer threshold
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
  /api/fee-schedules/v3/payer-threshold:
    get:
      operationId: get_payer_thresholds
      summary: Get Payer Thresholds
      description: Gets a list of payers and thresholds by their uuids
      tags:
      - v3
      parameters:
      - name: payer_uuids
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_PayerThresholdsPage'
  /api/fee-schedules/v3/payer-threshold/{payer_uuid}:
    put:
      operationId: set_payer_threshold
      summary: Set Payer Threshold
      description: Sets the threshold information for a payer
      tags:
      - v3
      parameters:
      - name: payer_uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
  /api/fee-schedules/v3/hard-delete:
    post:
      operationId: hard_delete_rates
      summary: Hard delete rates
      description: Hard deletes rates from the system that match the provided dimensions.  This is a destructive operation and cannot be undone.  If an empty dimensions object is provided, all rates will be hard deleted.  The maximum number of rates this API will delete at a time is 10000.  Returns the number of rates deleted and if that number is the maximum, the caller should call this API again to continue deleting rates.
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_fee-schedules_v3_OptionalDimensions'
  /api/fee-schedules/v3/hard-delete-by-ids:
    post:
      operationId: hard_delete_rates_by_ids
      summary: Hard delete rates by IDs
      description: Hard deletes specific rates from the system by their IDs. This is a destructive operation and cannot be undone. Limited to 100 rate IDs maximum per request. For bulk deletion of more than 100 rates, use the hard_delete_rates endpoint with dimension filters. Returns the number of rates deleted.
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_commons_RateId'
              required:
              - rate_ids
  /api/organization-providers/v3/{organization_provider_id}:
    get:
      operationId: get
      summary: Get organization provider
      tags:
      - v3
      parameters:
      - name: organization_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update organization provider
      tags:
      - v3
      parameters:
      - name: organization_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UpdatesDisabledDueToExternalSystemIntegrationError
                  content:
                    $ref: '#/components/schemas/type_commons_UpdatesDisabledDueToExternalSystemIntegrationErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderUpdateV2'
  /api/organization-providers/v3:
    get:
      operationId: get_multi
      summary: Get all organization providers
      tags:
      - v3
      parameters:
      - name: limit
        in: query
        description: Limit the number of results returned. Defaults to 100.
        required: false
        schema:
          type: integer
      - name: search_term
        in: query
        description: Filter to a name or a part of a name.
        required: false
        schema:
          type: string
      - name: npi
        in: query
        description: Filter to a specific NPI.
        required: false
        schema:
          type: string
      - name: is_rendering
        in: query
        description: Filter to only rendering providers.
        required: false
        schema:
          type: boolean
      - name: is_billing
        in: query
        description: Filter to only billing providers.
        required: false
        schema:
          type: boolean
      - name: organization_provider_ids
        in: query
        description: Filter to the provided organization provider IDs.
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: page_token
        in: query
        description: The page token to continue paging through a previous request.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: sort
        in: query
        description: Defaults to PROVIDER_NAME_ASC.
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderSortOptions'
      - name: organization_id
        in: query
        description: Filter to a specific organization's providers. If not provided, defaults to the requesting user's organization.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_OrganizationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderPageV2'
    post:
      operationId: create
      summary: Create organization provider
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UpdatesDisabledDueToExternalSystemIntegrationError
                  content:
                    $ref: '#/components/schemas/type_commons_UpdatesDisabledDueToExternalSystemIntegrationErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderCreateV2'
  /api/organization-providers/v3/{organization_provider_id}/attachments:
    put:
      operationId: upload_attachment
      summary: Upload provider attachment
      description: 'Uploads a file to the provider. Accepted file types are W9, PECOS_RECORD, and BANK_LETTER_OR_VOIDED_CHECK.

        Only one file per type is allowed per provider — uploading when a file of the same type already exists returns a 409.'
      tags:
      - v3
      parameters:
      - name: organization_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-providers_v3_ProviderAttachmentId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                attachment_file:
                  type: string
                  format: binary
                  description: The file to upload.
                file_type:
                  $ref: '#/components/schemas/type_organization-providers_v3_ProviderAttachmentFileType'
              required:
              - attachment_file
              - file_type
    get:
      operationId: list_attachments
      summary: List provider attachments
      tags:
      - v3
      parameters:
      - name: organization_provider_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_organization-providers_v3_ProviderAttachment'
  /api/organization-providers/v3/attachments/download:
    get:
      operationId: download_attachment
      summary: Download provider attachment
      tags:
      - v3
      parameters:
      - name: attachment_id
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-providers_v3_ProviderAttachmentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-providers_v3_ProviderAttachmentResponse'
  /api/organization-providers/v3/attachments/{attachment_id}:
    delete:
      operationId: delete_attachment
      summary: Delete provider attachment
      tags:
      - v3
      parameters:
      - name: attachment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-providers_v3_ProviderAttachmentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /api/payers/v3/{payer_uuid}:
    get:
      operationId: get
      summary: Get payer
      tags:
      - v3
      parameters:
      - name: payer_uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payers_v3_Payer'
  /api/payers/v3:
    get:
      operationId: getAll
      summary: Get all payers
      tags:
      - v3
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: search_term
        in: query
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payers_v3_PayerPage'
  /api/tasks/v3/{task_id}/actions:
    get:
      operationId: get_actions
      summary: Get task actions
      tags:
      - v3
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_TaskId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks_v3_TaskActions'
  /api/tasks/v3:
    get:
      operationId: get_multi
      summary: Get all tasks
      tags:
      - v3
      parameters:
      - name: limit
        in: query
        description: Defaults to 100
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_tasks_commons_TaskStatus'
      - name: statuses
        in: query
        description: Only return tasks with a status that matches one in this comma-separated list.
        required: false
        schema:
          type: string
      - name: task_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_tasks_commons_TaskType'
      - name: task_types
        in: query
        description: Only return tasks with a task_type that matches one in this comma-separated list.
        required: false
        schema:
          type: string
      - name: categories
        in: query
        description: Only return tasks with categories that match one in this comma-separated list.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Only return tasks updated on or after this date-time
        required: false
        schema:
          type: string
          format: date-time
      - name: encounter_id
        in: query
        description: Only return tasks associated with this encounter
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: search_term
        in: query
        description: Query tasks by encounter_id, claim_id, task_id, or external_id
        required: false
        schema:
          type: string
      - name: assigned_to_id
        in: query
        description: Only return tasks assigned to this user
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_UserId'
      - name: date_of_service_min
        in: query
        description: The minimum date of service for the linked encounter
        required: false
        schema:
          type: string
          format: date
      - name: date_of_service_max
        in: query
        description: The maximum date of service for the linked encounter
        required: false
        schema:
          type: string
          format: date
      - name: billing_provider_npi
        in: query
        description: The NPI of the billing provider associated with the task's claim
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Defaults to updated_at:desc
        required: false
        schema:
          $ref: '#/components/schemas/type_tasks_v3_TaskSortOptions'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks_v3_TaskPage'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: create
      summary: Create task
      tags:
      - v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks_v3_Task'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_tasks_v3_TaskCreateV3'
  /api/tasks/v3/{task_id}:
    get:
      operationId: get
      summary: Get task
      tags:
      - v3
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_TaskId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks_v3_Task'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update task
      tags:
      - v3
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_TaskId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks_v3_Task'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - TaskUpdatedToDeprecatedStatusError
                  content:
                    $ref: '#/components/schemas/type_tasks_v3_TaskUpdatedToDeprecatedStatusErrorType'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_tasks_v3_TaskUpdateV3'
components:
  schemas:
    type_commons_EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_contracts_v3_ContractProviderCredentialingPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_contracts_v3_ContractProviderCredentialing'
      required:
      - items
      title: ContractProviderCredentialingPage
    type_contracts_v2_AuthorizedSignatoryUpdate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - set
            description: 'Discriminator value: set'
          first_name:
            type: string
          last_name:
            type: string
          title:
            type: string
          email:
            type: string
          phone:
            type: string
          fax:
            type: string
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
        required:
        - type
      discriminator:
        propertyName: type
      title: AuthorizedSignatoryUpdate
    type_contracts_v3_ContractCreateUnion:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - professional
            description: 'Discriminator value: professional'
          effective_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: The starting day upon which the contract is effective
          expiration_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: An optional end day upon which the contract expires
          regions:
            $ref: '#/components/schemas/type_commons_Regions'
            description: 'The state(s) to which the contract''s coverage extends.

              It may also be set to "national" for the entirety of the US.'
          contract_status:
            $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
          authorized_signatory:
            $ref: '#/components/schemas/type_contracts_v2_AuthorizedSignatory'
          commercial_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The commercial plan insurance types this contract applies.
          medicare_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicare plan insurance types this contract applies.
          medicaid_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicaid plan insurance types this contract applies.
          contract_type:
            $ref: '#/components/schemas/type_contracts_v3_ContractType'
            description: The type of contract
          contracting_provider_id:
            $ref: '#/components/schemas/type_contracts_v3_ContractingProviderId'
            description: The UUID of the provider under agreement to the contract
          payer_uuid:
            type: string
            format: uuid
            description: The UUID of the insurance company under agreement to the contract
          rendering_provider_ids:
            type: array
            uniqueItems: true
            items:
              $ref: '#/components/schemas/type_contracts_v3_RenderingProviderid'
        required:
        - type
        - effective_date
        - regions
        - commercial_insurance_types
        - medicare_insurance_types
        - medicaid_insurance_types
        - contract_type
        - contracting_provider_id
        - payer_uuid
        - rendering_provider_ids
      - type: object
        properties:
          type:
            type: string
            enum:
            - institutional
            description: 'Discriminator value: institutional'
          effective_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: The starting day upon which the contract is effective
          expiration_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: An optional end day upon which the contract expires
          regions:
            $ref: '#/components/schemas/type_commons_Regions'
            description: 'The state(s) to which the contract''s coverage extends.

              It may also be set to "national" for the entirety of the US.'
          contract_status:
            $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
          authorized_signatory:
            $ref: '#/components/schemas/type_contracts_v2_AuthorizedSignatory'
          commercial_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The commercial plan insurance types this contract applies.
          medicare_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicare plan insurance types this contract applies.
          medicaid_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicaid plan insurance types this contract applies.
          contract_type:
            $ref: '#/components/schemas/type_contracts_v3_ContractType'
            description: The type of contract
          contracting_provider_id:
            $ref: '#/components/schemas/type_contracts_v3_ContractingProviderId'
            description: The UUID of the provider under agreement to the contract
          payer_uuid:
            type: string
            format: uuid
            description: The UUID of the insurance company under agreement to the contract
          contract_service_facilities:
            type: array
            items:
              $ref: '#/components/schemas/type_contracts_v3_ContractServiceFacilityBase'
        required:
        - type
        - effective_date
        - regions
        - commercial_insurance_types
        - medicare_insurance_types
        - medicaid_insurance_types
        - contract_type
        - contracting_provider_id
        - payer_uuid
        - contract_service_facilities
      discriminator:
        propertyName: type
      title: ContractCreateUnion
    type_commons_UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_fee-schedules_v3_DimensionName:
      type: string
      enum:
      - payer_uuid
      - organization_billing_provider_id
      - cpt_code
      description: The name of a dimension.
      title: DimensionName
    type_contracts_v3_ContractServiceFacility:
      type: object
      properties:
        service_facility_id:
          type: string
          format: uuid
          description: The UUID of the service facility
        provider_ids:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
          description: The providers who are authorized under the contract
        contract_id:
          $ref: '#/components/schemas/type_contracts_v3_ContractId'
          description: The UUID of the contract
        contract_service_facility_id:
          $ref: '#/components/schemas/type_contracts_v3_ContractServiceFacilityId'
      required:
      - service_facility_id
      - provider_ids
      - contract_id
      - contract_service_facility_id
      title: ContractServiceFacility
    type_organization-service-facilities_v2_OrganizationServiceFacilityId:
      type: string
      format: uuid
      title: OrganizationServiceFacilityId
    type_fee-schedules_v3_OptionalDimensions:
      type: object
      properties:
        payer_uuid:
          $ref: '#/components/schemas/type_payers_v3_PayerUuid'
        organization_billing_provider_id:
          $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderId'
        states:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_State'
        zip_codes:
          type: array
          uniqueItems: true
          items:
            type: string
        license_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
        facility_type_codes:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_FacilityTypeCode'
        network_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_NetworkType'
        payer_plan_group_ids:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_PayerPlanGroupId'
        cpt_code:
          type: string
        modifiers:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
      required:
      - states
      - zip_codes
      - license_types
      - facility_type_codes
      - network_types
      - payer_plan_group_ids
      - modifiers
      description: A dimensions object where all properties are optional.
      title: OptionalDimensions
    type_contracts_v3_ContractServiceFacilityBase:
      type: object
      properties:
        service_facility_id:
          type: string
          format: uuid
          description: The UUID of the service facility
        provider_ids:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
          description: The providers who are authorized under the contract
      required:
      - service_facility_id
      - provider_ids
      title: ContractServiceFacilityBase
    type_fee-schedules_v3_MatchTestResult:
      type: object
      properties:
        dimensions:
          $ref: '#/components/schemas/type_fee-schedules_v3_DimensionMatch'
        threshold:
          $ref: '#/components/schemas/type_fee-schedules_v3_ThresholdMatch'
      required:
      - dimensions
      - threshold
      title: MatchTestResult
    type_fee-schedules_v3_PayerThresholdsPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        payer_thresholds:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/type_fee-schedules_v3_PayerThreshold'
      required:
      - payer_thresholds
      title: PayerThresholdsPage
    type_fee-schedules_v3_MatchLicenseType:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for rendering provider license type
      title: MatchLicenseType
    type_identifiers_IdentifierCreate:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/type_commons_DateRangeOptionalEnd'
        identifier_code:
          $ref: '#/components/schemas/type_identifiers_IdentifierCode'
        identifier_value:
          $ref: '#/components/schemas/type_identifiers_IdentifierValue'
      required:
      - identifier_code
      - identifier_value
      title: IdentifierCreate
    type_contracts_v3_RenderingProviderid:
      type: string
      format: uuid
      title: RenderingProviderid
    type_credentialing_v2_ProviderCredentialingSpan:
      type: object
      properties:
        contracting_provider:
          $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
          description: The practice location at which the rendering provider is covered by the credentialing span.
        payer:
          $ref: '#/components/schemas/type_payers_v3_Payer'
          description: The payer doing the credentialing.
        start_date:
          type: string
          format: date
          description: Start date of the credentialing span.
        end_date:
          type: string
          format: date
          description: End date of the credentialing span.
        submitted_date:
          type: string
          format: date
          description: Date that the credential paperwork was submitted.
        credentialing_status:
          $ref: '#/components/schemas/type_credentialing_v2_CredentialingSpanStatus'
          description: Status of the credentialing span.
        payer_loaded_date:
          type: string
          format: date
          description: Date that the payer loaded the credentialing span into their system.
        is_enabled:
          type: boolean
          description: Is the credentialing span enabled?
        provider_credentialing_span_id:
          $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpanId'
        rendering_provider:
          $ref: '#/components/schemas/type_organization-providers_v3_OrganizationProviderV2'
          description: The rendering provider covered by the credentialing span.
        regions:
          $ref: '#/components/schemas/type_commons_Regions'
          description: The states covered by the credentialing span. A span may be national and cover all states.
        medallion_payer_enrollment_id:
          type: string
          format: uuid
          description: Provider ID for the related medallion payer enrollment.
        source:
          type: string
          description: Source of the credentialing span.
      required:
      - contracting_provider
      - payer
      - credentialing_status
      - is_enabled
      - provider_credentialing_span_id
      - rendering_provider
      - regions
      - source
      title: ProviderCredentialingSpan
    type_contracts_v2_ContractStatus:
      type: string
      enum:
      - pending
      - effective
      - cancelled
      title: ContractStatus
    type_contracts_v2_InsuranceTypes:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - allApply
            description: 'Discriminator value: allApply'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - noneApply
            description: 'Discriminator value: noneApply'
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - theseApply
            description: 'Discriminator value: theseApply'
          value:
            type: array
            uniqueItems: true
            items:
              $ref: '#/components/schemas/type_commons_InsuranceTypeCode'
        required:
        - type
        - value
      discriminator:
        propertyName: type
      title: InsuranceTypes
    type_commons_RemovableDateRangeOptionalEnd:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - date_range
            description: 'Discriminator value: date_range'
          start_date:
            $ref: '#/components/schemas/type_commons_Date'
          end_date:
            $ref: '#/components/schemas/type_commons_Date'
        required:
        - type
        - start_date
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
        required:
        - type
      discriminator:
        propertyName: type
      title: RemovableDateRangeOptionalEnd
    type_contracts_v2_ContractIsLinkedToFeeScheduleError:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: ContractIsLinkedToFeeScheduleError
    type_commons_NetworkType:
      type: string
      enum:
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '17'
      - AM
      - CH
      - DS
      - HM
      - LM
      - MA
      - MB
      - MC
      - OF
      - TV
      - VA
      - WC
      - ZZ
      - CI
      - BL
      title: NetworkType
    type_identifiers_IdentifierId:
      type: string
      format: uuid
      title: IdentifierId
    type_commons_Date:
      type: string
      description: ISO 8601 date; formatted YYYY-MM-DD (i.e. 2012-02-01)
      title: Date
    type_identifiers_UpdatableIdentifier:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - add
            description: 'Discriminator value: add'
          period:
            $ref: '#/components/schemas/type_commons_DateRangeOptionalEnd'
          identifier_code:
            $ref: '#/components/schemas/type_identifiers_IdentifierCode'
          identifier_value:
            $ref: '#/components/schemas/type_identifiers_IdentifierValue'
        required:
        - type
        - identifier_code
        - identifier_value
      - type: object
        properties:
          type:
            type: string
            enum:
            - update
            description: 'Discriminator value: update'
          identifier_id:
            $ref: '#/components/schemas/type_identifiers_IdentifierId'
          identifier_code:
            $ref: '#/components/schemas/type_identifiers_IdentifierCode'
          identifier_value:
            $ref: '#/components/schemas/type_identifiers_IdentifierValue'
          period:
            $ref: '#/components/schemas/type_commons_RemovableDateRangeOptionalEnd'
        required:
        - type
        - identifier_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
          value:
            $ref: '#/components/schemas/type_identifiers_IdentifierId'
        required:
        - type
        - value
      discriminator:
        propertyName: type
      title: UpdatableIdentifier
    type_organization-providers_v3_OrganizationProviderCreateV2:
      type: object
      properties:
        npi:
          type: string
          description: The NPI of the provider. This must be all digits [0-9] and exactly 10 characters long.
        is_rendering:
          type: boolean
          description: Whether the provider can be used to render services.
        is_billing:
          type: boolean
          description: Whether the provider can be used to bill services.
        first_name:
          type: string
          description: The first name of the provider. Required when provider_type is INDIVIDUAL. Must not be set when provider_type is ORGANIZATION.
        last_name:
          type: string
          description: The last name of the provider. Required when provider_type is INDIVIDUAL. Must not be set when provider_type is ORGANIZATION.
        organization_name:
          type: string
          description: The name of the provider. Required when provider_type is ORGANIZATION. Must not be set when provider_type is INDIVIDUAL.
        provider_type:
          $ref: '#/components/schemas/type_organization-providers_v2_ProviderType'
          description: Whether the provider is an individual (NPPES Type 1) or organization (NPPES Type 2) provider.
        tax_id:
          type: string
          description: Required when is_billing is true. If the provider has a contract with insurance, this must be the same tax ID given to the payer on an IRS W-9 form completed during contracting.
        taxonomy_code:
          type: string
          description: A code designating classification and specialization.
        license_type:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
          description: The type of license that the provider holds.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProviderAddress'
          description: The addresses associated with this provider.
        employment_start_date:
          type: string
          format: date
          description: The employment start date for the provider.
        employment_termination_date:
          type: string
          format: date
          description: The employment termination date for the provider.
        qualifications:
          type: array
          items:
            $ref: '#/components/schemas/type_identifiers_IdentifierCreate'
          description: A provider's qualifications such as PTAN, Medicaid Provider Id, etc.
      required:
      - npi
      - is_rendering
      - is_billing
      - provider_type
      - license_type
      - qualifications
      title: OrganizationProviderCreateV2
    type_contracts_v3_ContractUnion:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - professional
            description: 'Discriminator value: professional'
          effective_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: The starting day upon which the contract is effective
          expiration_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: An optional end day upon which the contract expires
          regions:
            $ref: '#/components/schemas/type_commons_Regions'
            description: 'The state(s) to which the contract''s coverage extends.

              It may also be set to "national" for the entirety of the US.'
          contract_status:
            $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
          authorized_signatory:
            $ref: '#/components/schemas/type_contracts_v2_AuthorizedSignatory'
          commercial_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The commercial plan insurance types this contract applies.
          medicare_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicare plan insurance types this contract applies.
          medicaid_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicaid plan insurance types this contract applies.
          contract_id:
            $ref: '#/components/schemas/type_contracts_v3_ContractId'
          contracting_provider:
            $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProvider'
            description: The provider under contract
          provider_count:
            type: integer
            description: The number of linked providers who can render medical services under this contract
          payer:
            $ref: '#/components/schemas/type_payers_v3_Payer'
            description: The insurance company under contract
        required:
        - type
        - effective_date
        - regions
        - commercial_insurance_types
        - medicare_insurance_types
        - medicaid_insurance_types
        - contract_id
        - contracting_provider
        - provider_count
        - payer
      - type: object
        properties:
          type:
            type: string
            enum:
            - institutional
            description: 'Discriminator value: institutional'
          effective_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: The starting day upon which the contract is effective
          expiration_date:
            $ref: '#/components/schemas/type_commons_Date'
            description: An optional end day upon which the contract expires
          regions:
            $ref: '#/components/schemas/type_commons_Regions'
            description: 'The state(s) to which the contract''s coverage extends.

              It may also be set to "national" for the entirety of the US.'
          contract_status:
            $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
          authorized_signatory:
            $ref: '#/components/schemas/type_contracts_v2_AuthorizedSignatory'
          commercial_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The commercial plan insurance types this contract applies.
          medicare_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicare plan insurance types this contract applies.
          medicaid_insurance_types:
            $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
            description: The Medicaid plan insurance types this contract applies.
          contract_id:
            $ref: '#/components/schemas/type_contracts_v3_ContractId'
          contracting_provider:
            $ref: '#/components/schemas/type_organization-providers_v2_OrganizationProvider'
            description: The provider under contract
          provider_count:
            type: integer
            description: The number of linked providers who can render medical services under this contract
          payer:
            $ref: '#/components/schemas/type_payers_v3_Payer'
            description: The insurance company under contract
        required:
        - type
        - effective_date
        - regions
        - commercial_insurance_types
        - medicare_insurance_types
        - medicaid_insurance_types
        - contract_id
        - contracting_provider
        - provider_count
        - payer
      discriminator:
        propertyName: type
      title: ContractUnion
    type_fee-schedules_v3_MatchResult:
      type: object
      properties:
        threshold:
          $ref: '#/components/schemas/type_fee-schedules_v3_ThresholdMatch'
        rate_id:
          $ref: '#/components/schemas/type_commons_RateId'
      required:
      - threshold
      - rate_id
      title: MatchResult
    type_commons_UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
    type_fee-schedules_v3_MatchFacilityTypeCode:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for facility type code
      title: MatchFacilityTypeCode
    type_commons_SortDirection:
      type: string
      enum:
      - asc
      - desc
      title: SortDirection
    type_contracts_v3_ContractServiceFacilityId:
      type: string
      format: uuid
      title: ContractServiceFacilityId
    type_pipeline-commons_ConfigurableRuleId:
      type: string
      format: uuid
      title: ConfigurableRuleId
    type_fee-schedules_v3_MatchDate:
      type: object
      properties:
        value:
          type: string
          format: date
        match:
          type: boolean
        explanation:
          type: string
      required:
      - match
      - explanation
      description: Match information for date of service
      title: MatchDate
    type_fee-schedules_v3_PayerThreshold:
      type: object
      properties:
        upper_threshold_cents:
          type: integer
        lower_threshold_cents:
          type: integer
        disable_paid_incorrectly:
          type: boolean
      required:
      - disable_paid_incorrectly
      description: 'Rate thresholds that determine fee schedule rate matching behavior.  When a service line is adjudicated by a payer Candid determines if the payer''s

        allowed amount "matches" the rate value.  If the allowed amount doesn''t equal the rate value, Candid moves the claim to a PAID_INCORRECTLY state.  These

        optional thresholds allow a user to set wiggle room to avoid claims moving to PAID_INCORRECTLY and instead have them move directly to FINALIZED_PAID

        when the payer''s allowed amount is greater than [rate_cents - lower_threshold_cents] and less than [rate_cents + upper_threshold_cents].


        Additionally, a client can set disable_paid_incorrectly to avoid the PAID_INCORRECTLY claim status entirely.'
      title: PayerThreshold
    type_tasks_v3_TaskPage:
      type: object
      properties:
        prev_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_tasks_v3_Task'
      required:
      - items
      title: TaskPage
    type_tasks_v3_TaskNote:
      type: object
      properties:
        task_note_id:
          $ref: '#/components/schemas/type_commons_TaskNoteId'
        text:
          type: string
        created_at:
          type: string
          format: date-time
        author_name:
          type: string
        author_organization_name:
          type: string
      required:
      - task_note_id
      - text
      - created_at
      - author_name
      - author_organization_name
      title: TaskNote
    type_organization-providers_v3_ProviderAttachmentId:
      type: string
      format: uuid
      title: ProviderAttachmentId
    type_commons_ProcedureModifier:
      type: string
      enum:
      - AV
      - AU
      - AW
      - AY
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '32'
      - '33'
      - '47'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '59'
      - '62'
      - '63'
      - '66'
      - '73'
      - '74'
      - '76'
      - '77'
      - '78'
      - '79'
      - '80'
      - '81'
      - '82'
      - '90'
      - '91'
      - '92'
      - '93'
      - '95'
      - '96'
      - '97'
      - '99'
      - A1
      - A2
      - A3
      - A4
      - A5
      - A6
      - A7
      - A8
      - A9
      - AA
      - AB
      - AD
      - AE
      - AF
      - AG
      - AH
      - AI
      - AJ
      - AK
      - AM
      - AO
      - AP
      - AQ
      - AR
      - AS
      - AT
      - AZ
      - BA
      - BL
      - BO
      - BP
      - BR
      - BU
      - CA
      - CB
      - CC
      - CD
      - CE
      - CF
      - CG
      - CH
      - CI
      - CJ
      - CK
      - CL
      - CM
      - CN
      - CR
      - CS
      - CT
      - CO
      - CQ
      - DA
      - E1
      - E2
      - E3
      - E4
      - EA
      - EB
      - EC
      - ED
      - EE
      - EJ
      - EM
      - EP
      - ER
      - ET
      - EV
      - EX
      - EY
      - F1
      - F2
      - F3
      - F4
      - F5
      - F6
      - F7
      - F8
      - F9
      - FA
      - FB
      - FC
      - FP
      - FQ
      - FR
      - FS
      - FT
      - FX
      - FY
      - G0
      - G1
      - G2
      - G3
      - G4
      - G5
      - G6
      - G7
      - G8
      - G9
      - GA
      - GB
      - GC
      - GE
      - GF
      - GG
      - GH
      - GJ
      - GK
      - GL
      - GM
      - GN
      - GO
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GV
      - GW
      - GX
      - GY
      - GZ
      - HA
      - HB
      - HC
      - HD
      - HE
      - HF
      - HG
      - HH
      - HI
      - HJ
      - HK
      - HL
      - HM
      - HN
      - HO
      - HP
      - HQ
      - HR
      - HS
      - HT
      - HU
      - HV
      - HW
      - HX
      - HY
      - HZ
      - J1
      - J2
      - J3
      - J4
      - J5
      - JA
      - JB
      - JC
      - JD
      - JE
      - JG
      - JW
      - JZ
      - K0
      - K1
      - K2
      - K3
      - K4
      - KA
      - KB
      - KC
      - KD
      - KE
      - KF
      - KG
      - KH
      - KI
      - KJ
      - KK
      - KL
      - KM
      - KN
      - KO
      - KP
      - KQ
      - KR
      - KS
      - KT
      - KU
      - KV
      - KW
      - KX
      - KY
      - KZ
      - LC
      - LD
      - LL
      - LM
      - LR
      - LS
      - LT
      - LU
      - M2
      - MA
      - MB
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MS
      - N1
      - N2
      - N3
      - NB
      - NR
      - NU
      - P1
      - P2
      - P3
      - P4
      - P5
      - P6
      - PA
      - PB
      - PC
      - PD
      - PI
      - PL
      - PM
      - PN
      - PO
      - PS
      - PT
      - Q0
      - Q1
      - Q2
      - Q3
      - Q4
      - Q5
      - Q6
      - Q7
      - Q8
      - Q9
      - QA
      - QB
      - QC
      - QD
      - QE
      - QF
      - QG
      - QH
      - QJ
      - QK
      - QL
      - QM
      - QN
      - QP
      - QQ
      - QR
      - QS
      - QT
      - QW
[...]
