openapi: 3.2.0
info:
  title: Reference V4 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: v4
paths:
  /api/patient-payments/v4:
    get:
      operationId: getMulti
      summary: Get patient payments
      description: 'Returns all patient payments satisfying the search criteria AND whose organization_id matches

        the current organization_id of the authenticated user.'
      tags:
      - v4
      parameters:
      - name: limit
        in: query
        description: Defaults to 100. The value must be greater than 0 and less than 1000.
        required: false
        schema:
          type: integer
      - name: patient_external_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PatientExternalId'
      - name: claim_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ClaimId'
      - name: service_line_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ProviderId'
      - name: unattributed
        in: query
        description: returns payments with unattributed allocations if set to true
        required: false
        schema:
          type: boolean
      - name: invoice_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_InvoiceId'
      - name: sources
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_financials_PatientTransactionSource'
      - name: source_internal_id
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Defaults to payment_timestamp
        required: false
        schema:
          $ref: '#/components/schemas/type_patient-payments_v4_PatientPaymentSortField'
      - name: sort_direction
        in: query
        description: Sort direction. Defaults to descending order if not provided.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SortDirection'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments_v4_PatientPaymentsPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: create
      summary: Create patient payment
      description: 'Creates a new patient payment record and returns the newly created PatientPayment object.

        The allocations can describe whether the payment is being applied toward a specific service line,

        claim, or billing provider.'
      tags:
      - v4
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments_v4_PatientPayment'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_cents:
                  type: integer
                payment_timestamp:
                  type: string
                  format: date-time
                payment_note:
                  type: string
                patient_external_id:
                  $ref: '#/components/schemas/type_commons_PatientExternalId'
                allocations:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_financials_AllocationCreate'
                invoice:
                  $ref: '#/components/schemas/type_commons_InvoiceId'
                payment_method_detail:
                  $ref: '#/components/schemas/type_patient-payments_v4_PaymentMethodDetailCreate'
                payment_source:
                  $ref: '#/components/schemas/type_financials_PatientPaymentCreateSource'
                source_internal_id:
                  type: string
                allocation_restrictions:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_financials_AllocationRestrictionCreate'
                  description: 'Optional restrictions constraining which claims this payment''s credit can be

                    auto-allocated to (e.g. billing provider NPI). Restriction (type, value) pairs must be

                    unique. When omitted, the payment is unrestricted.'
              required:
              - amount_cents
              - patient_external_id
              - allocations
  /api/patient-payments/v4/{patient_payment_id}:
    get:
      operationId: get
      summary: Get patient payment
      description: Retrieves a previously created patient payment by its `patient_payment_id`.
      tags:
      - v4
      parameters:
      - name: patient_payment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_patient-payments_v4_PatientPaymentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments_v4_PatientPayment'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update
      description: Updates the patient payment record matching the provided patient_payment_id.
      tags:
      - v4
      parameters:
      - name: patient_payment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_patient-payments_v4_PatientPaymentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments_v4_PatientPayment'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_timestamp:
                  type: string
                  format: date-time
                payment_note:
                  $ref: '#/components/schemas/type_financials_NoteUpdate'
                invoice:
                  $ref: '#/components/schemas/type_financials_InvoiceUpdate'
    delete:
      operationId: delete
      summary: Delete patient payment
      description: Deletes the patient payment record matching the provided patient_payment_id.
      tags:
      - v4
      parameters:
      - name: patient_payment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_patient-payments_v4_PatientPaymentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/encounters/v4:
    get:
      operationId: getAll
      summary: Get all encounters
      tags:
      - v4
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: claim_status
        in: query
        description: Indicates the current status of an insurance claim within the billing process.
        required: false
        schema:
          $ref: '#/components/schemas/type_claims_ClaimStatus'
      - name: sort
        in: query
        description: Defaults to created_at:desc.
        required: false
        schema:
          $ref: '#/components/schemas/type_encounters_v4_EncounterSortOptions'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: date_of_service_min
        in: query
        description: 'Date formatted as YYYY-MM-DD; eg: 2019-08-25.'
        required: false
        schema:
          type: string
          format: date
      - name: date_of_service_max
        in: query
        description: 'Date formatted as YYYY-MM-DD; eg: 2019-08-25.'
        required: false
        schema:
          type: string
          format: date
      - name: primary_payer_names
        in: query
        description: Comma delimited string.
        required: false
        schema:
          type: string
      - name: search_term
        in: query
        description: 'Filter by any of the following fields: encounter_id, claim_id, patient external_id,

          patient date of birth, patient first name, patient last name,

          or encounter external id.'
        required: false
        schema:
          type: string
      - name: external_id
        in: query
        description: Filter to an exact match on encounter external_id, if one exists.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_EncounterExternalId'
      - name: diagnoses_updated_since
        in: query
        description: 'ISO 8601 timestamp; ideally in UTC (although not required): 2019-08-24T14:15:22Z.'
        required: false
        schema:
          type: string
          format: date-time
      - name: tag_ids
        in: query
        description: Filter by name of tags on encounters.
        required: false
        schema:
          $ref: '#/components/schemas/type_tags_TagId'
      - name: work_queue_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_WorkQueueId'
      - name: billable_status
        in: query
        description: Defines if the Encounter is to be billed by Candid to the responsible_party. Examples for when this should be set to NOT_BILLABLE include if the Encounter has not occurred yet or if there is no intention of ever billing the responsible_party.
        required: false
        schema:
          $ref: '#/components/schemas/type_encounters_v4_BillableStatusType'
      - name: responsible_party
        in: query
        description: Defines the party to be billed with the initial balance owed on the claim. Use SELF_PAY if you intend to bill self pay/cash pay.
        required: false
        schema:
          $ref: '#/components/schemas/type_encounters_v4_ResponsiblePartyType'
      - name: owner_of_next_action
        in: query
        description: The party who is responsible for taking the next action on an Encounter, as defined by ownership of open Tasks.
        required: false
        schema:
          $ref: '#/components/schemas/type_encounters_v4_EncounterOwnerOfNextActionType'
      - name: patient_external_id
        in: query
        description: The patient ID from the external EMR platform for the patient
        required: false
        schema:
          type: string
      - name: include_merged_patient_data
        in: query
        description: If true and patient_external_id is set, then also include the encounters of all alternative patients.
        required: false
        schema:
          type: boolean
      - name: billing_provider_npis
        in: query
        description: Filter to encounters whose billing provider matches any of these NPIs.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_Npi'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_EncounterPage'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - InternalError
                  content:
                    $ref: '#/components/schemas/type_commons_InternalErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: create
      summary: Create professional encounter
      tags:
      - v4
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Raised for universal claims that fail to provider either an attending_provider or rendering_provider value
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EncounterRenderingOrAttendingProviderRequired
                    description: Raised for universal claims that fail to provider either an attending_provider or rendering_provider value
                  content:
                    $ref: '#/components/schemas/type_encounters_v4_EncounterRenderingOrAttendingProviderRequiredError'
                    description: Raised for universal claims that fail to provider either an attending_provider or rendering_provider value
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounters_v4_EncounterCreate'
  /api/encounters/v4/{encounter_id}:
    get:
      operationId: get
      summary: Get encounter
      tags:
      - v4
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
    patch:
      operationId: update
      summary: Update professional encounter
      tags:
      - v4
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError
                  content:
                    $ref: '#/components/schemas/type_encounters_v4_PayerPlanGroupPayerDoesNotMatchInsuranceCardError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounters_v4_EncounterUpdate'
  /api/encounters/v4/universal:
    post:
      operationId: create-universal
      summary: Create institutional or professional encounter
      description: 'Notice: The UB-04 Data File, 2025, is copyrighted by American Hospital Association (AHA), Chicago, Illinois.

        No portion of the THE UB-04 Data File, may be reproduced, stored in a retrieval system, or transmitted,

        in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior

        express, written consent of AHA.'
      tags:
      - v4
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Raised for universal claims that fail to provider either an attending_provider or rendering_provider value
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EncounterRenderingOrAttendingProviderRequired
                    description: Raised for universal claims that fail to provider either an attending_provider or rendering_provider value
                  content:
                    $ref: '#/components/schemas/type_encounters_v4_EncounterRenderingOrAttendingProviderRequiredError'
                    description: Raised for universal claims that fail to provider either an attending_provider or rendering_provider value
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounters-universal_UniversalEncounterCreate'
  /api/encounters/v4/create-from-pre-encounter/universal:
    post:
      operationId: create-from-pre-encounter-patient-universal
      summary: Create institutional or professional encounter from pre-encounter patient and appointment
      description: "Create an encounter from a pre-encounter patient and appointment. This endpoint is intended to be used by consumers who are managing\npatients and appointments in the pre-encounter service and is currently under development. Consumers who are not taking advantage\nof the pre-encounter service should use the standard create endpoint.\n\nThe endpoint will create an encounter from the provided fields, pulling information from the provided patient and appointment objects\nwhere applicable. In particular, the following fields are populated from the patient and appointment objects:\n  - Patient\n  - Referring Provider\n  - Subscriber Primary\n  - Subscriber Secondary\n  - Referral Number\n  - Responsible Party\n  - Guarantor\n\nUtilizing this endpoint opts you into automatic updating of the encounter when the patient or appointment is updated, assuming the\nencounter has not already been submitted or adjudicated.\n\nNotice: The UB-04 Data File, 2025, is copyrighted by American Hospital Association (AHA), Chicago, Illinois.\nNo portion of the THE UB-04 Data File, may be reproduced, stored in a retrieval system, or transmitted,\nin any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior\nexpress, written consent of AHA."
      tags:
      - v4
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError
                  content:
                    $ref: '#/components/schemas/type_encounters_v4_PayerPlanGroupPayerDoesNotMatchInsuranceCardError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounters-universal_UniversalEncounterCreateFromPreEncounter'
  /api/encounters/v4/create-from-pre-encounter:
    post:
      operationId: create-from-pre-encounter-patient
      summary: Create professional encounter from pre-encounter patient and appointment
      description: "Create an encounter from a pre-encounter patient and appointment. This endpoint is intended to be used by consumers who are managing\npatients and appointments in the pre-encounter service and is currently under development. Consumers who are not taking advantage\nof the pre-encounter service should use the standard create endpoint.\n\nThe endpoint will create an encounter from the provided fields, pulling information from the provided patient and appointment objects\nwhere applicable. In particular, the following fields are populated from the patient and appointment objects:\n  - Patient\n  - Referring Provider\n  - Subscriber Primary\n  - Subscriber Secondary\n  - Referral Number\n  - Responsible Party\n  - Guarantor\n\nUtilizing this endpoint opts you into automatic updating of the encounter when the patient or appointment is updated, assuming the\nencounter has not already been submitted or adjudicated."
      tags:
      - v4
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError
                  content:
                    $ref: '#/components/schemas/type_encounters_v4_PayerPlanGroupPayerDoesNotMatchInsuranceCardError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounters_v4_EncounterCreateFromPreEncounter'
  /api/encounters/v4/{encounter_id}/universal:
    patch:
      operationId: update-universal
      summary: Update institutional or professional encounter
      description: 'Notice: The UB-04 Data File, 2025, is copyrighted by American Hospital Association (AHA), Chicago, Illinois.

        No portion of the THE UB-04 Data File, may be reproduced, stored in a retrieval system, or transmitted,

        in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior

        express, written consent of AHA.'
      tags:
      - v4
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounters_v4_Encounter'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError
                  content:
                    $ref: '#/components/schemas/type_encounters_v4_PayerPlanGroupPayerDoesNotMatchInsuranceCardError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounters-universal_UniversalEncounterUpdate'
  /api/payers/v4/{payer_uuid}:
    get:
      operationId: get
      summary: Get payer
      tags:
      - v4
      parameters:
      - name: payer_uuid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_payers_v4_PayerUuid'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payers_v4_Payer'
  /api/payers/v4:
    get:
      operationId: getAll
      summary: Get all payers
      tags:
      - v4
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: search_term
        in: query
        required: false
        schema:
          type: string
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_payers_v4_PayerPage'
components:
  schemas:
    type_encounter-providers_v2_ReferringProviderSecondaryIdentificationQualifier:
      type: string
      enum:
      - 0B
      - 1G
      - G2
      title: ReferringProviderSecondaryIdentificationQualifier
    type_commons_EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_commons_UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_encounters_v4_EPSDTReferral:
      type: object
      properties:
        condition_indicator1:
          $ref: '#/components/schemas/type_commons_EPSDTReferralConditionIndicatorCode'
        condition_indicator2:
          $ref: '#/components/schemas/type_commons_EPSDTReferralConditionIndicatorCode'
        condition_indicator3:
          $ref: '#/components/schemas/type_commons_EPSDTReferralConditionIndicatorCode'
      required:
      - condition_indicator1
      title: EPSDTReferral
    type_guarantor_v1_GuarantorCreate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        external_id:
          type: string
        date_of_birth:
          type: string
          format: date
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressShortZip'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_PhoneNumber'
        phone_consent:
          type: boolean
          description: Defaults to false
        email:
          $ref: '#/components/schemas/type_commons_Email'
        email_consent:
          type: boolean
          description: Defaults to false
        auto_charge_consent:
          type: boolean
          description: Defaults to false
      required:
      - first_name
      - last_name
      - external_id
      - address
      title: GuarantorCreate
    type_commons_EPSDTReferralConditionIndicatorCode:
      type: string
      enum:
      - AV
      - NU
      - S2
      - ST
      title: EPSDTReferralConditionIndicatorCode
    type_health-care-code-information_v1_TreatmentCodeInformationNew:
      type: object
      properties:
        treatment_code_qualifier:
          $ref: '#/components/schemas/type_health-care-code-information_v1_TreatmentCodeQualifier'
        treatment_code:
          $ref: '#/components/schemas/type_health-care-code-information_v1_TreatmentCode'
      required:
      - treatment_code_qualifier
      - treatment_code
      description: This corresponds to the TC code qualifier value.
      title: TreatmentCodeInformationNew
    type_encounter-providers_v2_EncounterAdditionalProvider:
      type: object
      properties:
        provider_id:
          $ref: '#/components/schemas/type_encounter-providers_v2_ProviderId'
        first_name:
          type: string
        last_name:
          type: string
        npi:
          type: string
          description: 'A National Provider Identifier is a unique 10-digit identification

            number issued to health care providers in the United States'
        taxonomy_code:
          type: string
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
        tax_id:
          type: string
        license_type:
          $ref: '#/components/schemas/type_organization-providers_v2_LicenseType'
          description: The license type of the provider (e.g., MD, NP, PA, LCSW).
      required:
      - provider_id
      - first_name
      - last_name
      description: A lighter-weight provider type with optional NPI. Used for treating providers and other additional provider roles that may not have full NPI credentials.
      title: EncounterAdditionalProvider
    type_service-lines_v2_ServiceLine:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
        charge_amount_cents:
          type: integer
        allowed_amount_cents:
          type: integer
        insurance_balance_cents:
          type: integer
        patient_balance_cents:
          type: integer
        paid_amount_cents:
          type: integer
        primary_paid_amount_cents:
          type: integer
        secondary_paid_amount_cents:
          type: integer
        tertiary_paid_amount_cents:
          type: integer
        patient_responsibility_cents:
          type: integer
        copay_cents:
          type: integer
        coinsurance_cents:
          type: integer
        deductible_cents:
          type: integer
        diagnosis_id_zero:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        diagnosis_id_one:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        diagnosis_id_two:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        diagnosis_id_three:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        drug_identification:
          $ref: '#/components/schemas/type_service-lines_v2_DrugIdentification'
        service_line_era_data:
          $ref: '#/components/schemas/type_service-lines_v2_ServiceLineERAData'
        service_line_manual_adjustments:
          type: array
          items:
            $ref: '#/components/schemas/type_service-lines_v2_ServiceLineAdjustment'
        related_invoices:
          type: array
          items:
            $ref: '#/components/schemas/type_invoices_Invoice'
        related_invoice_info:
          type: array
          items:
            $ref: '#/components/schemas/type_invoices_v2_InvoiceInfo'
        denial_reason:
          $ref: '#/components/schemas/type_service-lines_v2_ServiceLineDenialReason'
        place_of_service_code:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
          description: 837p Loop2300, SV105. This enum is not used or required in 837i claims. If your organization does not intend to submit claims with a different place of service at the service line level, this field should not be populated. 02 for telemedicine, 11 for in-person. Full list [here](https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set).
        place_of_service_code_as_submitted:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
          description: 837p Loop2300, SV105. 02 for telemedicine, 11 for in-person. Full list [here](https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set).
        service_line_id:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
        procedure_code:
          type: string
        ordering_provider:
          $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        revenue_code:
          type: string
          description: A 4 digit code that specifies facility department or type of service arrangement for institutional service line items (837i). This code is not required for professional claim billing (837p).
        quantity:
          $ref: '#/components/schemas/type_commons_Decimal'
          description: 'String representation of a Decimal that can be parsed by most libraries.

            For professional claims, a ServiceLine quantity cannot contain more than one digit of precision

            (Example: 1.1 is valid, 1.11 is not). For institutional claims, a ServiceLine quantity cannot contain

            more than three decimal digits of precision.'
        units:
          $ref: '#/components/schemas/type_commons_ServiceLineUnits'
        claim_id:
          $ref: '#/components/schemas/type_commons_ClaimId'
        date_of_service_range:
          $ref: '#/components/schemas/type_commons_DateRangeOptionalEnd'
          description: 'A range of dates of service for this service line. If the service line is for a single date, the end date

            will be empty.'
        description:
          type: string
          description: A free-form description to clarify the related data elements and their content. Maps to SV1-01, C003-07 on a 837-P and SV2-02, C003-07 on a 837-I form.
        date_of_service:
          type: string
          format: date
        end_date_of_service:
          type: string
          format: date
        test_results:
          type: array
          items:
            $ref: '#/components/schemas/type_service-lines_v2_TestResult'
          description: 'Contains a list of test results. Test result types may map to MEA-02 on the 837-P (ex: Hemoglobin, Hematocrit).

            This is unused by 837-i and ignored for institutional service lines.

            No more than 5 MEA-02 test results may be submitted per service line.'
        has_epsdt_indicator:
          type: boolean
          description: 'Maps to SV1-11 on the 837-P and Box 24H on the CMS-1500.

            If the value is true, the box will be populated with "Y". Otherwise, the box will not be populated.'
        has_family_planning_indicator:
          type: boolean
          description: 'Maps to SV1-12 on the 837-P and Box 24I on the CMS-1500.

            If the value is true, the box will be populated with "Y". Otherwise, the box will not be populated.'
        note:
          type: string
          description: Maps to NTE02 loop 2400 on the EDI 837.
        prior_authorization_number:
          type: string
          description: Prior authorization number for this service line. Maps to the appropriate REF segment on Loop 2400 of the EDI 837p. This is not used for institutional claims (EDI 837i).
        external_id:
          type: string
          description: 'An external identifier for this service line. This is not used in the EDI 837, but can be used to identify the service line in external systems.

            This field should not contain PHI. Must be unique on a given claim.'
      required:
      - created_at
      - service_line_id
      - procedure_code
      - quantity
      - units
      - claim_id
      - date_of_service_range
      - date_of_service
      title: ServiceLine
    type_financials_AllocationTarget:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - service_line
            description: 'Discriminator value: service_line'
          service_line_id:
            $ref: '#/components/schemas/type_commons_ServiceLineId'
          claim_id:
            $ref: '#/components/schemas/type_commons_ClaimId'
          encounter_id:
            $ref: '#/components/schemas/type_commons_EncounterId'
        required:
        - type
        - service_line_id
        - claim_id
        - encounter_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - claim
            description: 'Discriminator value: claim'
          claim_id:
            $ref: '#/components/schemas/type_commons_ClaimId'
          encounter_id:
            $ref: '#/components/schemas/type_commons_EncounterId'
        required:
        - type
        - claim_id
        - encounter_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - billing_provider_id
            description: 'Discriminator value: billing_provider_id'
          billing_provider_id:
            $ref: '#/components/schemas/type_commons_ProviderId'
        required:
        - type
        - billing_provider_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - appointment
            description: 'Discriminator value: appointment'
          appointment_id:
            $ref: '#/components/schemas/type_commons_AppointmentId'
          patient_external_id:
            $ref: '#/components/schemas/type_commons_PatientExternalId'
        required:
        - type
        - appointment_id
        - patient_external_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - unattributed
            description: 'Discriminator value: unattributed'
        required:
        - type
      discriminator:
        propertyName: type
      description: 'Allocation targets describe whether the portion of a payment is being applied toward a specific service line,

        claim, billing provider, or is unallocated.'
      title: AllocationTarget
    type_organization-service-facilities_v2_OrganizationServiceFacilityId:
      type: string
      format: uuid
      title: OrganizationServiceFacilityId
    type_diagnoses_DiagnosisTypeCode:
      type: string
      enum:
      - ABF
      - ABJ
      - ABK
      - APR
      - BF
      - BJ
      - BK
      - PR
      - DR
      - LOI
      title: DiagnosisTypeCode
    type_health-care-code-information_v1_ValueInformationNew:
      type: object
      properties:
        value_code_qualifier:
          $ref: '#/components/schemas/type_health-care-code-information_v1_ValueCodeQualifier'
        value_code:
          $ref: '#/components/schemas/type_health-care-code-information_v1_ValueCode'
        value_code_amount:
          $ref: '#/components/schemas/type_commons_Decimal'
      required:
      - value_code_qualifier
      - value_code
      - value_code_amount
      description: This corresponds to the BE code qualifier value.
      title: ValueInformationNew
    type_x12_v1_TypeOfBillCompositeUpdate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - raw_code
            description: 'Discriminator value: raw_code'
          value:
            type: string
        required:
        - type
        - value
        description: Full 4 digit type of bill code, starting with a leading 0.
      - type: object
        properties:
          type:
            type: string
            enum:
            - composite_codes
            description: 'Discriminator value: composite_codes'
          type_of_facility:
            $ref: '#/components/schemas/type_x12_v1_TypeOfFacilityCode'
            description: The FL04 Institutional type of facility code for the bill.  The second digit of the composite code.
          type_of_care:
            $ref: '#/components/schemas/type_x12_v1_TypeOfCareCode'
            description: The FL04 Institutional type of care code for the bill.  The third digit of the composite code.
          frequency_code:
            $ref: '#/components/schemas/type_x12_v1_TypeOfBillFrequencyCode'
            description: The FL04 Institutional frequency code for the bill.  The fourth digit of the composite code.
        required:
        - type
        - type_of_facility
        - type_of_care
        - frequency_code
        description: Use composite_codes to send type_of_care, type_of_facility and frequency_code as separate enums.
      discriminator:
        propertyName: type
      description: 'A type of bill can either be seen as a composition of structured parts, or as a literal string.

        This union represents the potential to express a type of bill either as one of those two shapes.

        Passing a string, this update will be seen as a complete 4 digit code, along with a padding code 0, that

        should match a valid composition.

        Passing as a structure, the update will be seen as three parts and will be joined together by the server

        to represent a valid composition for you.

        Which you use depends upon whether you are "passing through" coded information or making a decision about its

        structure explicitly.'
      title: TypeOfBillCompositeUpdate
    type_financials_InvoiceUpdate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - set
            description: 'Discriminator value: set'
          value:
            $ref: '#/components/schemas/type_commons_InvoiceId'
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
        required:
        - type
      discriminator:
        propertyName: type
      title: InvoiceUpdate
    type_encounter-providers_v2_ReferringProvider:
      type: object
      properties:
        first_name:
          type: string
          description: If the provider is an individual, this should be set instead of organization name
        last_name:
          type: string
          description: If the provider is an individual, this should be set instead of organization name
        organization_name:
          type: string
          description: If the provider is an organization, this should be set instead of first + last name
        npi:
          type: string
          description: 'A National Provider Identifier is a unique 10-digit identification

            number issued to health care providers in the United States'
        taxonomy_code:
          type: string
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
        secondary_identification:
          $ref: '#/components/schemas/type_encounter-providers_v2_ReferringProviderSecondaryIdentification'
      required:
      - npi
      title: ReferringProvider
    type_non-insurance-payers_v1_NonInsurancePayer:
      type: object
      properties:
        non_insurance_payer_id:
          $ref: '#/components/schemas/type_non-insurance-payers_v1_NonInsurancePayerId'
        name:
          type: string
        description:
          type: string
        category:
          type: string
        enabled:
          type: boolean
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressShortZip'
        clinical_trials:
          type: array
          items:
            $ref: '#/components/schemas/type_clinical-trials_v1_ClinicalTrial'
      required:
      - non_insurance_payer_id
      - name
      - enabled
      - clinical_trials
      title: NonInsurancePayer
    type_health-care-code-information_v1_RD8Date:
      type: object
      properties:
        start:
          type: string
          format: date
        end:
          type: string
          format: date
      required:
      - start
      - end
      title: RD8Date
    type_guarantor_v1_GuarantorId:
      type: string
      format: uuid
      title: GuarantorId
    type_health-care-code-information_v1_OtherDiagnosisInformationCodeQualifier:
      type: string
      enum:
      - BF
      - ABF
      title: OtherDiagnosisInformationCodeQualifier
    type_commons_StreetAddressShortZip:
      type: object
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          $ref: '#/components/schemas/type_commons_State'
        zip_code:
          type: string
          description: 5-digit zip code
        zip_plus_four_code:
          type: string
          description: 4-digit zip add-on code https://en.wikipedia.org/wiki/ZIP_Code#ZIP+4
      required:
      - address1
      - city
      - state
      - zip_code
      title: StreetAddressShortZip
    type_service-lines_v2_ServiceLineCreate:
      type: object
      properties:
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
        has_epsdt_indicator:
          type: boolean
          description: 'Maps to SV1-11 on the 837-P and Box 24H on the CMS-1500.

            If the value is true, the box will be populated with "Y". Otherwise, the box will not be populated.'
        has_family_planning_indicator:
          type: boolean
          description: 'Maps to SV1-12 on the 837-P and Box 24I on the CMS-1500.

            If the value is true, the box will be populated with "Y". Otherwise, the box will not be populated.'
        quantity:
          $ref: '#/components/schemas/type_commons_Decimal'
          description: 'String representation of a Decimal that can be parsed by most libraries.

            For professional claims, a ServiceLine quantity cannot contain more than one digit of precision

            (Example: 1.1 is valid, 1.11 is not). For institutional claims, a ServiceLine quantity cannot contain

            more than three decimal digits of precision.'
        units:
          $ref: '#/components/schemas/type_commons_ServiceLineUnits'
        charge_amount_cents:
          type: integer
          description: The total amount charged for this service line, factoring in quantity. If procedure_code is updated and this is not, the system will attempt to set it based on chargemasters entries and the service line’s quantity. For example, if a single unit has an entry of 100 cents and 2 units were rendered, the charge_amount_cents will be set to 200, if there is no chargemaster entry, it will default to the amount set in this field.
        drug_identification:
          $ref: '#/components/schemas/type_service-lines_v2_DrugIdentification'
        place_of_service_code:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
          description: 837p Loop2300, SV105. This enum is not used or required in 837i claims. If your organization does not intend to submit claims with a different place of service at the service line level, this field should not be populated. 02 for telemedicine, 11 for in-person. Full list [here](https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set).
        description:
          type: string
          description: A free-form description to clarify the related data elements and their content. Maps to SV1-01, C003-07 on a 837-P and SV2-02, C003-07 on a 837-I form.
        date_of_service:
          type: string
          format: date
        end_date_of_service:
          type: string
          format: date
        ordering_provider:
          $ref: '#/components/schemas/type_encounter-providers_v2_OrderingProvider'
          description: 'Required when the service or supply was ordered by a provider who is different than the rendering provider for this service line.

            If not required by this implementation guide, do not send.'
        test_results:
          type: array
          items:
            $ref: '#/components/schemas/type_service-lines_v2_TestResult'
          description: 'Contains a list of test results. Test result types may map to MEA-02 on the 837-P (ex: Hemoglobin, Hematocrit).

            This is unused by 837-i and ignored for institutional service lines.

            No more than 5 MEA-02 test results may be submitted per service line.'
        note:
          type: string
          description: Maps to NTE02 loop 2400 on the EDI 837.
        prior_authorization_number:
          type: string
          description: Prior authorization number for this service line. Maps to the appropriate REF segment on Loop 2400 of the EDI 837p. This is not used for institutional claims (EDI 837i).
        external_id:
          type: string
          description: 'An external identifier for this service line. This is not used in the EDI 837, but can be used to identify the service line in external systems.

            This field should not contain PHI. Must be unique on a given claim.'
        procedure_code:
          type: string
        diagnosis_pointers:
          type: array
          items:
            type: integer
          description: Indices (zero-indexed) of all the diagnoses this service line references
      required:
      - quantity
      - units
      - procedure_code
      - diagnosis_pointers
      title: ServiceLineCreate
    type_commons_Email:
      type: string
      title: Email
    type_x12_v1_PatientDischargeStatusCode:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 09
      - '20'
      - '21'
      - '30'
      - '40'
      - '41'
      - '42'
      - '43'
      - '50'
      - '51'
      - '61'
      - '62'
      - '63'
      - '64'
      - '65'
      - '66'
      - '69'
      - '70'
      - '81'
      - '82'
      - '83'
      - '84'
      - '85'
      - '86'
      - '87'
      - '88'
      - '89'
      - '90'
      - '91'
      - '92'
      - '93'
      - '94'
      - '95'
      title: PatientDischargeStatusCode
    type_commons_Decimal:
      type: string
      description: String representation of a Decimal that can be parsed by most libraries.
      title: Decimal
    type_commons_Date:
      type: string
      description: ISO 8601 date; formatted YYYY-MM-DD (i.e. 2012-02-01)
      title: Date
    type_encounter-providers_v2_BillingProviderUpdate:
      type: object
      properties:
        first_name:
          type: string
          description: If the provider is an individual, this should be set instead of organization name
        last_name:
          type: string
          description: If the provider is an individual, this should be set instead of organization name
        organization_name:
          type: string
          description: If the provider is an organization, this should be set instead of first + last name
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
        tax_id:
          type: string
          description: If the provider has a contract with insurance, this must be the same tax ID given to the payer on an IRS W-9 form completed during contracting.
        npi:
          type: string
        taxonomy_code:
          type: string
        provider_commercial_license_type:
          $ref: '#/components/schemas/type_commons_BillingProviderCommercialLicenseType'
          description: '837i Loop2010BB G2

            Provider Commercial Number'
        secondary_identification:
          $ref: '#/components/schemas/type_encounter-providers_v2_BillingProviderSecondaryIdentification'
          description: 'Only one of provider_commercial_license_type or secondary_identification may be provided

            837i Loop2010BB G2

            Secondary Identification'
      description: 'The billing provider is the provider or business entity submitting the claim.

        Billing provider may be, but is not necessarily, the same person/NPI as the rendering provider.

        From a payer''s perspective, this represents the person or entity being reimbursed.

        When a contract exists with the target payer, the billing provider should be the entity contracted with the payer.

        In some circumstances, this will be an individual provider. In that case, submit that provider''s NPI and the

        tax ID (TIN) that the provider gave to the payer during contracting.

        In other cases, the billing entity will be a medical group. If so, submit the group NPI and the group''s tax ID.

        Box 33 on the CMS-1500 claim or Form Locator 1 on a UB-04 claim form.'
      title: BillingProviderUpdate
    type_x12_v1_TypeOfBillComposite:
      type: object
      properties:
        type_of_facility:
          $ref: '#/components/schemas/type_x12_v1_TypeOfFacilityCode'
          description: The FL04 Institutional type of facility code for the bill.  The second digit of the composite code.
        type_of_care:
          $ref: '#/components/schemas/type_x12_v1_TypeOfCareCode'
          description: The FL04 Institutional type of care code for the bill.  The third digit of the composite code.
        frequency_code:
          $ref: '#/components/schemas/type_x12_v1_TypeOfBillFrequencyCode'
          description: The FL04 Institutional frequency code for the bill.  The fourth digit of the composite code.
        code:
          type: string
          description: The composite, 4 digit code of the composite, starting with a padding code 0.
      required:
      - type_of_facility
      - type_of_care
      - frequency_code
      - code
      title: TypeOfBillComposite
    type_service-lines_v2_ServiceIdQualifier:
      type: string
      enum:
      - EN
      - EO
      - HI
      - N4
      - 'ON'
      - UK
      - UP
      title: ServiceIdQualifier
    type_encounter-providers_v2_ProviderSecondaryIdentification:
      type: object
      properties:
        reference_identification:
          type: string
          description: Represents REF02 on the EDI 837 Loop 2010BB Billing Provider Secondary Identification segment. Value cannot exceed 50 characters
        reference_identification_qualifier:
          $ref: '#/components/schemas/type_encounter-providers_v2_ProviderSecondaryIdentificationQualifier'
          description: Represents REF01 on the EDI 837 Loop 2010BB Provider Secondary Identification segment.
      required:
      - reference_identification
      title: ProviderSecondaryIdentification
    type_claim-submission_v1_ExternalClaimSubmissionCreate:
      type: object
      properties:
        claim_created_at:
          type: string
          format: date-time
          description: When the claim was created in the external system.
        patient_control_number:
          type: string
          description: 'The Patient Control Number sent on the claim to the payer. To guarantee compatibility with all payers, this field must consist

            only of uppercase letters and numbers and be no more than 14 characters long.'
        submission_records:
          type: array
          items:
            $ref: '#/components/schemas/type_claim-submission_v1_ClaimSubmissionRecordCreate'
          description: 'A successful claim submission record will be created for each value provided.

            An empty list may be provided for cases where the claim originated in an external system but was never submitted to a payer.'
      required:
      - claim_created_at
      - patient_control_number
      - submission_records
      title: ExternalClaimSubmissionCreate
    type_health-care-code-information_v1_SetOrClearPrincipalDiagnosis:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/type_health-care-code-information_v1_PrincipalDiagnosis'
      title: SetOrClearPrincipalDiagnosis
    type_encounter-providers_v2_EncounterProvider:
      type: object
      properties:
        first_name:
          type: string
          description: If the provider is an individual, this should be set instead of organization name
        last_name:
          type: string
          description: If the provider is an individual, this should be set instead of organization name
        organization_name:
          type: string
          description: If the provider is an organization, this should be set instead of first + last name
        provider_id:
          $ref: '#/components/schemas/type_encounter-providers_v2_ProviderId'
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressLongZip'
        tax_id:
          type: string
        npi:
          type: string
        taxonomy_code:
          type: string
        qualifier:
          $ref: '#/components/schemas/type_commons_QualifierCode'
        provider_commercial_license_type:
          $ref: '#/components/schemas/type_commons_BillingProviderCommercialLicenseType'
          description: '837i Loop2010BB G2

            Provider Commercial Number'
        secondary_identification:
          $ref: '#/components/schemas/type_encounter-providers_v2_ProviderSecondaryIdentification'
          description: 'Only one of provider_commercial_license_type or secondary_identification may be provided

            837i Loop2010BB G2

            Secondary Identification'
      required:
      - provider_id
      - address
      - npi
      title: EncounterProvider
    type_commons_InvoiceId:
      type: string
      format: uuid
      title: InvoiceId
    type_health-care-code-information_v1_PrincipalDiagnosis:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: 'The id of this health care code information if it is already stored.

            If this is not set, this is referring to a new health care code information to be added

            to the encounter.  If it is set, this refers to an update of an existing health care code

            information object on the encounter.'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
          description: 'The encounter_id of this health care code information if it is already stored.

            This will be set by the server in responses, but clients are not expected to set it.'
        principal_diagnosis_code_qualifier:
          $ref: '#/components/schemas/type_health-care-code-information_v1_PrincipalDiagnosisCodeQualifier'
        primary_diagnosis_code:
          $ref: '#/components/schemas/type_health-care-code-information_v1_ICDCode'
        present_on_admission_indicator:
          $ref: '#/components/schemas/type_health-care-code-information_v1_PresentOnAdmissionIndicatorCode'
      required:
      - principal_diagnosis_code_qualifier
      - primary_diagnosis_code
      description: This corresponds to BK or ABK code qualifier values.
      title: PrincipalDiagnosis
    type_financials_BalanceEarmark:
      type: object
      properties:
        id:
          type: string
          format: uuid
        target:
          $ref: '#/components/schemas/type_financials_AllocationEarmarkType'
          description: The target for this earmark (date of service or external encounter ID)
        amount_earmarked_cents:
          type: integer
          description: The amount earmarked in cents for future allocation
        created_by_allocation_id:
          $ref: '#/components/schemas/type_commons_AllocationId'
          description: The ID of the allocation that created this earmark
      required:
      - id
      - target
      description: 'Represents an active balance earmarking record that holds allocated funds for future auto-allocation.

        Earmarks are created when funds are allocated but should be held for a specific encounter or date of service.

        Only active (non-deleted) earmarks are returned.'
      title: BalanceEarmark
    type_encounters_v4_IntakeResponseAndFollowUps:
      type: object
      properties:
        response:
          type: string
        follow_ups:
          type: array
          items:
            $ref: '#/components/schemas/type_encounters_v4_IntakeFollowUp'
      title: IntakeResponseAndFollowUps
    type_encounter-providers_v2_ProviderId:
      type: string
      format: uuid
      title: ProviderId
    type_encounters_v4_Vitals:
      type: object
      properties:
        height_in:
          type: integer
        weight_lbs:
          type: integer
        blood_pressure_systolic_mmhg:
          type: integer
        blood_pressure_diastolic_mmhg:
          type: integer
        body_temperature_f:
          type: number
          format: double
        hemoglobin_gdl:
          type: number
          format: double
        hematocrit_pct:
          type: number
          format: double
      title: Vitals
    type_encounters_v4_EncounterSubmissionOriginType:
      type: string
      enum:
      - CANDID
      - EXTERNAL
      title: EncounterSubmissionOriginType
    type_commons_UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
    type_tags_Tag:
      type: object
      properties:
        tag_id:
          $ref: '#/components/schemas/type_tags_TagId'
        description:
          type: string
        color:
          $ref: '#/components/schemas/type_tags_TagColorEnum'
        creator_id:
          type: string
      required:
      - tag_id
      - description
      - color
      - creator_id
      title: Tag
    type_individual_PatientCreate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        gender:
          $ref: '#/components/schemas/type_individual_Gender'
        external_id:
          type: string
          description: The ID used to identify this individual in your system. For example, your internal patient ID or an EHR patient ID.
        date_of_birth:
          type: string
          format: date
          description: Box 3 on the CMS-1500 claim form or Form Locator 10 on a UB-04 claim form. The date format should be in ISO 8601 date; formatted YYYY-MM-DD (i.e. 2012-02-01)
        address:
          $ref: '#/components/schemas/type_commons_StreetAddressShortZip'
          description: Box 5 on the CMS-1500 claim form or Form Locator 9 on a UB-04 claim form.
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_PhoneNumber'
        phone_consent:
          type: boolean
          description: Defaults to false
        email:
          $ref: '#/components/schemas/type_commons_Email'
        non_insurance_payers:
          type: array
          items:
            $ref: '#/components/schemas/type_non-insurance-payers_v1_NonInsurancePayerId'
        non_insurance_payers_info:
          type: array
          items:
            $ref: '#/components/schemas/type_individual_PatientNonInsurancePayerInfoCreate'
        email_consent:
          type: boolean
          description: Defaults to false
        auto_charge_consent:
          type: boolean
          description: Defaults to false
      required:
      - first_name
      - last_name
      - gender
      - external_id
      - date_of_birth
      - address
      title: PatientCreate
    type_invoices_v2_ClaimInvoiceItemInfo:
      type: object
      properties:
        claim_invoice_item:
          $ref: '#/components/schemas/type_invoices_v2_ClaimInvoiceItem'
        service_line_invoice_items:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/type_invoices_v2_ServiceLineInvoiceItem'
      required:
      - service_line_invoice_items
      title: ClaimInvoiceItemInfo
    type_health-care-code-information_v1_ConditionInformation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: 'The id of this health care code information if it is already stored.

            If this is not set, this is referring to a new health care code information to be added

            to the encounter.  If it is set, this refers to an update of an existing health care code

            information object on the encounter.'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
          description: 'The encounter_id of this health care code information if it is already stored.

            This will be set by the server in responses, but clients are not expected to set it.'
        condition_code_qualifier:
          $ref: '#/components/schemas/type_health-care-code-information_v1_ConditionInformationCodeQualifier'
        condition_code:
          $ref: '#/components/schemas/type_health-care-code-information_v1_ConditionCode'
      required:
      - condition_code_qualifier
      - condition_code
      description: This corresponds to the BG code qualifier value.
      title: ConditionInformation
    type_encounters_v4_LabCodeType:
      type: string
      enum:
      - quest
      - labcorp
      title: LabCodeType
    type_commons_SortDirection:
      type: string
      enum:
      - asc
      - desc
      title: SortDirection
    type_health-care-code-information_v1_ConditionCode:
      type: string
      enum:
      - '01'
      - '02'
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '17'
      - '18'
      - '19'
      - '20'
      - '21'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '29'
      - '30'
      - '31'
      - '32'
      - '33'
      - '34'
      - '35'
      - '36'
      - '37'
      - '38'
      - '39'
      - '40'
      - '41'
      - '42'
      - '43'
      - '44'
      - '45'
      - '46'
      - '47'
      - '48'
      - '49'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '59'
      - '60'
      - '61'
      - '66'
      - '67'
      - '68'
      - '69'
      - '70'
      - '71'
      - '72'
      - '73'
      - '74'
      - '75'
      - '76'
      - '77'
      - '78'
      - '79'
      - '80'
      - '81'
      - '82'
      - '83'
      - '84'
      - '85'
      - '86'
      - '87'
      - '88'
      - '89'
      - '90'
      - '91'
      - '92'
      - A0
      - A1
      - A2
      - A3
      - A4
      - A5
      - A6
      - A7
      - A9
      - AA
      - AB
      - AC
      - AD
      - AE
      - AF
      - AG
      - AH
      - AI
      - AJ
      - AK
      - AL
      - AM
      - AN
      - B0
      - B1
      - B2
      - B3
      - B4
      - BP
      - C1
      - C2
      - C3
      - C4
      - C5
      - C6
      - C7
      - D0
      - D1
      - D2
      - D3
      - D4
      - D5
      - D6
      - D7
      - D8
      - D9
      - DR(a)
      - E0
      - G0
      - H0
      - H2
      - H3
      - H4
      - H5
      - P1
      - P7
      - R1
      - R2
      - R3
      - R4
      - R5
      - R6
      - R7
      - R8
      - R9
      - W0
      - W2
      - W3
      - W4
      - W5
      description: '

        FL 18-28 - Condition Codes

        Source: UB-04 Manual 2025, Pages 64-81 (FL18-28, Pages 1-18)

        Excludes codes designated as "Payer Codes" or "FOR PUBLIC HEALTH DATA REPORTING ONLY"

        unless usage on claims is indicated.'
      title: ConditionCode
    type_patient-payments_v3_PatientPaymentStatus:
      type: string
      enum:
      - PENDING
      - paid
      - CANCELED
      - voided
      - FAILED
      - COMPLETED
      - succeeded
      - pending
      - failed
      - requires_action
      - canceled
      title: PatientPaymentStatus
    type_billing-notes_v2_BillingNoteMetadata:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - queue_added
            description: 'Discriminator value: queue_added'
          queue_id:
            type: string
          queue_name:
            type: string
        required:
        - type
        - queue_id
        - queue_name
      - type: object
        properties:
          type:
            type: string
            enum:
            - queue_moved
            description: 'Discriminator value: queue_moved'
          from_queue_id:
            type: string
          from_queue_name:
            type: string
          to_queue_id:
            type: string
          to_queue_name:
            type: string
        required:
        - type
        - from_queue_id
        - from_queue_name
        - to_queue_id
        - to_queue_name
      - type: object
        properties:
          type:
            type: string
            enum:
            - task_created
            description: 'Discriminator value: task_created'
          task_id:
            type: string
            format: uuid
          task_type:
            type: string
        required:
        - type
        - task_id
        - task_type
      discriminator:
        propertyName: type
      title: BillingNoteMetadata
    type_encounters_v4_NoteCategory:
      type: string
      enum:
      - clinical
      - care_plan
      - diagnoses
      - vitals
      - physical_exam
      - review_of_systems
      - medical_decisions
      - history_of_present_illness
      - patient_info
      - chief_complaint
      - health_record
      - consent
      - procedure
      - time_in_appointment
      title: NoteCategory
    type_x12_v1_TypeOfFacilityCode:
      type: string
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '6'
      - '7'
      - '8'
      title: TypeOfFacilityCode
    type_health-care-code-information_v1_OtherProcedureInformationNew:
      type: object
      properties:
        other_procedure_code_qualifier:
          $ref: '#/components/schemas/type_health-care-code-information_v1_OtherProcedureInformationCodeQualifier'
        other_procedure_code:
          $ref: '#/components/schemas/type_health-care-code-information_v1_ICDCode'
        other_procedure_date:
          $ref: '#/components/schemas/type_health-care-code-information_v1_D8Date'
          description: 'An [RFC 3339, section 5.6 datetime](https://ijmacd.github.io/rfc3339-iso8601/).

            For example, 2017-07-21T17:32:28Z.

            In practice, only the date portion of this is used for claim submission, so

            midnight time is fine.'
      required:
      - other_procedure_code_qualifier
      - other_procedure_code
      - other_procedure_date
      description: This corresponds to the BBQ or BQ code qualifier values.
      title: OtherProcedureInformationNew
    type_property-and-casualty_v1_PropertyCasualtyPatientIdentifier:
      type: object
      properties:
        property_casualty_patient_identifier_qualifier:
          $ref: '#/components/schemas/type_property-and-casualty_v1_PropertyCasualtyPatientIdentifierQualifier'
          description: 'Represents REF01 on the EDI 837 Loop 2010CA Property and Casualty Patient Identifier segment.

            Valid values include 1W (Member Identification Number) and SY (Social Security Number).'
        property_casualty_patient_identifier:
          type: string
          description: Represents REF02 on the EDI 837 Loop 2010CA Property and Casualty Patient Identifier segment. Value cannot exceed 50 characters
      required:
      - property_casualty_patient_identifier_qualifier
      - property_casualty_patient_identifier
      title: PropertyCasualtyPatientIdentifier
    type_patient-payments_v4_PaymentMethodDetailCreate:
      type: object
      properties:
        payment_method:
          $ref: '#/components/schemas/type_patient-payments_v4_PaymentMethodCreate'
        collected_at_address:
          $ref: '#/components/schemas/type_commons_StreetAddressShortZip'
        organization_service_facility_id:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
        provider_info:
          $ref: '#/components/schemas/type_patient-payments_v4_PaymentMethodProviderInfo'
      required:
      - payment_method
      title: PaymentMethodDetailCreate
    type_health-care-code-information_v1_OccurrenceInformation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: 'The id of this health care code information if it is already stored.

            If this is not set, this is referring to a new health care code information to be added

            to the encounter.  If it is set, this refers to an update of an existing health care code

            information object on the encounter.'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
          description: 'The encounter_id of this health care code information if it is already stored.

            This will be set by the server in responses, but clients are not expected to set it.'
        occurrence_code_qualifier:
          $ref: '#/components/schemas/type_health-care-code-information_v1_OccurrenceInformationCodeQualifier'
        occurrence_code:
          $ref: '#/components/schemas/type_health-care-code-information_v1_OccurrenceCode'
        occurrence_date:
          $ref: '#/components/schemas/type_health-care-code-information_v1_D8Date'
          description: 'An [RFC 3339, section 5.6 datetime](https://ijmacd.github.io/rfc3339-iso8601/).

            For example, 2017-07-21T17:32:28Z.

            In practice, only the date portion of this is used for claim submission, so

            midnight time is fine.'
      required:
      - occurrence_code_qualifier
      - occurrence_code
      - occurrence_date
      description: This corresponds to the BH code qualifier value.
      title: OccurrenceInformation
    type_health-care-code-information_v1_TreatmentCode:
      type: string
      title: TreatmentCode
    type_service-lines_v2_DenialReasonContent:
      type: string
      enum:
      - Authorization Required
      - Referral Required
      - Medical Records Requested
      - Timely Filing
      - Duplicate Claim
      - Full Contractual Adjustment
      - Incorrect Place of Service
      - Incorrect Patient Gender
      - Incorrect Patient Info
      - Bundled
      - Exceeded Billable Time
      - Invalid Provider Information
      - Invalid Diagnosis Code
      - Incorrect Procedure Code
      - Invalid Modifier
      - Missing NDC Code
      - Invalid Insurance Data
      - No Active Coverage
      - Coordination of Benefits
      - Incorrect Payer
      - Credentialing
      - No Effective Contract
      - Missing W-9
      - Missing Contract Linkage
      - Non-Covered Benefit
      - Experimental Procedure
      - Not Medically Necessary
      - Info Requested from Provider
      - Info Requested from Patient
      - Billing Error
      - Unknown
      - Max Benefit Reached
      title: DenialReasonContent
    type_service-lines_v2_ServiceLineERAData:
      type: object
      properties:
        service_line_adjustments:
          type: array
          items:
            $ref: '#/components/schemas/type_service-lines_v2_ServiceLineAdjustment'
          description: 'Deprecated. This field aggregates all CARCs across a service line''s history

            without granular context

            (e.g., which CARCs relate to denials vs. payments vs. reversals), making it

            unsuitable for denial analysis or operational workflows.'
        remittance_advice_remark_codes:
          type: array
          items:
            type: string
      required:
      - service_line_adjustments
      - remittance_advice_remark_codes
      title: ServiceLineERAData
    type_health-care-code-information_v1_HealthCareCodeInformationCreate:
      type: object
      properties:
        principal_diagnosis:
          $ref: '#/components/schemas/type_health-care-code-information_v1_PrincipalDiagnosisNew'
        other_diagnosis_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_OtherDiagnosisInformationNew'
        admitting_diagnosis:
          $ref: '#/components/schemas/type_health-care-code-information_v1_AdmittingDiagnosisNew'
          description: This object only applies to 837i institutional claim forms.
        patient_reasons_for_visit:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_PatientReasonForVisitNew'
          description: This object only applies to 837i institutional claim forms.
        external_causes_of_injury:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_ExternalCauseOfInjuryNew'
          description: This object only applies to 837i institutional claim forms.
        diagnosis_related_groups:
          $ref: '#/components/schemas/type_health-care-code-information_v1_DiagnosisRelatedGroupNew'
          description: This object only applies to 837i institutional claim forms.
        principal_procedure:
          $ref: '#/components/schemas/type_health-care-code-information_v1_PrincipalProcedureInformationNew'
          description: This object only applies to 837i institutional claim forms.
        other_procedure_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_OtherProcedureInformationNew'
          description: This object only applies to 837i institutional claim forms.
        occurrence_span_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_OccurrenceSpanInformationNew'
          description: This object only applies to 837i institutional claim forms.
        occurrence_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_OccurrenceInformationNew'
          description: This object only applies to 837i institutional claim forms.
        treatment_code_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_TreatmentCodeInformationNew'
          description: This object only applies to 837i institutional claim forms.
        value_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_ValueInformationNew'
          description: This object only applies to 837i institutional claim forms.
        condition_information:
          type: array
          items:
            $ref: '#/components/schemas/type_health-care-code-information_v1_ConditionInformationNew'
          description: This object only applies to 837i institutional claim forms.
      title: HealthCareCodeInformationCreate
    type_encounters_v4_SynchronicityType:
      type: string
      enum:
      - Synchronous
      - Asynchronous
      title: SynchronicityType
    type_patient-payments_v4_PatientPaymentSortField:
      type: string
      enum:
      - payment_source
      - amount_cents
      - payment_timestamp
      - payment_note
      title: PatientPaymentSortField
    type_commons_AppointmentId:
      type: string
      title: AppointmentId
    type_encounters_v4_ClaimSupplementalInformation:
      type: object
      properties:
        attachment_report_type_code:
          $ref: '#/components/schemas/type_commons_ReportTypeCode'
        attachment_transmission_code:
          $ref: '#/components/schemas/type_commons_ReportTransmissionCode'
        attachment_control_number:
          type: string
      required:
      - attachment_report_type_code
      - attachment_transmission_code
      title: ClaimSupplementalInformation
    type_commons_Npi:
      type: string
      title: Npi
    type_health-care-code-information_v1_ValueCodeQualifier:
      type: string
      enum:
      - BE
      title: ValueCodeQualifier
    type_encounters_v4_Lab:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
        code_type:
          $ref: '#/components/schemas/type_encounters_v4_LabCodeType'
      required:
      - name
      title: Lab
    type_property-and-casualty_v1_PropertyCasualtyPatientIdentifierUpdate:
      type: object
      properties:
        property_casualty_patient_identifier_qualifier:
          $ref: '#/components/schemas/type_property-and-casualty_v1_PropertyCasualtyPatientIdentifierQualifier'
          description: 'Represents REF01 on the EDI 837 Loop 2010CA Property and Casualty Patient Identifier segment.

            Valid values include 1W (Member Identification Number) and SY (Social Security Number).'
        property_casualty_patient_identifier:
          type: string
          description: Represents REF02 on the EDI 837 Loop 2010CA Property and Casualty Patient Identifier segment. Value cannot exceed 50 characters
      required:
      - property_casualty_patient_identifier_qualifier
      - property_casualty_patient_identifier
      title: PropertyCasualtyPatientIdentifierUpdate
    type_encounters_v4_PriorAuthorizationNumber:
      type: string
      title: PriorAuthorizationNumber
    type_service-facility_ServiceFacilityId:
      type: string
      format: uuid
      title: ServiceFacilityId
    type_health-care-code-information_v1_TreatmentCodeQualifier:
      type: string
      enum:
      - TC
      title: TreatmentCodeQualifier
    type_billing-notes_v2_BillingNote:
      type: object
      properties:
        text:
          type: string
          description: Empty string not allowed.
        billing_note_id:
          $ref: '#/components/schemas/type_billing-notes_v2_BillingNoteId'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
        created_at:
          type: string
          format: date-time
          description: 'An [RFC 3339, section 5.6 datetime](https://ijmacd.github.io/rfc3339-iso8601/).

            For example, 2017-07-21T17:32:28Z.'
        author_auth0_id:
          type: string
        author_name:
          type: string
        billing_note_type:
          $ref: '#/components/schemas/type_billing-notes_v2_BillingNoteType'
        billing_note_metadata:
          $ref: '#/components/schemas/type_billing-notes_v2_BillingNoteMetadata'
      required:
      - text
      - billing_note_id
      - encounter_id
      - created_at
      title: BillingNote
    type_encounters_v4_ClinicalNoteCategory:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/type_encounters_v4_NoteCategory'
        notes:
          type: array
          items:
            type: string
        notes_structured:
          type: array
          items:
            $ref: '#/components/schemas/type_encounters_v4_ClinicalNote'
      required:
      - category
      - notes
      title: ClinicalNoteCategory
    type_commons_ProcedureModifier:
      type: string
      enum:
      - AV
      - AU
      - AW
      - AY
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '12'
      - '13'
      - '14'
      - '15'
      - '16'
      - '22'
      - '23'
      - '24'
      - '25'
      - '26'
      - '27'
      - '28'
      - '32'
      - '33'
      - '47'
      - '50'
      - '51'
      - '52'
      - '53'
      - '54'
      - '55'
      - '56'
      - '57'
      - '58'
      - '59'
      - '62'
      - '63'
      - '66'
      - '73'
      - '74'
      - '76'
      - '77'
      - '78'
[...]
