openapi: 3.2.0
info:
  title: Reference Events API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: Events
paths:
  /api/events/v1/:
    get:
      operationId: scan
      summary: Scan
      description: Scans the last 30 days of events. All results are sorted by created date, descending.
      tags:
      - Events
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Number of events to return. Minimum value is 1, maximum is 100. Defaults to 10.
        required: false
        schema:
          type: integer
      - name: event_types
        in: query
        description: 'Event types to filter on. Defaults to showing all event types.


          | Event Type | Description |

          |------------|-------------|

          | `CandidApi.Encounter.Created` | When a new claim is created |

          | `CandidApi.Encounter.StatusUpdated` | When a claim''s status has been updated |

          | `PreEncounter.Patient.Created` | When a new patient has been created |

          | `PreEncounter.Patient.Updated` | When a patient''s information has been updated |

          | `PreEncounter.Coverage.Created` | When a new coverage has been created for a patient |

          | `PreEncounter.Coverage.Updated` | When a patient''s coverage has been updated |

          | `PreEncounter.Tag.Created` | When a new tag has been created for a patient |

          | `PreEncounter.Tag.Updated` | When a patient''s tag has been updated |

          | `CandidApi.OrganizationProvider.Created` | When a new organization provider has been created |

          | `CandidApi.OrganizationProvider.Updated` | When an organization provider has been updated |'
        required: false
        schema:
          type: string
      - name: created_before
        in: query
        description: Filters for only events created before this time (inclusive).
        required: false
        schema:
          type: string
          format: date-time
      - name: created_after
        in: query
        description: Filters for only events created after this time (inclusive).
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_events_v1_EventScanPage'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - BadRequestError
                  content:
                    $ref: '#/components/schemas/type_commons_BadRequestErrorMessage'
                required:
                - errorName
                - content
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - InternalError
                  content:
                    $ref: '#/components/schemas/type_commons_InternalErrorMessage'
                required:
                - errorName
                - content
  /api/events/v1/{event_id}:
    get:
      operationId: get
      summary: Get
      tags:
      - Events
      parameters:
      - name: event_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_events_v1_EventId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_events_v1_Event'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - BadRequestError
                  content:
                    $ref: '#/components/schemas/type_commons_BadRequestErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '500':
          description: Error response with status 500
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - InternalError
                  content:
                    $ref: '#/components/schemas/type_commons_InternalErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons_EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons_PageToken:
      type: string
      title: PageToken
    type_commons_InternalErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: InternalErrorMessage
    type_events_v1_EventId:
      type: string
      format: uuid
      title: EventId
    type_events_v1_EventScanPage:
      type: object
      properties:
        next_page_token:
          $ref: '#/components/schemas/type_commons_PageToken'
        items:
          type: array
          items:
            $ref: '#/components/schemas/type_events_v1_Event'
      required:
      - items
      title: EventScanPage
    type_commons_BadRequestErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: BadRequestErrorMessage
    type_events_v1_Event:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/type_events_v1_EventId'
        created_at:
          type: string
          format: date-time
        timestamp:
          type: string
          format: date-time
        event_type:
          type: string
        schema_version:
          type: string
        payload:
          description: Any type
      required:
      - id
      - created_at
      - timestamp
      - event_type
      - schema_version
      - payload
      title: Event
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
