openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_pre-encounter.subpackage_pre-encounter/notes.subpackage_pre-encounter/notes/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_pre-encounter.subpackage_pre-encounter/notes.subpackage_pre-encounter/notes/v1
paths:
  /notes/v1/{id}:
    get:
      operationId: get
      summary: Get
      description: Gets a note by NoteId.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/notes.subpackage_pre-encounter/notes/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:NoteId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/notes/v1:Note'
  /notes/v1:
    post:
      operationId: create
      summary: Create
      description: Adds a new note.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/notes.subpackage_pre-encounter/notes/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/notes/v1:Note'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/notes/v1:MutableNote'
  /notes/v1/{id}/{version}:
    put:
      operationId: update
      summary: Update
      description: Updates a note. The path must contain the most recent version to prevent races.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/notes.subpackage_pre-encounter/notes/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:NoteId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/notes/v1:Note'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/notes/v1:MutableNote'
    delete:
      operationId: deactivate
      summary: Deactivate
      description: Sets a note as deactivated.  The path must contain the most recent version to prevent races.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/notes.subpackage_pre-encounter/notes/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:NoteId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
