openapi: 3.2.0
info:
  title: Reference V2 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: v2
paths:
  /api/billing_notes/v2:
    post:
      operationId: create
      summary: Create billing note
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_billing-notes_v2_BillingNote'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Empty string not allowed.
                encounter_id:
                  $ref: '#/components/schemas/type_commons_EncounterId'
              required:
              - text
              - encounter_id
  /api/billing_notes/v2/{billing_note_id}:
    delete:
      operationId: delete
      summary: Delete billing note
      tags:
      - v2
      parameters:
      - name: billing_note_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_billing-notes_v2_BillingNoteId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - OrganizationNotAuthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_OrganizationNotAuthorizedErrorMessage'
                required:
                - errorName
                - content
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update
      tags:
      - v2
      parameters:
      - name: billing_note_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_billing-notes_v2_BillingNoteId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_billing-notes_v2_BillingNote'
        '400':
          description: Error response with status 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - OrganizationNotAuthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_OrganizationNotAuthorizedErrorMessage'
                required:
                - errorName
                - content
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Empty string not allowed.
              required:
              - text
  /api/contracts/v2/{contract_id}:
    get:
      operationId: get
      summary: Get contract
      description: This API provides access to Professional Contracts. For Professional and Institutional Contracts use Contracts V3.
      tags:
      - v2
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractId'
      - name: organization_id
        in: query
        description: Organization context for cross-org access. If not provided, defaults to the requesting user's organization.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_OrganizationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v2_ContractWithProviders'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: delete
      summary: Delete contract
      tags:
      - v2
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - ContractIsLinkedToFeeScheduleHttpError
                  content:
                    $ref: '#/components/schemas/type_contracts_v2_ContractIsLinkedToFeeScheduleError'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update contract
      tags:
      - v2
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v2_ContractWithProviders'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - ContractInvalidExpirationDateHttpError
                  content:
                    $ref: '#/components/schemas/type_contracts_v2_ContractInvalidExpirationDateError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rendering_provider_ids:
                  type: array
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/type_contracts_v2_RenderingProviderid'
                  description: 'A rendering provider isn''t contracted directly with the payer but can render

                    services under the contract held by the contracting provider.

                    Max items is 4000.'
                effective_date:
                  $ref: '#/components/schemas/type_commons_Date'
                  description: The starting day upon which the contract is effective
                expiration_date:
                  $ref: '#/components/schemas/type_contracts_v2_DateUpdate'
                  description: An optional end day upon which the contract expires
                regions:
                  $ref: '#/components/schemas/type_contracts_v2_RegionsUpdate'
                  description: 'If present, the contract''s rendering providers will be patched to this exact

                    value, overriding what was set before.'
                contract_status:
                  $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
                authorized_signatory:
                  $ref: '#/components/schemas/type_contracts_v2_AuthorizedSignatoryUpdate'
                commercial_insurance_types:
                  $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
                medicare_insurance_types:
                  $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
                medicaid_insurance_types:
                  $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
  /api/contracts/v2:
    get:
      operationId: get_multi
      summary: Get all contracts
      description: This API provides access to Professional Contracts. For Professional and Institutional Contracts use Contracts V3.
      tags:
      - v2
      parameters:
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: limit
        in: query
        description: Max number of contracts returned. Defaults to 1000. Max is 1000.
        required: false
        schema:
          type: integer
      - name: contracting_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractingProviderId'
      - name: rendering_provider_ids
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v2_RenderingProviderid'
      - name: payer_names
        in: query
        description: Filter to contracts that include any of the included payer names.
        required: false
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_State'
      - name: contract_status
        in: query
        description: The status of the contract. Defaults to `pending`
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
      - name: sort
        in: query
        description: Potentially sort by a contract related attribute.  Defaults to created_at
        required: false
        schema:
          $ref: '#/components/schemas/type_contracts_v2_ContractSortField'
      - name: sort_direction
        in: query
        description: Direction of sort, defaulting to desc
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SortDirection'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v2_ContractsPage'
    post:
      operationId: create
      summary: Create contract
      description: Creates a new contract within the user's current organization
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_contracts_v2_ContractWithProviders'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                effective_date:
                  $ref: '#/components/schemas/type_commons_Date'
                  description: The starting day upon which the contract is effective
                expiration_date:
                  $ref: '#/components/schemas/type_commons_Date'
                  description: An optional end day upon which the contract expires
                regions:
                  $ref: '#/components/schemas/type_commons_Regions'
                  description: 'The state(s) to which the contract''s coverage extends.

                    It may also be set to "national" for the entirety of the US.'
                contract_status:
                  $ref: '#/components/schemas/type_contracts_v2_ContractStatus'
                authorized_signatory:
                  $ref: '#/components/schemas/type_contracts_v2_AuthorizedSignatory'
                commercial_insurance_types:
                  $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
                  description: The commercial plan insurance types this contract applies.
                medicare_insurance_types:
                  $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
                  description: The Medicare plan insurance types this contract applies.
                medicaid_insurance_types:
                  $ref: '#/components/schemas/type_contracts_v2_InsuranceTypes'
                  description: The Medicaid plan insurance types this contract applies.
                contracting_provider_id:
                  $ref: '#/components/schemas/type_contracts_v2_ContractingProviderId'
                  description: The UUID of the provider under agreement to the contract
                rendering_provider_ids:
                  type: array
                  uniqueItems: true
                  items:
                    $ref: '#/components/schemas/type_contracts_v2_RenderingProviderid'
                  description: 'A rendering provider isn''t contracted directly with the payer but can render

                    services under the contract held by the contracting provider.

                    Max items is 4000.'
                payer_uuid:
                  type: string
                  format: uuid
                  description: The UUID of the insurance company under agreement to the contract
              required:
              - effective_date
              - regions
              - commercial_insurance_types
              - medicare_insurance_types
              - medicaid_insurance_types
              - contracting_provider_id
              - rendering_provider_ids
              - payer_uuid
  /api/provider-credentialing-span/v2/facility:
    post:
      operationId: createFacility
      summary: Create facility credentialing span
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_facility_id:
                  type: string
                  format: uuid
                  description: The ID of the service facility covered by the credentialing span.
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer covered by the credentialing span.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - service_facility_id
              - contracting_provider_id
              - payer_uuid
    get:
      operationId: getAllFacilities
      summary: Get all facility credentialing spans
      tags:
      - v2
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: payer_uuid
        in: query
        description: Filter by payer.
        required: false
        schema:
          type: string
          format: uuid
      - name: contracting_provider_id
        in: query
        description: Filter to a particular contracting provider.
        required: false
        schema:
          type: string
          format: uuid
      - name: service_facility_id
        in: query
        description: Filter to a particular service facility.
        required: false
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/provider-credentialing-span/v2/facility/{facility_credentialing_id}:
    get:
      operationId: getFacility
      summary: Get facility credentialing span
      tags:
      - v2
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: deleteFacility
      summary: Delete facility credentialing span
      description: Soft deletes a credentialing span rate from the system.
      tags:
      - v2
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: updateFacility
      summary: Update facility credentialing span
      tags:
      - v2
      parameters:
      - name: facility_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_FacilityCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer doing the credentialing.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - contracting_provider_id
  /api/provider-credentialing-span/v2:
    post:
      operationId: create
      summary: Create provider credentialing span
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rendering_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the rendering provider covered by the credentialing span.
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer covered by the credentialing span.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                regions:
                  $ref: '#/components/schemas/type_commons_Regions'
                  description: The states covered by the credentialing span. A span may be national and cover all states.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
              required:
              - rendering_provider_id
              - contracting_provider_id
              - payer_uuid
              - regions
    get:
      operationId: getAll
      summary: Get all provider credentialing spans
      tags:
      - v2
      parameters:
      - name: limit
        in: query
        description: Maximum number of entities per page, defaults to 100.
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: payer_uuid
        in: query
        description: Filter by payer.
        required: false
        schema:
          type: string
          format: uuid
      - name: provider_id
        in: query
        description: Filter to a particular provider. Use in conjunction as_rendering_provider and as_contracting_provider.
        required: false
        schema:
          type: string
          format: uuid
      - name: as_rendering_provider
        in: query
        description: Filter to credentialing spans where the provider is a rendering provider. To use this filter provider_id is required.
        required: false
        schema:
          type: boolean
      - name: as_contracting_provider
        in: query
        description: Filter to credentialing spans where the provider is a contracting provider. To use this filter provider_id is required.
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpanPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
  /api/provider-credentialing-span/v2/{provider_credentialing_id}:
    get:
      operationId: get
      summary: Get provider credentialing span
      tags:
      - v2
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    delete:
      operationId: delete
      summary: Delete provider credentialing span
      description: Soft deletes a credentialing span rate from the system.
      tags:
      - v2
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update provider credentialing span
      tags:
      - v2
      parameters:
      - name: provider_credentialing_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ProviderCredentialingSpanId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_credentialing_v2_ProviderCredentialingSpan'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contracting_provider_id:
                  type: string
                  format: uuid
                  description: The ID of the billing provider for which the rendering provider is covered by the credentialing span.
                payer_uuid:
                  type: string
                  format: uuid
                  description: The ID of the payer doing the credentialing.
                start_date:
                  type: string
                  format: date
                  description: Start date of the credentialing span.
                end_date:
                  type: string
                  format: date
                  description: End date of the credentialing span.
                regions:
                  $ref: '#/components/schemas/type_commons_Regions'
                  description: The states covered by the credentialing span. A span may be national and cover all states.
                submitted_date:
                  type: string
                  format: date
                  description: Date that the credential paperwork was submitted.
                payer_loaded_date:
                  type: string
                  format: date
                  description: Date that the payer loaded the credentialing span into their system.
  /api/eligibility/v2/availity:
    get:
      operationId: submit_eligibility_check_availity
      summary: Submit encounter eligibility check (Availity)
      description: '<Tip>Candid is deprecating support for this endpoint. It is instead recommended to use [Candid''s Stedi passthrough endpoint](https://docs.joincandidhealth.com/api-reference/pre-encounter/eligibility-checks/v-1/post).

        For assistance with the transition, please reference the [Transitioning to Candid''s New Eligibility Endpoint](https://support.joincandidhealth.com/hc/en-us/articles/34918552872980) document in the Candid Support Center.</Tip>


        **Availity has transitioned their GET endpoint to a POST endpoint. Candid has updated their pass-through integration to enable backwards compatibility for the GET endpoint so that customers do not have to immediately update their integrations.**


        **Candid recommends integrations with the [POST endpoint](https://docs.joincandidhealth.com/api-reference/eligibility/v-2/submit-eligibility-check-availity-post) to ensure the best possible integration experience. Given the transition, Availity’s documentation will be out of sync with this endpoint.**


        If you''d like access to this endpoint, please reach out to support@joincandidhealth.com with the subject line "Action: Activate Availity Eligibility API Endpoint


        This API is a wrapper around Availity''s coverages API. Below are some helpful documentation links:


        - [Availity - Coverages 1.0.0 API](https://developer.availity.com/partner/documentation#c_coverages_references)

        - [Candid Availity Eligibility Integration Guide](https://support.joincandidhealth.com/hc/en-us/articles/24218441631892--Availity-Eligibility-Integration-Guide)


        A schema of the response object can be found here: [Availity Docs](https://developer.availity.com/partner/product/191210/api/190898#/Coverages_100/operation/%2Fcoverages%2F{id}/get)

        * Note Availity requires a free developer account to access this documentation.


        Check connection status of Availity API and partners here:

        - [Availity Trading Partner Connection Status](https://www.availity.com/status/)'
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
    post:
      operationId: submit_eligibility_check_availity_post
      summary: Submit encounter eligibility check (Availity Post)
      description: '<Tip>Candid is deprecating support for this endpoint. It is instead recommended to use [Candid''s Stedi passthrough endpoint](https://docs.joincandidhealth.com/api-reference/pre-encounter/eligibility-checks/v-1/post).

        For assistance with the transition, please reference the [Transitioning to Candid''s New Eligibility Endpoint](https://support.joincandidhealth.com/hc/en-us/articles/34918552872980) document in the Candid Support Center.</Tip>


        If you''d like access to this endpoint, please reach out to support@joincandidhealth.com with the subject line "Action: Activate Availity Eligibility API Endpoint


        This API is a wrapper around Availity''s coverages API. Below are some helpful documentation links:


        - [Availity - Coverages 1.0.0 API](https://developer.availity.com/partner/documentation#c_coverages_references)

        - [Candid Availity Eligibility Integration Guide](https://support.joincandidhealth.com/hc/en-us/articles/24218441631892--Availity-Eligibility-Integration-Guide)


        A schema of the response object can be found here: [Availity Docs](https://developer.availity.com/partner/product/191210/api/190898#/Coverages_100/operation/%2Fcoverages%2F{id}/get)

        * Note Availity requires a free developer account to access this documentation.


        Check connection status of Availity API and partners here:

        - [Availity Trading Partner Connection Status](https://www.availity.com/status/)'
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              description: Any type
  /api/encounter-providers/v2/{encounter_id}:
    patch:
      operationId: update_referring_provider
      summary: Update Referring Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_ReferringProviderUpdate'
  /api/encounter-providers/v2/{encounter_id}/initial-referring-provider:
    patch:
      operationId: update_initial_referring_provider
      summary: Update Initial Referring Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_InitialReferringProviderUpdate'
    delete:
      operationId: delete_initial_referring_provider
      summary: Delete Initial Referring Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/encounter-providers/v2/{encounter_id}/supervising-provider:
    patch:
      operationId: update_supervising_provider
      summary: Update Supervising Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_SupervisingProviderUpdate'
    delete:
      operationId: delete_supervising_provider
      summary: Delete Supervising Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/encounter-providers/v2/{service_line_id}/ordering-provider:
    patch:
      operationId: update_ordering_provider
      summary: Update Ordering Provider
      tags:
      - v2
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_OrderingProviderUpdate'
    delete:
      operationId: delete_ordering_provider
      summary: Delete Ordering Provider
      tags:
      - v2
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/encounter-providers/v2/{encounter_id}/create-referring-provider:
    post:
      operationId: create_referring_provider
      summary: Create Referring Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_ReferringProvider'
  /api/encounter-providers/v2/{encounter_id}/create-initial-referring-provider:
    post:
      operationId: create_initial_referring_provider
      summary: Create Initial Referring Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_InitialReferringProvider'
  /api/encounter-providers/v2/{encounter_id}/create-supervising-provider:
    post:
      operationId: create_supervising_provider
      summary: Create Supervising Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_SupervisingProvider'
  /api/encounter-providers/v2/{service_line_id}/create-ordering-provider:
    post:
      operationId: create_ordering_provider
      summary: Create Ordering Provider
      tags:
      - v2
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationsError
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-providers_v2_OrderingProvider'
  /api/encounter-providers/v2/{encounter_id}/referring-provider:
    delete:
      operationId: delete_referring_provider
      summary: Delete Referring Provider
      tags:
      - v2
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
  /api/organization-service-facilities/v2/{organization_service_facility_id}:
    get:
      operationId: get
      summary: Get organization service facility
      tags:
      - v2
      parameters:
      - name: organization_service_facility_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacility'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update organization service facility
      tags:
      - v2
      parameters:
      - name: organization_service_facility_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacility'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityUpdate'
    delete:
      operationId: delete
      summary: Delete organization service facility
      tags:
      - v2
      parameters:
      - name: organization_service_facility_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/organization-service-facilities/v2:
    get:
      operationId: get_multi
      summary: Get all organization service facilities
      tags:
      - v2
      parameters:
      - name: limit
        in: query
        description: Limit the number of results returned. Defaults to 100.
        required: false
        schema:
          type: integer
      - name: name
        in: query
        description: Filter to a name or a part of a name.
        required: false
        schema:
          type: string
      - name: organization_service_facility_ids
        in: query
        description: Filter to the provided organization service facility IDs.
        required: false
        schema:
          $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityId'
      - name: external_ids
        in: query
        description: Filter by one or more external_ids.
        required: false
        schema:
          type: string
      - name: place_of_service_code
        in: query
        description: Filter by Place of Service (POS) code.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
      - name: page_token
        in: query
        description: The page token to continue paging through a previous request.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: organization_id
        in: query
        description: Filter to a specific organization's service facilities. If not provided, defaults to the requesting user's organization.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_OrganizationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityPage'
    post:
      operationId: create
      summary: Create organization service facility
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacility'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacilityCreate'
  /api/organization-service-facilities/v2/external-id/{external_id}:
    get:
      operationId: get_by_external_id
      summary: Get organization service facility by external_id
      description: 'Looks up a single organization service facility by its `external_id` field. This can be useful

        for finding service facilities within Candid which are associated with service facilities in

        an external system.'
      tags:
      - v2
      parameters:
      - name: external_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_organization-service-facilities_v2_OrganizationServiceFacility'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
  /api/service-lines/v2:
    post:
      operationId: create
      summary: Create Service Line
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_service-lines_v2_ServiceLine'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_service-lines_v2_ServiceLineCreateStandalone'
  /api/service-lines/v2/universal:
    post:
      operationId: create-universal
      summary: Create Professional or Institutional Service Line
      tags:
      - v2
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_service-lines_v2_ServiceLine'
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_service-lines_v2_UniversalServiceLineCreateStandalone'
  /api/service-lines/v2/{service_line_id}/universal:
    patch:
      operationId: update-universal
      summary: Update service line for encounter that may be institutional or professional.
      tags:
      - v2
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_service-lines_v2_ServiceLine'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_service-lines_v2_UniversalServiceLineUpdate'
  /api/service-lines/v2/{service_line_id}:
    patch:
      operationId: update
      summary: Update Service Line
      tags:
      - v2
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_service-lines_v2_ServiceLine'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - HttpRequestValidationError
                  content:
                    $ref: '#/components/schemas/type_commons_RequestValidationError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_service-lines_v2_ServiceLineUpdate'
    delete:
      operationId: delete
      summary: Delete Service Line
      tags:
      - v2
      parameters:
      - name: service_line_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '409':
          description: Error response with status 409
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityConflictError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityConflictErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_encounter-providers_v2_ReferringProviderSecondaryIdentificationQualifier:
      type: string
      enum:
      - 0B
      - 1G
      - G2
      title: ReferringProviderSecondaryIdentificationQualifier
    type_commons_EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_contracts_v2_AuthorizedSignatoryUpdate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - set
            description: 'Discriminator value: set'
          first_name:
            type: string
          last_name:
            type: string
          title:
            type: string
          email:
            type: string
          phone:
            type: string
          fax:
            type: string
        required:
        - type
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
        required:
        - type
      discriminator:
        propertyName: type
      title: AuthorizedSignatoryUpdate
    type_commons_UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_contracts_v2_ContractId:
      type: string
      format: uuid
      title: ContractId
    type_service-lines_v2_ServiceLine:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/type_commons_ProcedureModifier'
        charge_amount_cents:
          type: integer
        allowed_amount_cents:
          type: integer
        insurance_balance_cents:
          type: integer
        patient_balance_cents:
          type: integer
        paid_amount_cents:
          type: integer
        primary_paid_amount_cents:
          type: integer
        secondary_paid_amount_cents:
          type: integer
        tertiary_paid_amount_cents:
          type: integer
        patient_responsibility_cents:
          type: integer
        copay_cents:
          type: integer
        coinsurance_cents:
          type: integer
        deductible_cents:
          type: integer
        diagnosis_id_zero:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        diagnosis_id_one:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        diagnosis_id_two:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        diagnosis_id_three:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        drug_identification:
          $ref: '#/components/schemas/type_service-lines_v2_DrugIdentification'
        service_line_era_data:
          $ref: '#/components/schemas/type_service-lines_v2_ServiceLineERAData'
        service_line_manual_adjustments:
          type: array
          items:
            $ref: '#/components/schemas/type_service-lines_v2_ServiceLineAdjustment'
        related_invoices:
          type: array
          items:
            $ref: '#/components/schemas/type_invoices_Invoice'
        related_invoice_info:
          type: array
          items:
            $ref: '#/components/schemas/type_invoices_v2_InvoiceInfo'
        denial_reason:
          $ref: '#/components/schemas/type_service-lines_v2_ServiceLineDenialReason'
        place_of_service_code:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
          description: 837p Loop2300, SV105. This enum is not used or required in 837i claims. If your organization does not intend to submit claims with a different place of service at the service line level, this field should not be populated. 02 for telemedicine, 11 for in-person. Full list [here](https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set).
        place_of_service_code_as_submitted:
          $ref: '#/components/schemas/type_commons_FacilityTypeCode'
          description: 837p Loop2300, SV105. 02 for telemedicine, 11 for in-person. Full list [here](https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set).
        service_line_id:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
        procedure_code:
          type: string
        ordering_provider:
          $ref: '#/components/schemas/type_encounter-providers_v2_EncounterProvider'
        revenue_code:
          type: string
          description: A 4 digit code that specifies facility department or type of service arrangement for institutional service line items (837i). This code is not required for professional claim billing (837p).
        quantity:
          $ref: '#/components/schemas/type_commons_Decimal'
          description: 'String representation of a Decimal that can be parsed by most libraries.

            For professional claims, a ServiceLine quantity cannot contain more than one digit of precision

            (Example: 1.1 is valid, 1.11 is not). For institutional claims, a ServiceLine quantity cannot contain

            more than three decimal digits of precision.'
        units:
          $ref: '#/components/schemas/type_commons_ServiceLineUnits'
        claim_id:
          $ref: '#/components/schemas/type_commons_ClaimId'
[...]
