openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_tasks.subpackage_tasks/v3 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_tasks.subpackage_tasks/v3
paths:
  /api/tasks/v3/{task_id}/actions:
    get:
      operationId: get-actions
      summary: Get task actions
      tags:
      - subpackage_tasks.subpackage_tasks/v3
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:TaskId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks/v3:TaskActions'
  /api/tasks/v3:
    get:
      operationId: get-multi
      summary: Get all tasks
      tags:
      - subpackage_tasks.subpackage_tasks/v3
      parameters:
      - name: limit
        in: query
        description: Defaults to 100
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:PageToken'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_tasks/commons:TaskStatus'
      - name: statuses
        in: query
        description: Only return tasks with a status that matches one in this comma-separated list.
        required: false
        schema:
          type: string
      - name: task_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_tasks/commons:TaskType'
      - name: task_types
        in: query
        description: Only return tasks with a task_type that matches one in this comma-separated list.
        required: false
        schema:
          type: string
      - name: categories
        in: query
        description: Only return tasks with categories that match one in this comma-separated list.
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        description: Only return tasks updated on or after this date-time
        required: false
        schema:
          type: string
          format: date-time
      - name: encounter_id
        in: query
        description: Only return tasks associated with this encounter
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:EncounterId'
      - name: search_term
        in: query
        description: Query tasks by encounter_id, claim_id, task_id, or external_id
        required: false
        schema:
          type: string
      - name: assigned_to_id
        in: query
        description: Only return tasks assigned to this user
        required: false
        schema:
          $ref: '#/components/schemas/type_commons:UserId'
      - name: date_of_service_min
        in: query
        description: The minimum date of service for the linked encounter
        required: false
        schema:
          type: string
          format: date
      - name: date_of_service_max
        in: query
        description: The maximum date of service for the linked encounter
        required: false
        schema:
          type: string
          format: date
      - name: billing_provider_npi
        in: query
        description: The NPI of the billing provider associated with the task's claim
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Defaults to updated_at:desc
        required: false
        schema:
          $ref: '#/components/schemas/type_tasks/v3:TaskSortOptions'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks/v3:TaskPage'
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons:UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: create
      summary: Create task
      tags:
      - subpackage_tasks.subpackage_tasks/v3
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks/v3:Task'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_tasks/v3:TaskCreateV3'
  /api/tasks/v3/{task_id}:
    get:
      operationId: get
      summary: Get task
      tags:
      - subpackage_tasks.subpackage_tasks/v3
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:TaskId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks/v3:Task'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update task
      tags:
      - subpackage_tasks.subpackage_tasks/v3
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons:TaskId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_tasks/v3:Task'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons:UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons:EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - TaskUpdatedToDeprecatedStatusError
                  content:
                    $ref: '#/components/schemas/type_tasks/v3:TaskUpdatedToDeprecatedStatusErrorType'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_tasks/v3:TaskUpdateV3'
components:
  schemas:
    type_commons:EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons:PageToken:
      type: string
      title: PageToken
    type_commons:UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_commons:UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
    type_commons:UserId:
      type: string
      format: uuid
      title: UserId
    type_commons:EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_commons:TaskId:
      type: string
      format: uuid
      title: TaskId
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
