openapi: 3.1.0
info:
  title: API Reference subpackage_auth.subpackage_auth/default subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1
paths:
  /tags/v1/{id}:
    get:
      operationId: get
      summary: Get
      description: Gets a tag by TagId.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:TagId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/tags/v1:Tag'
  /tags/v1:
    get:
      operationId: get-all
      summary: Get All
      description: Gets all tags. Defaults to page size of 1000.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/tags/v1:TagPage'
    post:
      operationId: create
      summary: Create
      description: Adds a new tag if it does not already exist, otherwise, returns the existing tag.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/tags/v1:Tag'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/tags/v1:MutableTag'
  /tags/v1/{id}/{version}:
    put:
      operationId: update
      summary: Update
      description: Updates a tag. The path must contain the most recent version to prevent races.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:TagId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_pre-encounter/tags/v1:Tag'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_pre-encounter/tags/v1:MutableTag'
    delete:
      operationId: deactivate
      summary: Deactivate
      description: Sets a tag as deactivated.  The path must contain the most recent version to prevent races.
      tags:
      - subpackage_pre-encounter.subpackage_pre-encounter/tags.subpackage_pre-encounter/tags/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_pre-encounter/common:TagId'
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
