openapi: 3.2.0
info:
  title: Reference Encounter Supplemental Information API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: Encounter Supplemental Information
paths:
  /api/encounter-supplemental-information/v1/{encounter_id}:
    get:
      operationId: get
      summary: Get Encounter Supplemental Information
      tags:
      - Encounter Supplemental Information
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/type_encounter-supplemental-information_v1_SupplementalInformation'
    put:
      operationId: create
      summary: Create Encounter Supplemental Information
      tags:
      - Encounter Supplemental Information
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-supplemental-information_v1_SupplementalInformation'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-supplemental-information_v1_CreateSupplementalInformationRequest'
  /api/encounter-supplemental-information/v1/{encounter_id}/{supplemental_information_id}:
    patch:
      operationId: update
      summary: Update Encounter Supplemental Information
      tags:
      - Encounter Supplemental Information
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: supplemental_information_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_encounter-supplemental-information_v1_SupplementalInformationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_encounter-supplemental-information_v1_SupplementalInformation'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_encounter-supplemental-information_v1_UpdateSupplementalInformationRequest'
    delete:
      operationId: delete
      summary: Delete Encounter Supplemental Information
      tags:
      - Encounter Supplemental Information
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_commons_EncounterId'
      - name: supplemental_information_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_encounter-supplemental-information_v1_SupplementalInformationId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons_ReportTransmissionCode:
      type: string
      enum:
      - AA
      - BM
      - EL
      - FX
      title: ReportTransmissionCode
    type_encounter-supplemental-information_v1_UpdateSupplementalInformationRequest:
      type: object
      properties:
        attachment_id:
          $ref: '#/components/schemas/type_encounter-attachments_v1_AttachmentId'
        attachment_report_type_code:
          $ref: '#/components/schemas/type_commons_ReportTypeCode'
        attachment_transmission_code:
          $ref: '#/components/schemas/type_commons_ReportTransmissionCode'
        attachment_control_number:
          type: string
        attachment_inclusion:
          $ref: '#/components/schemas/type_encounter-supplemental-information_v1_AttachmentInclusion'
      title: UpdateSupplementalInformationRequest
    type_encounter-supplemental-information_v1_SupplementalInformation:
      type: object
      properties:
        supplemental_information_id:
          $ref: '#/components/schemas/type_encounter-supplemental-information_v1_SupplementalInformationId'
        attachment_id:
          $ref: '#/components/schemas/type_encounter-attachments_v1_AttachmentId'
        attachment_report_type_code:
          $ref: '#/components/schemas/type_commons_ReportTypeCode'
        attachment_transmission_code:
          $ref: '#/components/schemas/type_commons_ReportTransmissionCode'
        attachment_control_number:
          type: string
        attachment_inclusion:
          $ref: '#/components/schemas/type_encounter-supplemental-information_v1_AttachmentInclusion'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
      required:
      - supplemental_information_id
      - attachment_report_type_code
      - attachment_transmission_code
      - attachment_inclusion
      - encounter_id
      title: SupplementalInformation
    type_encounter-attachments_v1_AttachmentId:
      type: string
      format: uuid
      title: AttachmentId
    type_encounter-supplemental-information_v1_AttachmentInclusion:
      type: string
      enum:
      - not_included
      - included_on_next_submission
      - included_on_all_submissions
      title: AttachmentInclusion
    type_encounter-supplemental-information_v1_SupplementalInformationId:
      type: string
      format: uuid
      title: SupplementalInformationId
    type_encounter-supplemental-information_v1_CreateSupplementalInformationRequest:
      type: object
      properties:
        attachment_id:
          $ref: '#/components/schemas/type_encounter-attachments_v1_AttachmentId'
        attachment_report_type_code:
          $ref: '#/components/schemas/type_commons_ReportTypeCode'
        attachment_transmission_code:
          $ref: '#/components/schemas/type_commons_ReportTransmissionCode'
        attachment_control_number:
          type: string
        attachment_inclusion:
          $ref: '#/components/schemas/type_encounter-supplemental-information_v1_AttachmentInclusion'
      required:
      - attachment_report_type_code
      - attachment_transmission_code
      - attachment_inclusion
      title: CreateSupplementalInformationRequest
    type_commons_EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_commons_ReportTypeCode:
      type: string
      enum:
      - '03'
      - '04'
      - '05'
      - '06'
      - '07'
      - 08
      - 09
      - '10'
      - '11'
      - '13'
      - '15'
      - '21'
      - A3
      - A4
      - AM
      - AS
      - B2
      - B3
      - B4
      - BR
      - BS
      - BT
      - CB
      - CK
      - CT
      - D2
      - DA
      - DB
      - DG
      - DJ
      - DS
      - EB
      - HC
      - HR
      - I5
      - IR
      - LA
      - M1
      - MT
      - NN
      - OB
      - OC
      - OD
      - OE
      - OX
      - OZ
      - P4
      - P5
      - PE
      - PN
      - PO
      - PQ
      - PY
      - PZ
      - RB
      - RR
      - RT
      - RX
      - SG
      - V5
      - XP
      title: ReportTypeCode
    type_commons_EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
