openapi: 3.2.0
info:
  title: Reference subpackage_auth.subpackage_auth/default Subpackage Patient Payments.subpackage Patient Payments/v4 API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_patient-payments.subpackage_patient-payments/v4
paths:
  /api/patient-payments/v4:
    get:
      operationId: get-multi
      summary: Get patient payments
      description: 'Returns all patient payments satisfying the search criteria AND whose organization_id matches

        the current organization_id of the authenticated user.'
      tags:
      - subpackage_patient-payments.subpackage_patient-payments/v4
      parameters:
      - name: limit
        in: query
        description: Defaults to 100. The value must be greater than 0 and less than 1000.
        required: false
        schema:
          type: integer
      - name: patient_external_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PatientExternalId'
      - name: claim_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ClaimId'
      - name: service_line_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
      - name: billing_provider_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_ProviderId'
      - name: unattributed
        in: query
        description: returns payments with unattributed allocations if set to true
        required: false
        schema:
          type: boolean
      - name: invoice_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_InvoiceId'
      - name: sources
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_financials_PatientTransactionSource'
      - name: source_internal_id
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Defaults to payment_timestamp
        required: false
        schema:
          $ref: '#/components/schemas/type_patient-payments/v4:PatientPaymentSortField'
      - name: sort_direction
        in: query
        description: Sort direction. Defaults to descending order if not provided.
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_SortDirection'
      - name: page_token
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/type_commons_PageToken'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments/v4:PatientPaymentsPage'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
    post:
      operationId: create
      summary: Create patient payment
      description: 'Creates a new patient payment record and returns the newly created PatientPayment object.

        The allocations can describe whether the payment is being applied toward a specific service line,

        claim, or billing provider.'
      tags:
      - subpackage_patient-payments.subpackage_patient-payments/v4
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments/v4:PatientPayment'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_cents:
                  type: integer
                payment_timestamp:
                  type: string
                  format: date-time
                payment_note:
                  type: string
                patient_external_id:
                  $ref: '#/components/schemas/type_commons_PatientExternalId'
                allocations:
                  type: array
                  items:
                    $ref: '#/components/schemas/type_financials_AllocationCreate'
                invoice:
                  $ref: '#/components/schemas/type_commons_InvoiceId'
                payment_method_detail:
                  $ref: '#/components/schemas/type_patient-payments/v4:PaymentMethodDetailCreate'
                payment_source:
                  $ref: '#/components/schemas/type_financials_PatientPaymentCreateSource'
                source_internal_id:
                  type: string
              required:
              - amount_cents
              - patient_external_id
              - allocations
  /api/patient-payments/v4/{patient_payment_id}:
    get:
      operationId: get
      summary: Get patient payment
      description: Retrieves a previously created patient payment by its `patient_payment_id`.
      tags:
      - subpackage_patient-payments.subpackage_patient-payments/v4
      parameters:
      - name: patient_payment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_patient-payments/v4:PatientPaymentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments/v4:PatientPayment'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
    patch:
      operationId: update
      summary: Update
      description: Updates the patient payment record matching the provided patient_payment_id.
      tags:
      - subpackage_patient-payments.subpackage_patient-payments/v4
      parameters:
      - name: patient_payment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_patient-payments/v4:PatientPaymentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_patient-payments/v4:PatientPayment'
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_timestamp:
                  type: string
                  format: date-time
                payment_note:
                  $ref: '#/components/schemas/type_financials_NoteUpdate'
                invoice:
                  $ref: '#/components/schemas/type_financials_InvoiceUpdate'
    delete:
      operationId: delete
      summary: Delete patient payment
      description: Deletes the patient payment record matching the provided patient_payment_id.
      tags:
      - subpackage_patient-payments.subpackage_patient-payments/v4
      parameters:
      - name: patient_payment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_patient-payments/v4:PatientPaymentId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '403':
          description: Error response with status 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnauthorizedError
                  content:
                    $ref: '#/components/schemas/type_commons_UnauthorizedErrorMessage'
                required:
                - errorName
                - content
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - EntityNotFoundError
                  content:
                    $ref: '#/components/schemas/type_commons_EntityNotFoundErrorMessage'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - UnprocessableEntityError
                  content:
                    $ref: '#/components/schemas/type_commons_UnprocessableEntityErrorMessage'
                required:
                - errorName
                - content
components:
  schemas:
    type_commons_ClaimId:
      type: string
      format: uuid
      title: ClaimId
    type_financials_NoteUpdate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - set
            description: 'Discriminator value: set'
          value:
            type: string
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
        required:
        - type
      discriminator:
        propertyName: type
      title: NoteUpdate
    type_financials_AllocationTargetCreate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - service_line_by_id
            description: 'Discriminator value: service_line_by_id'
          value:
            $ref: '#/components/schemas/type_commons_ServiceLineId'
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - claim_by_id
            description: 'Discriminator value: claim_by_id'
          value:
            $ref: '#/components/schemas/type_commons_ClaimId'
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - claim_by_encounter_external_id
            description: 'Discriminator value: claim_by_encounter_external_id'
          value:
            $ref: '#/components/schemas/type_commons_EncounterExternalId'
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - billing_provider_by_id
            description: 'Discriminator value: billing_provider_by_id'
          value:
            $ref: '#/components/schemas/type_commons_ProviderId'
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - appointment_by_id_and_patient_external_id
            description: 'Discriminator value: appointment_by_id_and_patient_external_id'
          appointment_id:
            $ref: '#/components/schemas/type_commons_AppointmentId'
          patient_external_id:
            $ref: '#/components/schemas/type_commons_PatientExternalId'
        required:
        - type
        - appointment_id
        - patient_external_id
      - type: object
        properties:
          type:
            type: string
            enum:
            - unattributed
            description: 'Discriminator value: unattributed'
        required:
        - type
      discriminator:
        propertyName: type
      description: 'Allocation targets describe whether the portion of a payment is being applied toward a specific service line,

        claim, billing provider, or is unallocated.'
      title: AllocationTargetCreate
    type_commons_ServiceLineId:
      type: string
      format: uuid
      title: ServiceLineId
    type_commons_PageToken:
      type: string
      title: PageToken
    type_commons_PatientExternalId:
      type: string
      title: PatientExternalId
    type_financials_AllocationEarmarkType:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - date_of_service
            description: 'Discriminator value: date_of_service'
          value:
            $ref: '#/components/schemas/type_commons_Date'
        required:
        - type
        - value
        description: Earmark for auto-allocation to an encounter with this specific date of service
      - type: object
        properties:
          type:
            type: string
            enum:
            - external_encounter_id
            description: 'Discriminator value: external_encounter_id'
          value:
            $ref: '#/components/schemas/type_commons_EncounterExternalId'
        required:
        - type
        - value
        description: Earmark for auto-allocation to an encounter with this specific external ID (more specific than date of service)
      discriminator:
        propertyName: type
      description: 'If enabled for your organization, defines how a patient prepayment allocation should be earmarked for future auto-allocation.

        Earmarks hold the allocation until a matching encounter is created, then attempt to allocate to that encounter.

        Only applicable for unattributed allocations.'
      title: AllocationEarmarkType
    type_financials_PatientTransactionSource:
      type: string
      enum:
      - MANUAL_ENTRY
      - CHARGEBEE
      - SQUARE
      - STRIPE
      - ELATION
      - CEDAR
      - HEALTHIE
      - REALLOCATION
      - PHREESIA
      - INSTAMED
      - SHERPA_HEALTH
      title: PatientTransactionSource
    type_commons_AppointmentId:
      type: string
      title: AppointmentId
    type_commons_EncounterExternalId:
      type: string
      title: EncounterExternalId
    type_commons_SortDirection:
      type: string
      enum:
      - asc
      - desc
      title: SortDirection
    type_commons_UnauthorizedErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnauthorizedErrorMessage
    type_commons_EntityNotFoundErrorMessage:
      type: object
      properties:
        id:
          type: string
      required:
      - id
      title: EntityNotFoundErrorMessage
    type_commons_UnprocessableEntityErrorMessage:
      type: object
      properties:
        message:
          type: string
      title: UnprocessableEntityErrorMessage
    type_commons_InvoiceId:
      type: string
      format: uuid
      title: InvoiceId
    type_financials_PatientPaymentCreateSource:
      type: string
      enum:
      - MANUAL_ENTRY
      - PHREESIA
      - SHERPA_HEALTH
      description: Allowed payment sources when creating a patient payment via the API.
      title: PatientPaymentCreateSource
    type_financials_AllocationCreate:
      type: object
      properties:
        amount_cents:
          type: integer
        target:
          $ref: '#/components/schemas/type_financials_AllocationTargetCreate'
        earmark:
          $ref: '#/components/schemas/type_financials_AllocationEarmarkType'
          description: 'If enabled for your organization, optional earmarking configuration for patient prepayments.

            When provided on unattributed allocations, holds the payment for future auto-allocation to matching encounters.'
      required:
      - amount_cents
      - target
      description: 'Allocations are portions of payments that are applied to specific resources, known as targets. Each allocation has

        and amount, defined in cents, and a target.'
      title: AllocationCreate
    type_commons_Date:
      type: string
      description: ISO 8601 date; formatted YYYY-MM-DD (i.e. 2012-02-01)
      title: Date
    type_financials_InvoiceUpdate:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - set
            description: 'Discriminator value: set'
          value:
            $ref: '#/components/schemas/type_commons_InvoiceId'
        required:
        - type
        - value
      - type: object
        properties:
          type:
            type: string
            enum:
            - remove
            description: 'Discriminator value: remove'
        required:
        - type
      discriminator:
        propertyName: type
      title: InvoiceUpdate
    type_commons_ProviderId:
      type: string
      format: uuid
      title: ProviderId
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
