openapi: 3.2.0
info:
  title: Reference subpackage_auth.subpackage_auth/default Subpackage Diagnoses API
  version: 1.0.0
servers:
- url: https://pre-api.joincandidhealth.com
  description: Production
- url: https://pre-api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-pre-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-pre-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:4000
  description: Local
- url: https://api.joincandidhealth.com
  description: Production
- url: https://api-staging.joincandidhealth.com
  description: Staging
- url: https://sandbox-api.joincandidhealth.com
  description: CandidSandbox
- url: https://staging-api.joincandidhealth.com
  description: CandidStaging
- url: http://localhost:5050
  description: Local
tags:
- name: subpackage_diagnoses
paths:
  /api/diagnoses/v2:
    post:
      operationId: create
      summary: Create diagnosis
      description: Creates a new diagnosis for an encounter
      tags:
      - subpackage_diagnoses
      parameters:
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_diagnoses_Diagnosis'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/type_diagnoses_StandaloneDiagnosisCreate'
  /api/diagnoses/v2/{diagnosis_id}:
    patch:
      operationId: update
      summary: Update diagnosis
      description: Updates the diagnosis record matching the provided `diagnosis_id`
      tags:
      - subpackage_diagnoses
      parameters:
      - name: diagnosis_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Response with status 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_diagnoses_Diagnosis'
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - DiagnosisNotFoundHTTPError
                  content:
                    $ref: '#/components/schemas/type_diagnoses_DiagnosisNotFoundError'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - DisallowMultiplePrimaryDiagnosisHTTPError
                  content:
                    $ref: '#/components/schemas/type_diagnoses_DisallowMultiplePrimaryDiagnosisError'
                required:
                - errorName
                - content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Empty string not allowed.
                code_type:
                  $ref: '#/components/schemas/type_diagnoses_DiagnosisTypeCode'
                  description: Typically, providers submitting claims to Candid are using ICD-10 diagnosis codes. If you are using ICD-10 codes, the primary diagnosis code listed on the claim should use the ABK code_type. If more than one diagnosis is being submitted on a claim, please use ABF for the rest of the listed diagnoses. If you are using ICD-9 diagnosis codes, use BK and BF for the principal and following diagnosis code(s) respectively.
                code:
                  type: string
                  description: "Empty string not allowed.\nShould be of the appropriate format for the provided `code_type`.\nMust obey the ICD-10 format if an ICD-10 code_type is provided, specifically:\n  - Letter\n  - Digit\n  - Digit or the letter `A` or `B`\n  - (Optional) Period `.`\n  - Up to 4 (or as few as 0) letters and digits"
                present_on_admission_indicator:
                  $ref: '#/components/schemas/type_yes-no-indicator_YesNoIndicator'
                  description: 'For Institutional claims only.

                    A "Y" indicates that the onset occurred prior to admission to the hospital.

                    An "N" indicates that the onset did NOT occur prior to admission to the hospital.

                    A "U" indicates that it is unknown whether the onset occurred prior to admission to the hospital or not.'
    delete:
      operationId: delete
      summary: Delete diagnosis
      description: Deletes the diagnosis record associated with the provided `diagnosis_id`
      tags:
      - subpackage_diagnoses
      parameters:
      - name: diagnosis_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
      - name: Authorization
        in: header
        description: OAuth authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Error response with status 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - DiagnosisNotFoundHTTPError
                  content:
                    $ref: '#/components/schemas/type_diagnoses_DiagnosisNotFoundError'
                required:
                - errorName
                - content
        '422':
          description: Error response with status 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorName:
                    type: string
                    enum:
                    - ServiceLinesMustHaveAtLeastOneDiagnosisHTTPError
                  content:
                    $ref: '#/components/schemas/type_diagnoses_ServiceLinesMustHaveAtLeastOneDiagnosisError'
                required:
                - errorName
                - content
components:
  schemas:
    type_diagnoses_Diagnosis:
      type: object
      properties:
        name:
          type: string
          description: Empty string not allowed.
        code_type:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisTypeCode'
          description: Typically, providers submitting claims to Candid are using ICD-10 diagnosis codes. If you are using ICD-10 codes, the primary diagnosis code listed on the claim should use the ABK code_type. If more than one diagnosis is being submitted on a claim, please use ABF for the rest of the listed diagnoses. If you are using ICD-9 diagnosis codes, use BK and BF for the principal and following diagnosis code(s) respectively.
        code:
          type: string
          description: "Empty string not allowed.\nShould be of the appropriate format for the provided `code_type`.\nMust obey the ICD-10 format if an ICD-10 code_type is provided, specifically:\n  - Letter\n  - Digit\n  - Digit or the letter `A` or `B`\n  - (Optional) Period `.`\n  - Up to 4 (or as few as 0) letters and digits"
        present_on_admission_indicator:
          $ref: '#/components/schemas/type_yes-no-indicator_YesNoIndicator'
          description: 'For Institutional claims only.

            A "Y" indicates that the onset occurred prior to admission to the hospital.

            An "N" indicates that the onset did NOT occur prior to admission to the hospital.

            A "U" indicates that it is unknown whether the onset occurred prior to admission to the hospital or not.'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
        diagnosis_id:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - code_type
      - code
      - encounter_id
      - diagnosis_id
      - created_at
      - updated_at
      title: Diagnosis
    type_commons_ServiceLineId:
      type: string
      format: uuid
      title: ServiceLineId
    type_diagnoses_ServiceLinesMustHaveAtLeastOneDiagnosisError:
      type: object
      properties:
        diagnosis_id:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        service_line_id:
          $ref: '#/components/schemas/type_commons_ServiceLineId'
        message:
          type: string
      required:
      - diagnosis_id
      - service_line_id
      - message
      title: ServiceLinesMustHaveAtLeastOneDiagnosisError
    type_yes-no-indicator_YesNoIndicator:
      type: string
      enum:
      - 'YES'
      - 'NO'
      - UNKNOWN
      - NOT_APPLICABLE
      title: YesNoIndicator
    type_diagnoses_DiagnosisNotFoundError:
      type: object
      properties:
        diagnosis_id:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        message:
          type: string
      required:
      - message
      title: DiagnosisNotFoundError
    type_diagnoses_DisallowMultiplePrimaryDiagnosisError:
      type: object
      properties:
        existing_primary_diagnosis_id:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        new_primary_diagnosis_id:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisId'
        message:
          type: string
      required:
      - existing_primary_diagnosis_id
      - new_primary_diagnosis_id
      - message
      title: DisallowMultiplePrimaryDiagnosisError
    type_diagnoses_DiagnosisId:
      type: string
      format: uuid
      title: DiagnosisId
    type_commons_EncounterId:
      type: string
      format: uuid
      title: EncounterId
    type_diagnoses_StandaloneDiagnosisCreate:
      type: object
      properties:
        name:
          type: string
          description: Empty string not allowed.
        code_type:
          $ref: '#/components/schemas/type_diagnoses_DiagnosisTypeCode'
          description: Typically, providers submitting claims to Candid are using ICD-10 diagnosis codes. If you are using ICD-10 codes, the primary diagnosis code listed on the claim should use the ABK code_type. If more than one diagnosis is being submitted on a claim, please use ABF for the rest of the listed diagnoses. If you are using ICD-9 diagnosis codes, use BK and BF for the principal and following diagnosis code(s) respectively.
        code:
          type: string
          description: "Empty string not allowed.\nShould be of the appropriate format for the provided `code_type`.\nMust obey the ICD-10 format if an ICD-10 code_type is provided, specifically:\n  - Letter\n  - Digit\n  - Digit or the letter `A` or `B`\n  - (Optional) Period `.`\n  - Up to 4 (or as few as 0) letters and digits"
        present_on_admission_indicator:
          $ref: '#/components/schemas/type_yes-no-indicator_YesNoIndicator'
          description: 'For Institutional claims only.

            A "Y" indicates that the onset occurred prior to admission to the hospital.

            An "N" indicates that the onset did NOT occur prior to admission to the hospital.

            A "U" indicates that it is unknown whether the onset occurred prior to admission to the hospital or not.'
        encounter_id:
          $ref: '#/components/schemas/type_commons_EncounterId'
      required:
      - code_type
      - code
      - encounter_id
      title: StandaloneDiagnosisCreate
    type_diagnoses_DiagnosisTypeCode:
      type: string
      enum:
      - ABF
      - ABJ
      - ABK
      - APR
      - BF
      - BJ
      - BK
      - PR
      - DR
      - LOI
      title: DiagnosisTypeCode
  securitySchemes:
    OAuthScheme:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
